<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Lab: Cleaning Rock Song Data

---

In [2]:
import pandas as pd
import numpy as np

### 1. Load `rock.csv` and do an initial examination of its data columns.

In [3]:
rockfile = "../../../../resource-datasets/rock_songs/rock.csv"

In [7]:
df_rockfile= pd.read_csv("../../../../resource-datasets/rock_songs/rock.csv")

In [8]:
df_rock = pd.DataFrame(df_rockfile)# Load the data.

In [9]:
df_rock.columns# Look at the information regarding its columns.

Index(['Song Clean', 'ARTIST CLEAN', 'Release Year', 'COMBINED', 'First?',
       'Year?', 'PlayCount', 'F*G'],
      dtype='object')

In [51]:
df_rock

,1,2,3,4,5,6,7,8
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1
5,Kryptonite,3 Doors Down,2000,Kryptonite by 3 Doors Down,1,1,13,13
6,Loser,3 Doors Down,2000,Loser by 3 Doors Down,1,1,1,1
7,When I'm Gone,3 Doors Down,2002,When I'm Gone by 3 Doors Down,1,1,6,6
8,What's Up?,4 Non Blondes,1992,What's Up? by 4 Non Blondes,1,1,3,3
9,Take On Me,a-ha,1985,Take On Me by a-ha,1,1,1,1
10,"Baby, Please Don't Go",AC/DC,NaN,"Baby, Please Don't Go by AC/DC",1,0,1,0
11,Back In Black,AC/DC,1980,Back In Black by AC/DC,1,1,97,97
12,Big Gun,AC/DC,1993,Big Gun by AC/DC,1,1,6,6
13,CAN'T STOP ROCK'N'ROLL,AC/DC,NaN,CAN'T STOP ROCK'N'ROLL by AC/DC,1,0,5,0
14,Dirty Deeds Done Dirt Cheap,AC/DC,1976,Dirty Deeds Done Dirt Cheap by AC/DC,1,1,85,85
15,For Those About To Rock,AC/DC,1981,For Those About To Rock by AC/DC,1,1,46,46
16,Girls Got Rhythm,AC/DC,NaN,Girls Got Rhythm by AC/DC,1,0,24,0
17,Hard As A Rock,AC/DC,1995,Hard As A Rock by AC/DC,1,1,1,1
18,Have a Drink On Me,AC/DC,1980,Have a Drink On Me by AC/DC,1,1,39,39
19,Hells Bells,AC/DC,1980,Hells Bells by AC/DC,1,1,74,74
20,Highway To Hell,AC/DC,1979,Highway To Hell by AC/DC,1,1,92,92
21,It's A Long Way To The Top,AC/DC,1975,It's A Long Way To The Top by AC/DC,1,1,39,39
22,Jailbreak,AC/DC,1984,Jailbreak by AC/DC,1,1,1,1
23,Let There Be Rock,AC/DC,1977,Let There Be Rock by AC/DC,1,1,3,3
24,Let's Get It Up,AC/DC,NaN,Let's Get It Up by AC/DC,1,0,4,0
25,Live Wire,AC/DC,NaN,Live Wire by AC/DC,1,0,2,0
26,Moneytalks,AC/DC,NaN,Moneytalks by AC/DC,1,0,20,0
27,Night Prowler,AC/DC,1979,Night Prowler by AC/DC,1,1,1,1
28,Rock and Roll Ain't Noise Pollution,AC/DC,1980,Rock and Roll Ain't Noise Pollution by AC/DC,1,1,21,21
29,Shoot To Thrill,AC/DC,NaN,Shoot To Thrill by AC/DC,1,0,45,0
...,...,...,...,...,...,...,...,...
2200,Owner of a Lonely Heart,Yes,1983,Owner of a Lonely Heart by Yes,1,1,81,81
2201,Roundabout,Yes,1971,Roundabout by Yes,1,1,44,44
2202,Starship Trooper,Yes,1971,Starship Trooper by Yes,1,1,1,1
2203,Wonderous Stories,Yes,NaN,Wonderous Stories by Yes,1,0,5,0
2204,Yours Is No Disgrace,Yes,1971,Yours Is No Disgrace by Yes,1,1,1,1
2205,Tell Me What You Want,Zebra,NaN,Tell Me What You Want by Zebra,1,0,2,0
2206,Who's Behind The Door,Zebra,NaN,Who's Behind The Door by Zebra,1,0,1,0
2207,Time of the Season,Zombies,1968,Time of the Season by Zombies,1,1,14,14
2208,A Fool for Your Stockings,ZZ Top,NaN,A Fool for Your Stockings by ZZ Top,1,0,1,0
2209,Arrested For Driving While Blind,ZZ Top,1976,Arrested For Driving While Blind by ZZ Top,1,1,1,1
2210,Beer Drinkers & Hell Raisers,ZZ Top,1973,Beer Drinkers & Hell Raisers by ZZ Top,1,1,8,8
2211,Cheap Sunglasses,ZZ Top,1980,Cheap Sunglasses by ZZ Top,1,1,34,34
2212,Gimme All Your Lovin,ZZ Top,1983,Gimme All Your Lovin by ZZ Top,1,1,86,86
2213,Got Me Under Pressure,ZZ Top,1983,Got Me Under Pressure by ZZ Top,1,1,29,29
2214,Heard It On the X,ZZ Top,1975,Heard It On the X by ZZ Top,1,1,2,2
2215,I Thank You,ZZ Top,NaN,I Thank You by ZZ Top,1,0,16,0
2216,"I'm Bad, I'm Nationwide",ZZ Top,NaN,"I'm Bad, I'm Nationwide by ZZ Top",1,0,10,0
2217,Jesus Just Left Chicago,ZZ Top,1973,Jesus Just Left Chicago by ZZ Top,1,1,6,6
2218,Just Got Paid,ZZ Top,NaN,Just Got Paid by ZZ Top,1,0,2,0
2219,La Grange,ZZ Top,1973,La Grange by ZZ Top,1,1,111,111
2220,Legs,ZZ Top,1983,Legs by ZZ Top,1,1,121,121
2221,My Head's In Mississippi,ZZ Top,NaN,My Head's In Mississippi by ZZ Top,1,0,1,0
2222,Party On The Patio,ZZ Top,NaN,Party On The Patio by ZZ Top,1,0,14,0
2223,Pearl Necklace,ZZ Top,1981,Pearl Necklace by ZZ Top,1,1,5,5
2224,Sharp Dressed Man,ZZ Top,1983,Sharp Dressed Man by ZZ Top,1,1,120,120
2225,She Loves My Automobile,ZZ Top,NaN,She Loves My Automobile by ZZ Top,1,0,1,0
2226,Tube Snake Boogie,ZZ Top,1981,Tube Snake Boogie by ZZ Top,1,1,32,32
2227,Tush,ZZ Top,1975,Tush by ZZ Top,1,1,109,109
2228,TV Dinners,ZZ Top,1983,TV Dinners by ZZ Top,1,1,1,1
2229,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO,ZZ Top,1973,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO by...,1,1,2,2

In [11]:
df_rock.dtypes

Song Clean      object
ARTIST CLEAN    object
Release Year    object
COMBINED        object
First?           int64
Year?            int64
PlayCount        int64
F*G              int64
dtype: object

### 2.  Clean up the column names.

Let's clean up the column names. There are two ways we can accomplish this:

#### 2.A Change the column names when you import the data using `pd.read_csv()`.

Notice that, when passing `names=[..A LIST OF STRING..]` with a number of columns that matches the number of strings in the passed list, you replace the column names.

NOTE: When you create custom column names, the first row of the `.csv` already represents a header. It is important to tell `pandas` to skip that row. The `skiprows=1` keyword argument to `read_csv()` will tell `pandas` to skip the first row.

In [20]:
new_col_name={"Song Clean":"A","ARTIST CLEAN":"B","Release Year":"C",
              "COMBINED":"D","First?":"E","Year?":"F",
              "PlayCount":"G","F*G":"J"}




# Change the column names when loading the '.csv':

In [19]:
df_rock.head()

,A,B,C,D,E,F,G,H
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

#### 2.B Change column names using the `.rename()` function.

The `.rename()` function takes an argument, `columns=name_dict`, in which `name_dict` is a dictionary containing the original column names as keys and the new column names as values.

In [22]:
df_rock.rename(columns=new_col_name, inplace=True)# Change the column names using the `.rename()` function.

#### 2.C Reassigning the `.columns` attribute of a DataFrame.

You can also just reassign the `.columns` attribute to a list of strings containing the new column names. 

The only caveat with reassigning `.columns` is that you have to reassign all of the column names at once. You can't partially replace a value by working on `.columns` directly. You have to reassign `.columns` with a list of equal length.

In [23]:
new_col_name2=["1","2","3","4","5","6","7","8"]# Replace the column names by reassigning the `.columns` attribute.

In [24]:
df_rock.columns=new_col_name2

In [25]:
df_rock.head()

,1,2,3,4,5,6,7,8
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

### 3. Subsetting data where null values exist.

We have mixed `str` and `NaN` values in the `release` column. `NaN` stands for "not a number" and is the way `pandas` handles "nulls" or nonexistent data. We can use the `.isnull()` method of a Series to find null values.

Print the header of the data subset to where the `release` column is null values.

In [32]:
df_rock["3"].isnull().value_counts() 

# True means on that spot the value is NaN.
# Show records where df['release'] is null

False    1653
True      577
Name: 3, dtype: int64

### 4. Update slices of your DataFrame based on mask selection/slices.

In many scenarios, we want to upate values in our DataFrame according to criteria. Let's say we wanted to set all of the null values in `release` to 0.

With newer versions of `pandas`, in order to manipulate data in the original DataFrame, we have to use `.loc` while performing reassignment using a mask and an index.

For example, the following won't always work:
```python
df[row_mask]['column_name'] = new_value
```

The best way to accomplish the same task is:
```python
df.loc[row_mask, 'column_name'] = new_value
```

For multiple column assignment, you would use:
```python
df.loc[row_mask, ['col_1', 'col_2', 'col_3']] = new_value
```

#### 4.A Let's try it out. Make all of the null values in `release` 0.

In [48]:
df_rock["3"].fillna(0).head() # Replace release nulls with 0

0    1982
1       0
2    1981
3    1980
4    1975
Name: 3, dtype: object

#### 4.B Verify that `release` contains no null values.

In [41]:
df_rock["3"].isnull().sum()  # A:

577

In [49]:
df_rock.isnull().values.any()

True

### 5. Ensure that the data types of the columns make sense. 

Verifying column data types is a critical part of data munging. If columns have the wrong data type, then there is usually corrupted or incorrect data in some of the observations.

#### 5.A Look at the data types for the columns. Are any incorrect given what the data represents?

In [50]:
df_rock.dtypes# A:

1    object
2    object
3    object
4    object
5     int64
6     int64
7     int64
8     int64
dtype: object

### 6. Investigate and clean up the `release` column.

The `release` column is a string data type when it should be an integer.

#### 6.A Figure out what value(s) are causing the `release` column to be encoded as a string instead of an integer.

In [53]:
df_rock["3"].get_dtype_counts()# A:

object    1
dtype: int64

In [56]:
pd.Series(df_rock["3"])

0       1982
1        NaN
2       1981
3       1980
4       1975
5       2000
6       2000
7       2002
8       1992
9       1985
10       NaN
11      1980
12      1993
13       NaN
14      1976
15      1981
16       NaN
17      1995
18      1980
19      1980
20      1979
21      1975
22      1984
23      1977
24       NaN
25       NaN
26       NaN
27      1979
28      1980
29       NaN
        ...
2200    1983
2201    1971
2202    1971
2203     NaN
2204    1971
2205     NaN
2206     NaN
2207    1968
2208     NaN
2209    1976
2210    1973
2211    1980
2212    1983
2213    1983
2214    1975
2215     NaN
2216     NaN
2217    1973
2218     NaN
2219    1973
2220    1983
2221     NaN
2222     NaN
2223    1981
2224    1983
2225     NaN
2226    1981
2227    1975
2228    1983
2229    1973
Name: 3, Length: 2230, dtype: object

#### 6.B Look at the rows in which there is incorrect data in the `release` column.

In [58]:
df_rock.apply(np.lookfor(1981))# A:

Search results for '1981'
-------------------------
Nothing found.

TypeError: ("'NoneType' object is not callable", 'occurred at index 1')

#### 6.C. Clean up the data. Normally we may replace the offending data with null np.nan values, however we previously converted all of the nan values in the release column to zeros so we might as well continue with the same practice. Replacing with 0 (or nan) will allow us to convert the column to numeric.

In [14]:
# A:

### 7. Get summary statistics for the `release` column using the `.describe()` function.

Now that the `release` column is finally a numeric data type, we can apply the `.describe()` function.

#### 7.A Print out the summary stats for the `release` column. What is the earliest and latest release date?

In [15]:
# A:

#### 7.B Based on the summary statistics, is there anything else wrong with the `release` column?

In [16]:
# A:

### 8. Make changes and investigate using custom functions with `.apply()`.

Let's say we want to traverse every single row in our data set and apply a function to that row.

#### 8.A Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970.

In [17]:
# A:

#### 8.B Using the `.apply()` function, apply the function you wrote to the first four rows of the DataFrame.

You will need to tell the `apply` function to operate row by row. Setting the keyword argument as `axis=1` indicates that the function should be applied to each row individually.

In [18]:
# A:

You'll notice that there will be a final output Series of `None` values. The `.apply()` function, if a return value is not specified, will return a Series of `None` values (similar to how the default return for Python functions is `None` when a return statement is not specified).

### 9. Write a function that converts cells in a DataFrame to float and otherwise replaces them with `np.nan`.

If applied to our data, it would keep only the numeric information and otherwise input null values.

Recall that the try-except syntax in Python is a great way to try something and take another action if the initial step fails:

```python
try:
    Perform some action.
except:
   Perform some other action if the first failed with an error.
```

#### 9.A Write the function that takes a column and converts all of its values to float if possible and `np.nan` otherwise. The return value should be the converted Series.

In [19]:
# A:

#### 9.B Try your function out on the rock song data and ensure the output is what you expected.

In [20]:
# A:

#### 9.C Describe the new float-only DataFrame.

In [21]:
# A:

### 10. What are the top 20 most popular songs by plays?

In [22]:
# A:

### 11. Which years have the most plays?

In [23]:
# A:

### 12. Which records don't have matching "Play Count" corresponding to "F*G"?

In [24]:
# A:

### Bonus: Which artists have the most missing values between each of the variables?

In [25]:
# A: