<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Exercises control flow and functions

---

## If - else

---

### 1. Write an if-else statement for multiple conditions.

Print out these recommendations based on the weather conditions:

1. Temperature over 20 ˚C and rain: bring an umbrella.
2. Temperature less than or equal to 20 ˚C and rain: bring an umbrella and a jacket.
3. Temperature over 20 ˚C and sunshine: wear a t-shirt.
4. Temperature less than or equal to 20 ˚C and sunshine: bring a jacket.

In [13]:
rain = True
sunshine = True
x = eval(input("What is the temperature?"))

What is the temperature?12

### 2. Iterate from 1 to 15, printing whether the number is odd or even.

Hint: The modulus operator, `%`, can be used to take the remainder. For example:

```python
9 % 5 == 4
```

Or in other words, the remainder of dividing 9 by 5 is 4.

In [7]:
7%2

1

In [8]:
4%2

0

In [9]:
15%2

1

In [12]:
for i in range(1,15):    #how do I get 15 include? you can just use (1,16)
    
    if i % 2 == 0:
        print(i,"even")
    elif i%2 !=0:
        print(i,"odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even

In [11]:
for i in range(1,15):
    i+=1
    if i% 2 != 0:
        print(i)

3
5
7
9
11
13
15

### 3. Iterate through the animals. Print out the animal name and the number of vowels in the name.

In [1]:
animals = ['duck', 'rat', 'boar', 'elefant', 'mammoth', 'gazelle']

### 4. Iterate from 1 to 30 with the following instructions:

1. If a number is divisible by 3, print 'fizz'. 
2. If a number is divisible by 5, print 'buzz'. 
3. If a number is both divisible by 3 and 5 print 'fizzbuzz'.
4. Otherwise, print just the number.

## Functions

---

### 1. Write a function that takes the length of a side of a square as an argument and returns the area of the square.

In [15]:
def area_square(x):
    return x*x

In [16]:
print(area_square(2))

4

### 2. Write a function that takes a string as an argument and returns a tuple with the string converted to a list and the count of characters

In [ ]:
def my_function(x,y):
    
    return

### 3. Write a one-parameter function that calculates the factorial of an integer given as the argument.

### 4. Write a function that takes a list and returns a list with its unique elements

Example: sample list : [1,2,3,3,3,3,4,5] $\rightarrow$ unique list : [1, 2, 3, 4, 5]

In [17]:
def unique(x):
    return(set(x))

In [18]:
list_1= [1,1,2,3,3,3,4,5,6]

In [19]:
unique(list_1)

{1, 2, 3, 4, 5, 6}

### 5. Write a function that takes two integers passed as strings and returns the sum, difference, and product as a tuple (all values as integers)

In [46]:
def my_function5(x,y):
    x = int (x)
    y = int (y)
    result= [x+y , x-y, x*y]
    return(tuple(result))

In [47]:
print(my_function5(2,5))

(7, -3, 10)

### 6. Write a function that takes a list and returns a tuple where the first item is the list in reverse order and the second item is just the items with an odd index

In [26]:
my_list6=[1,2,3,4,5]

In [27]:
tuple(my_list6)

(1, 2, 3, 4, 5)

---

### 7. Write a function that takes word as an argument and returns the number of vowels in the word.

Try it out on 3 words.

In [48]:
def my_function7(x,y):
    vowel_set = [a,e,i,o,u]
    for letter in x:
        if letter = vowel_set:
            i = i +1

SyntaxError: invalid syntax (<ipython-input-48-32722c192f9e>, line 4)

In [49]:
list_x= [10,2,3,10,4,5,10,46]
for i in list_x:
    if i == 10:
        print("ok")
    else:
        print("not ok")

ok
not ok
not ok
ok
not ok
not ok
ok
not ok

### 8. Challenge Problem: Write a function that returns the score for a word. Each letter's score is equal to it's position in the alphabet. The score of the word is the score of the letters. So for example:

* A = 1, B = 2, C = 3, D = 4, E = 5
* abe = 8 = (1 + 2 + 5)

##### Hint: The string library has a property ascii_lowercase that can save some typing here.

In [2]:
import string

### 9. Write a function which takes a string as the argument and returns it reversed.

### 10.  Write a function that checks whether a passed string is a palindrome or not

A palindrome is a word, a phrase, or a sequence that reads the same backward as forward (neglecting spaces), e.g., madam or nurses run. You are allowed to use your string reverse function.