<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Web Scraping using Selenium

---

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Installation" data-toc-modified-id="Installation-1">Installation</a></span></li><li><span><a href="#First-example:-Scroll-down!" data-toc-modified-id="First-example:-Scroll-down!-2">First example: Scroll down!</a></span></li><li><span><a href="#Second-example:-Click-for-more!" data-toc-modified-id="Second-example:-Click-for-more!-3">Second example: Click for more!</a></span></li></ul></div>

## Installation

There are a couple of installations you need to do to prepare for using Selenium:

1. Install a webdriver. This is what Selenium uses to interact with the web browser.

Go to: https://sites.google.com/a/chromium.org/chromedriver/downloads

Download the correct version for your machine.

2. Install Selenium. This is done using the `pip install selenium` command in the terminal.

In [1]:
#!pip install selenium

In [12]:
import numpy as np
import pandas as pd
from selenium import webdriver
from time import time, sleep

## First example: Scroll down!

In [13]:
driver = webdriver.Chrome(executable_path='./chromedriver')
driver.get('https://www.next.co.uk/shop/gender-men/feat-newin')
start = time()
while time()-start<5:
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
item_tags = driver.find_elements_by_class_name('Info')
item_names = []
item_prices = []
for item in item_tags:
    try:
        item_names.append(item.find_element_by_class_name('Title').text)
        item_prices.append(item.find_element_by_class_name('Price').text)
    except:
        pass
items = pd.DataFrame({'Item': item_names,
                        'Price': item_prices})

In [14]:
items.head()

                                 Item Price
0  Light Blue Vertical Stripe T-Shirt   £18
1    Turquoise Regular Fit Pique Polo   £18
2         Ginger Classic Chino Shorts   £16
3                    Khaki Pique Polo   £18
4      Magenta Regular Fit Pique Polo   £18

In [15]:
items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 2 columns):
Item     48 non-null object
Price    48 non-null object
dtypes: object(2)
memory usage: 848.0+ bytes

In [16]:
items.duplicated().sum()

2

## Second example: Click for more!

In [19]:
driver = webdriver.Chrome('./chromedriver')
driver.get('https://www.edie.net/news/')

start = time()
while time()-start<2: continue

for x in range(10):
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    button = driver.find_element_by_class_name('read-more')
    button.click()
    start = time()
    while time()-start<3: continue

article_tags = driver.find_elements_by_class_name('story')
article_titles = []
article_urls = []

for article in article_tags:
    try:
        article_titles.append(article.find_element_by_tag_name('h2').text)
    except:
        article_titles.append(np.nan)
    try:
        article_urls.append(article.find_element_by_tag_name('a').get_attribute('href'))
    except:
        article_urls.append(np.nan)

articles = pd.DataFrame({'Title': article_titles,
                        'URL': article_urls})

In [20]:
articles.head()

,Title,URL
0,How Burberry joined the business elite in sett...,NaN
1,Business giants commit to delivering net-zero ...,https://www.edie.net/news/9/Business-giants-co...
2,Earth Overshoot Day: What is the business case...,https://www.edie.net/news/12/Earth-Overshoot-D...
3,HSBC: Investment in sustainability becoming ma...,https://www.edie.net/news/7/HSBC--Investment-i...
4,Defra proposes personal water 'budgets',https://www.edie.net/news/4/Defra-proposes-per...

In [21]:
articles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 2 columns):
Title    108 non-null object
URL      107 non-null object
dtypes: object(2)
memory usage: 1.8+ KB

In [22]:
articles.duplicated().sum()

0