In [4]:
import pandas as pd
import numpy as numpy

#### create clients info using dict

In [155]:
# title exp: Mr Ma, 
title =['mr_ma', 'inc_shun', 'mr_liu', 'mr_yang', 'mrs_wang', 'mrs_vicky','mrs_peng','mrs_peng']



fact_find = ['yes', 'no',   'yes',   'yes',      'yes',      'no',        'no','no']


# Confirming Your Identity aka cfm_id
cfm_id = ['yes','no','no','no','no','no','no','no']

# email, email for feasible contact
email = ['info@johnsonlaws.org', 'yuqianjun@sf-express.com', 'michaelkofk@hotmail.com', None, \
        'wy1675@hotmail.com', None, None,'teresa.kitying.peng@gmail.com']

mobil = ['07888668006', '13612866586', '18678968329', '07880805045', '07727951698', None, None,'07848414401']

address = ['Brooklime apartments, 84 bittacy hill', None, 'X1 Eastbank Tower, Great Ancoats Street, Manchester',\
                    '48 Milton Road', '48 Milton Road', '27 Fairlie Road, Oxford', '27 Fairlie Road, Oxford',
          '57 Century Court, Woking']

postcode = ['NW71TJ', None, 'M47FE', 'OX144BS', 'OX144BS', 'OX4 3SW', 'OX4 3SW','GU216DR']

acnt_active = ['yes', 'no', 'no', 'no', 'no', 'no', 'no','no']

isa_active = ['yes', 'no', 'no', 'no', 'no', 'no', 'no','no']

# ff_date stands for Fact_Find_date
ff_date = ['2021-04-13', None, '2021-06-28', '2021-07-02', '2021-07-05', None, None,'2021-07-16']

complt_date = ['2021-04-26', None, None, None, None, None, None,None]

notes = ['马哥入金10g, 5g买入Pensana',\
         '顺丰7.12 联系人换成JJ于倩军  通知我方 LEI: 213800TL154EZL51LW66 ,Official Entity Name: 滙勝亞洲有限公司 Annual Renewal Date: 08/07/2022', \
         '刘成无法confirm identity，因为银行，水电费单地址无法相互证明', \
         '杨哥等待confirm identity中',\
         '艺姐等待confirm identity中',\
         'Vicky7.8 银行卡是V的名字,但水电费单子是老公的名字',\
         '彭姐7.8 银行账单，护照都ok。但缺水电费市政税的某一个单子',\
        '媳妇,娱乐7.16做fact find']

#### 将data变成dataframe

In [156]:
data = {'title':title, 'fact_find':fact_find,'cfm_id':cfm_id, 'mobil':mobil,'email':email,'acnt_active': acnt_active,
       'isa_active':isa_active,'ff_date':ff_date, 'complt_date':complt_date, 'address':address,'postcode':postcode, 'notes': notes}

In [157]:
df = pd.DataFrame.from_dict(data)
df

,title,fact_find,cfm_id,mobil,email,acnt_active,isa_active,ff_date,complt_date,address,postcode,notes
0,mr_ma,yes,yes,07888668006,info@johnsonlaws.org,yes,yes,2021-04-13,2021-04-26,"Brooklime apartments, 84 bittacy hill",NW71TJ,"马哥入金10g, 5g买入Pensana"
1,inc_shun,no,no,13612866586,yuqianjun@sf-express.com,no,no,None,None,None,None,顺丰7.12 联系人换成JJ于倩军 通知我方 LEI: 213800TL154EZL51L...
2,mr_liu,yes,no,18678968329,michaelkofk@hotmail.com,no,no,2021-06-28,None,"X1 Eastbank Tower, Great Ancoats Street, Manch...",M47FE,刘成无法confirm identity，因为银行，水电费单地址无法相互证明
3,mr_yang,yes,no,07880805045,None,no,no,2021-07-02,None,48 Milton Road,OX144BS,杨哥等待confirm identity中
4,mrs_wang,yes,no,07727951698,wy1675@hotmail.com,no,no,2021-07-05,None,48 Milton Road,OX144BS,艺姐等待confirm identity中
5,mrs_vicky,no,no,None,None,no,no,None,None,"27 Fairlie Road, Oxford",OX4 3SW,"Vicky7.8 银行卡是V的名字,但水电费单子是老公的名字"
6,mrs_peng,no,no,None,None,no,no,None,None,"27 Fairlie Road, Oxford",OX4 3SW,彭姐7.8 银行账单，护照都ok。但缺水电费市政税的某一个单子
7,mrs_peng,no,no,07848414401,teresa.kitying.peng@gmail.com,no,no,2021-07-16,None,"57 Century Court, Woking",GU216DR,"媳妇,娱乐7.16做fact find"

In [147]:
df.loc[df['title']=='mr_liu',:]

,title,fact_find,cfm_id,mobil,email,acnt_active,isa_active,ff_date,complt_date,address,postcode,notes
2,mr_liu,yes,no,18678968329,michaelkofk@hotmail.com,no,no,2021-06-28,None,"X1 Eastbank Tower, Great Ancoats Street, Manch...",M47FE,无法confirm identity，因为银行，水电费单地址无法相互证明

In [154]:
df.to_excel('clients.xlsx')

In [150]:
!pwd

/Users/paxton615/Github_Personal/Notes/Notes