In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [6]:
!ls /Users/paxton615/database/resource-datasets/titanic

titanic.csv       titanic_clean.csv titanic_test.csv  titanic_train.csv

In [7]:
titanic = pd.read_csv('/Users/paxton615/database/\
resource-datasets/titanic/titanic.csv')

In [9]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [10]:
x = titanic[['Pclass', 'Sex', 'Age', 'SibSp','Fare', ]]
y = titanic['Survived']

In [13]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Sex     891 non-null    object
 2   Age     891 non-null    float64
 3   SibSp   891 non-null    int64
 4   Fare    891 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 34.9+ KB

In [12]:
x.Age = x.Age.fillna(x.Age.mean())

####