<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Autocorrelation and time series decomposition practice



---

### Take the AAPL stock data

- Extract the closing prices 
- Decompose the time series 
- Investigate for (partial) autocorrelations

> **Bonus:** 
> - Resample the data weekly and repeat the same steps.
> - Difference the time series and repeat the same steps.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from scipy import stats

plt.style.use('fivethirtyeight')

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [2]:
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.seasonal import seasonal_decompose

In [3]:
df = pd.read_csv('datasets/aapl.csv')

In [4]:
df.head()

        Date    Open    High     Low   Close    Volume
0  13-Jan-17  119.11  119.62  118.81  119.04  26111948
1  12-Jan-17  118.90  119.30  118.21  119.25  27086220
2  11-Jan-17  118.74  119.93  118.60  119.75  27588593
3  10-Jan-17  118.77  119.38  118.30  119.11  24462051
4   9-Jan-17  117.95  119.43  117.94  118.99  33561948

In [ ]:
df.set_index("Date", drop=True)