# My data is 1.5GB.  The content inclues user info, product info, user log, 
# purchase details, etc.

# My data is clean, it's from mysql database.

# However, in my computer mysql wrench have a problem which is all csv file exported from it , they can't show 
# Chinese characters.

# Here is a glimpse of part of my data.

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('/Users/paxton615/Desktop/pay_recharge_log.csv' )

In [4]:
data.head()

   id  user_id  type type_name  amount  paid_amount        recharge_time
0  14      304     1       ...     1.0          0.0  2017-07-17 11:26:56
1  15     2525     1       ...     1.0          0.0  2017-07-17 17:36:50
2  16     2133     1       ...     1.0          0.0  2017-07-17 17:53:27
3  17     2260     1       ...     1.0          0.0  2017-07-17 22:13:43
4  18     2542     1       ...     1.0          0.0  2017-07-17 23:31:54

In [5]:
data1 = pd.read_csv('/Users/paxton615/Desktop/pay_coupon_code.csv' )

In [6]:
data1.head()

,id,code_txt,expiry_time,max_times,discount_price,discount_rate,gate_price,owner_id,target_id,group_id,beneficiary_id,reversible,flag,used_times,expiry_days
0,1,...,2015-10-16 18:40:00,0,100.0,0,0.0,0,0,0,0,0,2,0,30
1,2,...,2015-10-21 18:44:00,1,0.0,500,0.0,0,0,0,0,0,2,0,30
2,4,...,2015-10-30 18:13:53,1,0.0,5000,0.0,0,0,0,0,0,2,0,30
3,5,...,2015-12-31 23:59:23,100,30.0,0,31.0,0,0,0,0,0,2,0,30
4,7,...,2015-12-31 10:16:45,200,30.0,0,49.0,0,0,0,0,0,2,0,30

# In terms of my y variables. I am planning to use "price", and "duration of video", as some of my y variables.