In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
!pwd

/Users/paxton615/Github_Personal/Notes/Notes/Weather_stations

In [3]:
!ls

Download_station_data.ipynb Weather_stations
Weather_station_data.ipynb

In [4]:
station_names = ['Aberporth', 'Armagh', 'Ballypatrick Forest', 'Bradford', 'Braemar', 'Camborne', 'Cambridge NIAB', 'Cardiff Bute Park',
 'Chivenor', 'Cwmystwyth', 'Dunstaffnage', 'Durham', 'Eastbourne', 'Eskdalemuir', 'Heathrow', 'Hurn', 'Lerwick',
 'Leuchars', 'Lowestoft', 'Manston', 'Nairn', 'Newton Rigg', 'Oxford', 'Paisley', 'Ringway', 'Ross-on-Wye',
 'Shawbury', 'Sheffield', 'Southampton', 'Stornoway Airport', 'Sutton Bonington', 'Tiree', 'Valley',
 'Waddington', 'Whitby', 'Wick Airport', 'Yeovilton']

In [133]:
lower_station_names = []
for i in station_names:
    lower_station_names.append(i.lower().replace(' ','_').replace('-','_'))

In [134]:
lower_station_names

['aberporth',
 'armagh',
 'ballypatrick_forest',
 'bradford',
 'braemar',
 'camborne',
 'cambridge_niab',
 'cardiff_bute_park',
 'chivenor',
 'cwmystwyth',
 'dunstaffnage',
 'durham',
 'eastbourne',
 'eskdalemuir',
 'heathrow',
 'hurn',
 'lerwick',
 'leuchars',
 'lowestoft',
 'manston',
 'nairn',
 'newton_rigg',
 'oxford',
 'paisley',
 'ringway',
 'ross_on_wye',
 'shawbury',
 'sheffield',
 'southampton',
 'stornoway_airport',
 'sutton_bonington',
 'tiree',
 'valley',
 'waddington',
 'whitby',
 'wick_airport',
 'yeovilton']

In [127]:
def data_clean(station_name):
    station_name = pd.read_excel('/Users/paxton615/Github_Personal/Notes/Notes/Weather_stations/Weather_stations/{}.xlsx'.format(station_name))
    
    station_name = station_name.iloc[1:,:-1] # get rid of useless row and column, 去除多余行，列
    # 这里有一个例外 Yeovilton 需要 station_name.iloc[1:,:] 这样slice 
    
    col_names = ['year', 'month', 'tmax', 'tmin', 'af', 'rain', 'sun',
            'station', 'lat', 'lon'] # temperatre units: degC, rainfall units: mm, sun units: days
    station_name.columns = col_names # replace column names with col_names, 替换列名成 col_names
    
    # fill in station, lat and lon with its value, 给车站，经纬度填上唯一值
    station_name['station']= station_name.iloc[0, 7].lower().replace('-', '_').replace(' ','_')
    station_name['lat'] = station_name.iloc[0,8]
    station_name['lon'] = station_name.iloc[0,9]
    
    # replace --- with 0
    station_name = station_name.replace('---', 0)
    station_name = station_name.replace('--- #', 0)

    # fillna with 0s, 将所有NaN替换成 0
    station_name.fillna(0, inplace=True)
    
    # tidy all entries and unify types, 消除非数字字符，改type
    
    station_name['sun'] = station_name['sun'].astype(str)
    station_name['sun'] = station_name['sun'].str.extract(r'(\d+.\d+)').astype('float')

    station_name['tmax'] = station_name['tmax'].astype(str)
    station_name['tmax'] = station_name['tmax'].str.extract(r'(-?\d+.\d+)').astype('float')

    station_name['tmin'] = station_name['tmin'].astype(str)
    station_name['tmin'] = station_name['tmin'].str.extract(r'(-?\d+.\d+)').astype('float')

    station_name['rain'] = station_name['rain'].astype(str)
    station_name['rain'] = station_name['rain'].str.extract(r'(\d+.\d+)').astype('float')

    station_name['af'] = station_name['af'].astype(str)
    station_name['af'] = station_name['af'].str.extract(r'(\d+)').astype('float')

    
    # fillna with 0s, 将所有NaN替换成 0
    station_name = station_name.fillna(0)
    
    return station_name

In [8]:
aberporth = data_clean('Aberporth')

In [9]:
armagh = data_clean('Armagh')

In [10]:
ballypatrick_forest= data_clean('Ballypatrick Forest')

In [11]:
bradford = data_clean('Bradford')

In [12]:
braemar = data_clean('Braemar')

In [13]:
camborne = data_clean('Camborne')

In [14]:
cambridge_niab = data_clean('Cambridge NIAB')

In [15]:
cardiff_bute_park = data_clean('Cardiff Bute Park')

In [40]:
chivenor = data_clean('Chivenor')

In [42]:
cwmystwyth = data_clean('Cwmystwyth')

In [44]:
dunstaffnage = data_clean('Dunstaffnage')

In [46]:
durham = data_clean('Durham')

In [48]:
eastbourne = data_clean('Eastbourne')

In [50]:
eskdalemuir = data_clean('Eskdalemuir')

In [53]:
heathrow = data_clean('Heathrow')

In [55]:
hurn = data_clean('Hurn')

In [58]:
lerwick = data_clean('Lerwick')

In [60]:
leuchars = data_clean('Leuchars')

In [62]:
lowestoft = data_clean('Lowestoft')

In [64]:
manston = data_clean('Manston')

In [66]:
nairn = data_clean('Nairn')

In [68]:
newton_rigg = data_clean('Newton Rigg')

In [70]:
oxford = data_clean('Oxford')

In [72]:
paisley = data_clean('Paisley')

In [74]:
ringway = data_clean('Ringway') # last year is 2004, not 2022

In [77]:
ross_on_wye = data_clean('Ross-on-Wye')

In [80]:
shawbury = data_clean('Shawbury')

In [82]:
sheffield = data_clean('Sheffield')

In [84]:
southampton = data_clean('Southampton') # last year 2000,not 2022

In [87]:
stornoway_airport = data_clean('Stornoway')

In [89]:
sutton_bonington = data_clean('Sutton Bonington')

In [91]:
tiree = data_clean('Tiree')

In [93]:
valley = data_clean('Valley')

In [95]:
waddington = data_clean('Waddington')

In [97]:
whitby = data_clean('Whitby')

In [99]:
wick_airport = data_clean('Wick Airport')

In [128]:
yeovilton = data_clean('Yeovilton') 
# for some reason, yeovilton needs function to be altered as such:
# station_name = station_name.iloc[1:,:]

In [130]:
# check the last year and month of all stations

       year  month  tmax  tmin    af   rain    sun station     lat    lon
1    1957.0    1.0   9.1   2.5   7.0    0.0    0.0    hurn  50.779 -1.835
2    1957.0    2.0   9.6   2.7   8.0  100.5    0.0    hurn  50.779 -1.835
3    1957.0    3.0  12.9   5.5   4.0   61.3    0.0    hurn  50.779 -1.835
4    1957.0    4.0  14.2   4.4   2.0    5.5    0.0    hurn  50.779 -1.835
5    1957.0    5.0  16.1   5.5   1.0   43.7    0.0    hurn  50.779 -1.835
..      ...    ...   ...   ...   ...    ...    ...     ...     ...    ...
779  2021.0   11.0  11.8   2.8  11.0    6.6   75.4    hurn  50.779 -1.835
780  2021.0   12.0  10.8   5.3   6.0    0.0   33.6    hurn  50.779 -1.835
781  2022.0    1.0   9.5   0.7  19.0   31.6   65.1    hurn  50.779 -1.835
782  2022.0    2.0  11.2   3.3   6.0    0.0   88.2    hurn  50.779 -1.835
783  2022.0    3.0  12.8   3.8   8.0    0.0  151.7    hurn  50.779 -1.835

[783 rows x 10 columns]