In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from datetime import datetime
from datetime import date
import matplotlib.pyplot as plt
import re
import requests
pd.options.display.max_rows = 5000 
import warnings
warnings.filterwarnings('ignore')

In [2]:
stocks = ['AHT', 'AV', 'BA', 'GSK', 'HSBA', 'JD', 'NG', 'RDSB', 'RIO', 'SPX', 'TSCO', 'TW', 'ULVR']

In [3]:
def get_dates(lst, start_str, end_str):
    data = pd.read_csv(r'/Users/paxton615/Desktop/Stock_Price_csv/tier_1_stocks/{}.csv'.format(lst[0]))
    data = data.loc[(data['time']>=start_str)&(data['time']<end_str)]
    date = [datetime.fromisoformat(i[:10]) for i in data['time']]
    return(date)

In [4]:
def get_prices(lst,start_str, end_str):   
    new_list = []
    for i in lst:
        data = pd.read_csv(r'/Users/paxton615/Desktop/Stock_Price_csv/tier_1_stocks/{}.csv'.format(i)) # read data from csv 注意文件夹路径和文件名
        df = data[['time','close']]                                          # get time and close price
        df.columns = ['date', i]                                       # change column names
        df.date = [datetime.fromisoformat(i[:10]) for i in df['date']]       # convert dates into datetime
        df = df.loc[(df['date']>=start_str)&(df['date']<end_str)]    # make sure date start from 2016-01-01
        df = df.reset_index(drop=True)
        new_list.append(df[i])
    return(new_list)

In [5]:
date = get_dates(stocks,'2015-01-01','2020-01-01')
prices = get_prices(stocks,'2015-01-01','2020-01-01')

In [6]:
stock_prices = pd.DataFrame(np.array(prices).T, columns=stocks , index=np.array(date).T)
stock_prices.head()

,AHT,AV,BA,GSK,HSBA,JD,NG,RDSB,RIO,SPX,TSCO,TW,ULVR
2015-01-02,1165.0,484.39999,469.20001,1383.0,612.00000,101.600000,908.29999,2235.5,2970.0,2848.0,188.00000,134.89999,2606.0
2015-01-05,1182.0,470.79999,462.00000,1369.5,603.90002,101.400000,909.70001,2128.5,2883.5,2832.0,181.60001,133.80000,2573.0
2015-01-06,1109.0,464.00000,456.70001,1357.0,593.70001,94.400000,896.79999,2121.0,2944.5,2784.0,178.80000,131.10001,2574.0
2015-01-07,1109.0,463.29999,462.70001,1379.0,601.00000,95.159998,917.50000,2148.5,2962.5,2800.0,182.00000,132.39999,2591.0
2015-01-08,1131.0,483.20001,468.89999,1427.5,606.20001,97.000000,932.40002,2200.0,3027.5,2849.0,209.25000,132.80000,2668.0

#### Using df to facilitate following steps

In [7]:
df = stock_prices

In [29]:
# Log of percentage change, methods: .pct_change()  and  np.log(1+x)
# covariance : .cov()
# 但cov对彼此间的强弱关系度量magnitude不是很直观 
cov_matrix = df.pct_change().apply(lambda x: np.log(1+x)).cov()
cov_matrix.head(2)

,AHT,AV,BA,GSK,HSBA,JD,NG,RDSB,RIO,SPX,TSCO,TW,ULVR
AHT,0.000365,0.000125,0.000100,0.000065,0.000106,0.000090,0.000026,0.000107,0.000154,0.000121,0.000072,0.000120,0.000047
AV,0.000125,0.000228,0.000079,0.000045,0.000102,0.000104,0.000032,0.000084,0.000107,0.000080,0.000106,0.000175,0.000039

In [8]:
# .corr() directly check the correlations among stocks
corr_matrix = df.pct_change().apply(lambda x: np.log(1+x)).corr()
corr_matrix

,AHT,AV,BA,GSK,HSBA,JD,NG,RDSB,RIO,SPX,TSCO,TW,ULVR
AHT,1.000000,0.434803,0.417014,0.290717,0.436607,0.244262,0.118947,0.367530,0.404094,0.463824,0.215066,0.294437,0.199265
AV,0.434803,1.000000,0.417631,0.254827,0.532805,0.356912,0.182602,0.366520,0.356894,0.386856,0.398520,0.543614,0.210840
BA,0.417014,0.417631,1.000000,0.342460,0.414851,0.268178,0.236787,0.318709,0.261586,0.397079,0.254599,0.279482,0.278481
GSK,0.290717,0.254827,0.342460,1.000000,0.403616,0.110220,0.404499,0.414190,0.248392,0.268376,0.212822,0.088955,0.493697
HSBA,0.436607,0.532805,0.414851,0.403616,1.000000,0.181023,0.225660,0.490728,0.461333,0.364301,0.291741,0.245846,0.315599
JD,0.244262,0.356912,0.268178,0.110220,0.181023,1.000000,0.149149,0.138287,0.084630,0.224655,0.216110,0.422770,0.132653
NG,0.118947,0.182602,0.236787,0.404499,0.225660,0.149149,1.000000,0.267643,0.100540,0.169696,0.164966,0.180382,0.442108
RDSB,0.367530,0.366520,0.318709,0.414190,0.490728,0.138287,0.267643,1.000000,0.533041,0.315437,0.290133,0.095333,0.306044
RIO,0.404094,0.356894,0.261586,0.248392,0.461333,0.084630,0.100540,0.533041,1.000000,0.297212,0.269905,0.135020,0.146363
SPX,0.463824,0.386856,0.397079,0.268376,0.364301,0.224655,0.169696,0.315437,0.297212,1.000000,0.233928,0.230442,0.304028
TSCO,0.215066,0.398520,0.254599,0.212822,0.291741,0.216110,0.164966,0.290133,0.269905,0.233928,1.000000,0.296646,0.202394
TW,0.294437,0.543614,0.279482,0.088955,0.245846,0.422770,0.180382,0.095333,0.135020,0.230442,0.296646,1.000000,0.102958
ULVR,0.199265,0.210840,0.278481,0.493697,0.315599,0.132653,0.442108,0.306044,0.146363,0.304028,0.202394,0.102958,1.000000

#### calculate portfolio variance

In [23]:
weights = np.full(shape=len(df), fill_value=1/len(df), dtype=np.float)
colnames = df.columns

print(weights,colnames)

In [27]:
port_weights = dict(zip(colnames,weights))

port_var = cov_matrix.mul(port_weights, axis=0).mul(port_weights, axis=1).sum().sum()

port_var # it's a very low variance

#### calculate portfolio returns

In [33]:
yr_return = df.resample('Y').last().pct_change().mean()
yr_return

AHT     0.242293
AV     -0.039908
BA      0.046008
GSK     0.076222
HSBA    0.037765
JD      0.505686
NG      0.010898
RDSB    0.120278
RIO     0.249281
SPX     0.288164
TSCO    0.161537
TW      0.044997
ULVR    0.108211
dtype: float64

In [39]:
df.resample('Y').last().pct_change()

,AHT,AV,BA,GSK,HSBA,JD,NG,RDSB,RIO,SPX,TSCO,TW,ULVR
2015-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-12-31,0.411975,-0.057364,0.183947,0.137655,0.225103,0.526897,0.015040,0.525599,0.595605,0.274444,0.383612,-0.244215,0.125064
2017-12-31,0.260759,0.041324,-0.031276,-0.153329,0.167453,0.057565,-0.080391,0.065633,0.248061,0.343212,0.011603,0.344625,0.252999
2018-12-31,-0.178213,-0.258638,-0.198604,0.127561,-0.156474,0.037478,-0.126728,-0.067172,-0.053780,0.110320,-0.091517,-0.339874,-0.004121
2019-12-31,0.474649,0.115047,0.229965,0.192999,-0.085021,1.400803,0.235671,-0.042949,0.207239,0.424679,0.342451,0.419449,0.058902