<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Apply map review

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6]])
df

   0  1  2
0  1  2  3
1  4  5  6

In [3]:
df.applymap(lambda x: x+1)

   0  1  2
0  2  3  4
1  5  6  7

In [4]:
df.apply(lambda x: x+1)

   0  1  2
0  2  3  4
1  5  6  7

In [5]:
df.applymap(np.mean)

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  6.0

In [6]:
df.apply(np.mean, axis=1)

0    2.0
1    5.0
dtype: float64

In [7]:
series = pd.Series([1, 2, 3])
series

0    1
1    2
2    3
dtype: int64

In [8]:
series.apply(np.mean)

0    1.0
1    2.0
2    3.0
dtype: float64

In [9]:
series.map(np.mean)

0    1.0
1    2.0
2    3.0
dtype: float64

In [10]:
series.map({1: 4})

0    4.0
1    NaN
2    NaN
dtype: float64

In [11]:
series_1 = pd.Series(['a', 'b', 'c'])
series_1

0    a
1    b
2    c
dtype: object

In [12]:
series_1.map({'a': 'd', 'b': 'e', 'c': 'f'})

0    d
1    e
2    f
dtype: object