In [1]:
import pandas as pd
import numpy as np

Indicators:

Short-term liquidity measures:

- current ratio: current assets/current liabilities

- quick ratio: current assets-inventory/current liabilities

Long-term solvency measures:

- total debt ratio: total liabilities/ total assets

- debt to equity ration: total liabilities/ total equity

- times interest earned: EBITDA/interest expense

Asset management/turnover measures:

- inventory turnover: COGS/average inventory

- days sales in inventory: 365 days/inventory turnover

- a/r turnover: sales/average_a/r

- average collection period: 356 days/average_a/r

Financial indicators:

- profit margin: net income/sales

- return on assets (ROA): net income/average total asset

- return on equity (ROE): net income/average total equity

- earnings per share (EPS): net income/average shares outstanding

- price-earnings (PE) ratio: price per share/earnings per share

- market-to-book ratio: market value per share/book value per share

- market capitalization

In [6]:
df = pd.read_excel(r'/Users/paxton615/Desktop/DWvsNC_operation.xlsx')
df.head()

,SBJECTS,DW_27052018,DW_26052019,DW_24052020,NC_01072018,NC_30062019,NC_28062020
0,revenue,11249172,14067045,13100239,5905434,6592214,5196710
1,cost of sales,-6402952,-8109100,-8387434,-1306821,-1416272,-1074931
2,gross profit,4846220,5957945,4712805,4598613,5175942,4121779
3,administrative expenses,-5246228,-6397322,-6159102,-4527153,-5097215,-4525818
4,profit/(loss) from operations,-400008,-439387,-1446297,71460,78727,-279039

In [8]:
df.set_index('SBJECTS', inplace=True)

In [9]:
df.head()

,DW_27052018,DW_26052019,DW_24052020,NC_01072018,NC_30062019,NC_28062020
SBJECTS,,,,,,
revenue,11249172,14067045,13100239,5905434,6592214,5196710
cost of sales,-6402952,-8109100,-8387434,-1306821,-1416272,-1074931
gross profit,4846220,5957945,4712805,4598613,5175942,4121779
administrative expenses,-5246228,-6397322,-6159102,-4527153,-5097215,-4525818
profit/(loss) from operations,-400008,-439387,-1446297,71460,78727,-279039

In [12]:
col_names= ['dw_18','dw_19','dw_20','nc_18',"nc_19",'nc_20']

In [13]:
df.columns = col_names

In [14]:
df.head()

,dw_18,dw_19,dw_20,nc_18,nc_19,nc_20
SBJECTS,,,,,,
revenue,11249172,14067045,13100239,5905434,6592214,5196710
cost of sales,-6402952,-8109100,-8387434,-1306821,-1416272,-1074931
gross profit,4846220,5957945,4712805,4598613,5175942,4121779
administrative expenses,-5246228,-6397322,-6159102,-4527153,-5097215,-4525818
profit/(loss) from operations,-400008,-439387,-1446297,71460,78727,-279039

In [15]:
df.index

Index(['revenue', 'cost of sales', 'gross  profit', 'administrative expenses',
       'profit/(loss) from operations', 'finance income', 'finance expense',
       'profit/(loss) before tax', 'tax credit',
       'profit/(loss) for the period', 'total comprehensive income',
       'non-current property, plant and equipment ',
       'non-current trade and other receivables ', 'current inventories',
       'current trade and other receivables ',
       'current cash and cash equivalents ', 'total assets',
       'non-current loans and borrowings ',
       'non-current deferred tax liability ',
       'current trade and other liabilities ', 'current loans and borrowings ',
       'total liabilities', 'net assets', 'share capital ',
       'share premium reserve ', 'other reserves ', 'retained earnings ',
       'total equity'],
      dtype='object', name='SBJECTS')