In [1]:
import pandas as pd
import numpy as np

Indicators:

Short-term liquidity measures:

- current ratio: current assets/current liabilities

- quick ratio: current assets-inventory/current liabilities

Long-term solvency measures:

- total debt ratio: total liabilities/ total assets

- debt to equity ration: total liabilities/ total equity

- times interest earned: EBITDA/interest expense

Asset management/turnover measures:

- inventory turnover: COGS/average inventory

- days sales in inventory: 365 days/inventory turnover

- a/r turnover: sales/average_a/r

- average collection period: 356 days/average_a/r

Financial indicators:

- profit margin: net income/sales

- return on assets (ROA): net income/average total asset

- return on equity (ROE): net income/average total equity

- earnings per share (EPS): net income/average shares outstanding

- price-earnings (PE) ratio: price per share/earnings per share

- market-to-book ratio: market value per share/book value per share

- market capitalization

EBITDA stands for Earnings Before Interest, Taxes, Depreciation, and Amortization and is a metric used to evaluate a company’s operating performance. It can be seen as a proxy for cash flow from the entire company’s operations.

EBITDA = Net Income + Interest + Taxes + Depreciation +Amortization

EBITDA = Operating Profit + Depreciation + Amortization

Net income (NI), also called net earnings, is calculated as sales minus cost of goods sold, selling, general and administrative expenses, operating expenses, depreciation, interest, taxes, and other expenses. 

Operating Income=Gross Income − Operating Expenses

Operating profit is also (wrongfully) referred to as earnings before interest and tax (EBIT), as interest and taxes are non-operating expenses.

The price-to-earnings (P/E) ratio is a popular valuation metric that indicates a company's future growth potential by comparing its current market price to its earnings per share (EPS).

Using the P/E ratio to evaluate a stock has its drawbacks, including the potential for management to manipulate the earnings portion of the metric and the potential for overly optimistic investors to run up the stock price, causing an inflated P/E ratio.


One advantage of the EV/EBITDA ratio is that it strips out debt costs, taxes, appreciation, and amortization, thereby providing a clearer picture of the company's financial performance.
One drawback of the EV/EBITDA ratio is that it can produce an overly favorable number because it doesn't include capital expenditures, which for some companies can be a huge expense.

In [33]:
df = pd.read_excel(r'/Users/paxton615/Desktop/DWvsNC_operation.xlsx')
df.head()

,SBJECTS,DW_27052018,DW_26052019,DW_24052020,NC_01072018,NC_30062019,NC_28062020
0,revenue,11249172,14067045,13100239,5905434,6592214,5196710
1,cost of sales,-6402952,-8109100,-8387434,-1306821,-1416272,-1074931
2,gross profit,4846220,5957945,4712805,4598613,5175942,4121779
3,administrative expenses,-5246228,-6397322,-6159102,-4527153,-5097215,-4525818
4,profit/(loss) from operations,-400008,-439387,-1446297,71460,78727,-279039

In [34]:
df.set_index('SBJECTS', inplace=True)

In [35]:
df.head()

,DW_27052018,DW_26052019,DW_24052020,NC_01072018,NC_30062019,NC_28062020
SBJECTS,,,,,,
revenue,11249172,14067045,13100239,5905434,6592214,5196710
cost of sales,-6402952,-8109100,-8387434,-1306821,-1416272,-1074931
gross profit,4846220,5957945,4712805,4598613,5175942,4121779
administrative expenses,-5246228,-6397322,-6159102,-4527153,-5097215,-4525818
profit/(loss) from operations,-400008,-439387,-1446297,71460,78727,-279039

In [36]:
col_names= ['dw_18','dw_19','dw_20','nc_18',"nc_19",'nc_20']

In [37]:
df.columns = col_names

In [38]:
df.fillna(0,inplace=True)

In [39]:
df

,dw_18,dw_19,dw_20,nc_18,nc_19,nc_20
SBJECTS,,,,,,
revenue,11249172,14067045,13100239,5905434,6592214,5196710
cost of sales,-6402952,-8109100,-8387434,-1306821,-1416272,-1074931
gross profit,4846220,5957945,4712805,4598613,5175942,4121779
administrative expenses,-5246228,-6397322,-6159102,-4527153,-5097215,-4525818
profit/(loss) from operations,-400008,-439387,-1446297,71460,78727,-279039
finance income,1183,1885,2550,0,0,125000
finance expense,-97100,-189700,-815573,-219532,-809486,-337263
profit/(loss) before tax,-459925,-627202,-2259320,-148072,-230759,-616302
tax credit,6106,59452,0,-154555,10724,-15888
profit/(loss) for the period,-489819,-567757,-2259320,-302627,-220035,-632190
total comprehensive income,-489819,-567757,-2259320,-302627,-220035,-632190
"non-current property, plant and equipment",8746819,9368568,23026191,1844075,2410723,2219508
non-current trade and other receivables,510535,626535,752359,3489839,5053594,4718548
current inventories,194004,186147,182933,88671,121233,139725
current trade and other receivables,797662,1028213,546717,626891,867470,701379
current cash and cash equivalents,874670,1204180,655314,341428,238302,264488
total assets,11123690,12413643,25163514,6390904,8691322,8043648
non-current loans and borrowings,2328393,2896000,18174153,4185190,5868404,5191254
non-current deferred tax liability,59452,0,0,108132,108128,92246
current trade and other liabilities,1853959,2853324,1737423,868350,1051750,1196807
current loans and borrowings,660000,924000,922371,584203,1222641,1755133
total liabilities,4901804,6673324,20833947,5745875,8250923,8235440
net assets,6221886,5740319,4329567,645029,440399,-191792
share capital,72700,72700,76595,10248,10248,10248
share premium reserve,6650390,6650390,7258555,178017,178017,178017
other reserves,311050,397233,465926,77024,92429,92429
retained earnings,-812254,-1380004,-3471509,379740,159705,-472486
total equity,6221886,5740319,4329567,645029,440399,-191792

In [40]:
df['dw_18to19'] =( df['dw_19']-df['dw_18'])/df['dw_18']
df['dw_19to20'] =( df['dw_20']-df['dw_19'])/df['dw_19']

In [41]:
df['nc_18to19'] =( df['nc_19']-df['nc_18'])/df['nc_18']
df['nc_19to20'] =( df['nc_20']-df['nc_19'])/df['nc_19']

In [58]:
index_name = list(df.index)

In [59]:
new_index = []
for i in index_name:
    new_index.append(i.replace(' ','_').strip())

In [60]:
new_index

['revenue',
 'cost_of_sales',
 'gross__profit',
 'administrative_expenses',
 'profit/(loss)_from_operations',
 'finance_income',
 'finance_expense',
 'profit/(loss)_before_tax',
 'tax_credit',
 'profit/(loss)_for_the_period',
 'total_comprehensive_income',
 'non-current_property,_plant_and_equipment_',
 'non-current_trade_and_other_receivables_',
 'current_inventories',
 'current_trade_and_other_receivables_',
 'current_cash_and_cash_equivalents_',
 'total_assets',
 'non-current_loans_and_borrowings_',
 'non-current_deferred_tax_liability_',
 'current_trade_and_other_liabilities_',
 'current_loans_and_borrowings_',
 'total_liabilities',
 'net_assets',
 'share_capital_',
 'share_premium_reserve_',
 'other_reserves_',
 'retained_earnings_',
 'total_equity']

In [61]:
df.index = new_index

In [20]:
sum(df.loc['revenue',['dw_19','dw_20']])

27167284

In [67]:
# current ratio: current assets/current liabilities
current_ratio_dw20 = (df.loc['current_inventories', 'dw_20']+
df.loc['current_trade_and_other_receivables_', 'dw_20']+
df.loc['current_cash_and_cash_equivalents_', 'dw_20'])/(df.loc['current_trade_and_other_liabilities_', 'dw_20']+
df.loc['current_loans_and_borrowings_', 'dw_20'])

In [68]:
current_ratio_dw20

0.520703483051695

In [66]:
current_ratio_nc20 = (df.loc['current_inventories', 'nc_20']+
df.loc['current_trade_and_other_receivables_', 'nc_20']+
df.loc['current_cash_and_cash_equivalents_', 'nc_20'])/(df.loc['current_trade_and_other_liabilities_', 'nc_20']+
df.loc['current_loans_and_borrowings_', 'nc_20'])

In [69]:
current_ratio_nc20

0.37453064764188976