<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Pandas joins lab

---

In this lab we want to obtain more practice of extracting information from dataframes and joining different dataframes.

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.--Read-in-the-EuroMart-CSV-Data" data-toc-modified-id="1.--Read-in-the-EuroMart-CSV-Data-1">1.  Read in the EuroMart CSV Data</a></span></li><li><span><a href="#2.-Inspect-the-column-names-of-the-dataframes" data-toc-modified-id="2.-Inspect-the-column-names-of-the-dataframes-2">2. Inspect the column names of the dataframes</a></span></li><li><span><a href="#3.-Inspect-the-shapes-of-the-dataframes" data-toc-modified-id="3.-Inspect-the-shapes-of-the-dataframes-3">3. Inspect the shapes of the dataframes</a></span></li><li><span><a href="#4.-Rename-columns-to-remove-any-spaces-in-the-names" data-toc-modified-id="4.-Rename-columns-to-remove-any-spaces-in-the-names-4">4. Rename columns to remove any spaces in the names</a></span></li><li><span><a href="#5.-Inspect-the-top-of-the-dataframes" data-toc-modified-id="5.-Inspect-the-top-of-the-dataframes-5">5. Inspect the top of the dataframes</a></span></li><li><span><a href="#6.-How-many-orders-has-each-Customer-placed?-How-many-have-placed-more-than-ten-orders?" data-toc-modified-id="6.-How-many-orders-has-each-Customer-placed?-How-many-have-placed-more-than-ten-orders?-6">6. How many orders has each Customer placed? How many have placed more than ten orders?</a></span></li><li><span><a href="#7.-From-the-table-of-orders,-subset-on-the-columns-containing-geographical-information-and-sort-by-country." data-toc-modified-id="7.-From-the-table-of-orders,-subset-on-the-columns-containing-geographical-information-and-sort-by-country.-7">7. From the table of orders, subset on the columns containing geographical information and sort by country.</a></span></li><li><span><a href="#8.-Use-a-join-to-return-a-table-with-the-Customer-Name-and-Product-Name." data-toc-modified-id="8.-Use-a-join-to-return-a-table-with-the-Customer-Name-and-Product-Name.-8">8. Use a join to return a table with the Customer Name and Product Name.</a></span></li><li><span><a href="#9.--How-many-orders-for-&quot;Office-Supplies&quot;-(Category)-has-Sweden-made?" data-toc-modified-id="9.--How-many-orders-for-&quot;Office-Supplies&quot;-(Category)-has-Sweden-made?-9">9.  How many orders for "Office Supplies" (Category) has Sweden made?</a></span></li><li><span><a href="#10.-What-is-the-total-quantity-of-objects-sold-for-Sweden?" data-toc-modified-id="10.-What-is-the-total-quantity-of-objects-sold-for-Sweden?-10">10. What is the total quantity of objects sold for Sweden?</a></span></li><li><span><a href="#11.-What-Shipping-method-is-most-common-for-'Bookcases'-(Sub-Category)" data-toc-modified-id="11.-What-Shipping-method-is-most-common-for-'Bookcases'-(Sub-Category)-11">11. What Shipping method is most common for 'Bookcases' (Sub Category)</a></span></li></ul></div>

In [19]:
# Necessary Libraries
import pandas as pd

### 1.  Read in the EuroMart CSV Data
- 'EuroMart-ListOfOrders.csv'
- 'EuroMart-OrderBreakdown.csv'

In [20]:
# Reading CSV to Dataframe
orders = pd.read_csv('../datasets/csv/EuroMart-ListOfOrders.csv')
OBD = pd.read_csv('../datasets/csv/EuroMart-OrderBreakdown.csv')

### 2. Inspect the column names of the dataframes

In [21]:
orders.columns

Index(['Order ID', 'Order Date', 'Customer Name', 'City', 'Country', 'Region',
       'Segment', 'Ship Date', 'Ship Mode', 'State'],
      dtype='object')

In [ ]:
order

In [22]:
OBD.columns

Index(['Order ID', 'Product Name', 'Discount', 'Sales', 'Profit', 'Quantity',
       'Category', 'Sub-Category'],
      dtype='object')

### 3. Inspect the shapes of the dataframes

In [23]:
orders.shape

(4117, 10)

In [24]:
OBD.shape

(8047, 8)

### 4. Rename columns to remove any spaces in the names

In [25]:
orders.columns = [str.lower(col.replace(' ','_')) for col in orders.columns]

In [26]:
OBD.columns = [str.lower(col.replace(' ','_')) for col in OBD.columns]

### 5. Inspect the top of the dataframes

In [27]:
orders.head()

,order_id,order_date,customer_name,city,country,region,segment,ship_date,ship_mode,state
0,BN-2011-7407039,1/1/2011,Ruby Patel,Stockholm,Sweden,North,Home Office,1/5/2011,Economy Plus,Stockholm
1,AZ-2011-9050313,1/3/2011,Summer Hayward,Southport,United Kingdom,North,Consumer,1/7/2011,Economy,England
2,AZ-2011-6674300,1/4/2011,Devin Huddleston,Valence,France,Central,Consumer,1/8/2011,Economy,Auvergne-Rh√¥ne-Alpes
3,BN-2011-2819714,1/4/2011,Mary Parker,Birmingham,United Kingdom,North,Corporate,1/9/2011,Economy,England
4,AZ-2011-617423,1/5/2011,Daniel Burke,Echirolles,France,Central,Home Office,1/7/2011,Priority,Auvergne-Rh√¥ne-Alpes

In [28]:
OBD.head(10)

,order_id,product_name,discount,sales,profit,quantity,category,sub-category
0,BN-2011-7407039,"Enermax Note Cards, Premium",0.5,$45.00,-$26.00,3,Office Supplies,Paper
1,AZ-2011-9050313,"Dania Corner Shelving, Traditional",0.0,$854.00,$290.00,7,Furniture,Bookcases
2,AZ-2011-6674300,"Binney & Smith Sketch Pad, Easy-Erase",0.0,$140.00,$21.00,3,Office Supplies,Art
3,BN-2011-2819714,"Boston Markers, Easy-Erase",0.5,$27.00,-$22.00,2,Office Supplies,Art
4,BN-2011-2819714,"Eldon Folders, Single Width",0.5,$17.00,-$1.00,2,Office Supplies,Storage
5,AZ-2011-617423,"Binney & Smith Pencil Sharpener, Water Color",0.0,$90.00,$21.00,3,Office Supplies,Art
6,AZ-2011-617423,"Sanford Canvas, Fluorescent",0.0,$207.00,$77.00,4,Office Supplies,Art
7,AZ-2011-2918397,"Bush Floating Shelf Set, Pine",0.1,$155.00,$36.00,1,Furniture,Bookcases
8,AZ-2011-2918397,"Accos Thumb Tacks, Assorted Sizes",0.0,$33.00,$2.00,3,Office Supplies,Fasteners
9,AZ-2011-2918397,"Smead Lockers, Industrial",0.1,$716.00,$143.00,4,Office Supplies,Storage

### 6. How many orders has each Customer placed? How many have placed more than ten orders?

Hint: Use `.value_counts()`.

In [29]:
orders['customer_name'].value_counts().head()

Jose Gambino       13
Kayla Tearle       12
Mark Washington    12
Aaron Bootman      11
Michael Myers      11
Name: customer_name, dtype: int64

In [39]:
orders['customer_name'].value_counts().shape

(792,)

In [37]:
orders['customer_name'].value_counts()[orders['customer_name'].value_counts() > 10].shape

(15,)

### 7. From the table of orders, subset on the columns containing geographical information and sort by country.

In [32]:
orders[['city', 'country', 'region', 'state']].sort_values(by='country').head()

          city  country   region     state
926     Vienna  Austria  Central    Vienna
258     Vienna  Austria  Central    Vienna
2945  Salzburg  Austria  Central  Salzburg
3971    Vienna  Austria  Central    Vienna
1302    Vienna  Austria  Central    Vienna

In the following parts you will need to use `pd.merge`.

### 8. Use a join to return a table with the Customer Name and Product Name.

In [42]:
orders.keys()

Index(['order_id', 'order_date', 'customer_name', 'city', 'country', 'region',
       'segment', 'ship_date', 'ship_mode', 'state'],
      dtype='object')

In [43]:
OBD.keys()

Index(['order_id', 'product_name', 'discount', 'sales', 'profit', 'quantity',
       'category', 'sub-category'],
      dtype='object')

In [51]:
new_merge = pd.merge(orders, OBD, on='order_id')[['customer_name', 'product_name']].head()

### 9.  How many orders for "Office Supplies" (Category) has Sweden made?

In [48]:
pd.merge(orders[orders['country'] == 'Sweden'], 
         OBD[OBD['category'] =='Office Supplies'], 
         on='order_id')[['country', 'order_id', 'category']]

    country         order_id         category
0    Sweden  BN-2011-7407039  Office Supplies
1    Sweden  BN-2011-2807470  Office Supplies
2    Sweden  BN-2011-7087921  Office Supplies
3    Sweden   BN-2011-827720  Office Supplies
4    Sweden  BN-2011-8234232  Office Supplies
5    Sweden  BN-2011-8234232  Office Supplies
6    Sweden  BN-2011-8234232  Office Supplies
7    Sweden   BN-2011-602308  Office Supplies
8    Sweden    AZ-2011-96343  Office Supplies
9    Sweden    AZ-2011-96343  Office Supplies
10   Sweden  BN-2011-3154402  Office Supplies
11   Sweden  BN-2011-7016974  Office Supplies
12   Sweden  BN-2011-7176889  Office Supplies
13   Sweden  BN-2011-5999704  Office Supplies
14   Sweden  BN-2011-1778575  Office Supplies
15   Sweden  BN-2011-5491702  Office Supplies
16   Sweden  BN-2011-5491702  Office Supplies
17   Sweden  BN-2011-5491702  Office Supplies
18   Sweden  BN-2011-5491702  Office Supplies
19   Sweden  BN-2011-5491702  Office Supplies
20   Sweden  BN-2011-5873722  Office Supplies
21   Sweden  BN-2011-5662753  Office Supplies
22   Sweden  BN-2011-2470191  Office Supplies
23   Sweden  BN-2011-2470191  Office Supplies
24   Sweden  BN-2011-3962140  Office Supplies
25   Sweden  BN-2011-7621077  Office Supplies
26   Sweden  AZ-2012-5999614  Office Supplies
27   Sweden  AZ-2012-5999614  Office Supplies
28   Sweden  BN-2012-5184619  Office Supplies
29   Sweden    BN-2012-26008  Office Supplies
..      ...              ...              ...
103  Sweden  BN-2014-1557149  Office Supplies
104  Sweden  BN-2014-3197989  Office Supplies
105  Sweden  BN-2014-4964479  Office Supplies
106  Sweden  BN-2014-4964479  Office Supplies
107  Sweden  BN-2014-4964479  Office Supplies
108  Sweden  BN-2014-4964479  Office Supplies
109  Sweden  BN-2014-4964479  Office Supplies
110  Sweden  BN-2014-4964479  Office Supplies
111  Sweden  BN-2014-4964479  Office Supplies
112  Sweden  BN-2014-1551236  Office Supplies
113  Sweden  BN-2014-7135917  Office Supplies
114  Sweden  BN-2014-5531507  Office Supplies
115  Sweden  BN-2014-3570494  Office Supplies
116  Sweden   BN-2014-409695  Office Supplies
117  Sweden   BN-2014-409695  Office Supplies
118  Sweden  BN-2014-5015566  Office Supplies
119  Sweden  BN-2014-5614620  Office Supplies
120  Sweden  BN-2014-5368093  Office Supplies
121  Sweden  BN-2014-5368093  Office Supplies
122  Sweden  BN-2014-6653003  Office Supplies
123  Sweden  BN-2014-6653003  Office Supplies
124  Sweden  BN-2014-2999624  Office Supplies
125  Sweden  BN-2014-8656062  Office Supplies
126  Sweden  BN-2014-8501685  Office Supplies
127  Sweden  BN-2014-8501685  Office Supplies
128  Sweden  BN-2014-5182753  Office Supplies
129  Sweden  BN-2014-5182753  Office Supplies
130  Sweden  BN-2014-2616164  Office Supplies
131  Sweden  BN-2014-4912801  Office Supplies
132  Sweden  BN-2014-4912801  Office Supplies

[133 rows x 3 columns]

### 10. What is the total quantity of objects sold for Sweden?

In [49]:
pd.merge(orders[orders.country == 'Sweden'],
         OBD, 
         on='order_id')['quantity']

0       3
1       5
2       6
3       2
4       2
5       2
6       3
7       4
8       6
9      11
10      1
11      3
12      6
13      3
14      2
15      3
16      2
17      2
18      7
19      2
20      2
21      3
22      6
23      1
24      3
25      1
26      9
27      3
28      7
29      2
       ..
173     4
174     2
175     3
176     5
177     6
178     5
179     5
180     3
181     2
182     5
183     2
184     2
185     2
186     1
187     1
188    13
189     2
190     4
191     2
192     1
193     5
194     9
195     1
196     1
197     2
198     5
199     1
200     6
201     4
202     1
Name: quantity, Length: 203, dtype: int64

### 11. What Shipping method is most common for 'Bookcases' (Sub Category)

In [50]:
pd.merge(orders, 
         OBD[OBD['sub-category'] == 'Bookcases'],
         on='order_id')['ship_mode']

0           Economy
1          Priority
2           Economy
3           Economy
4           Economy
5      Economy Plus
6           Economy
7           Economy
8           Economy
9           Economy
10          Economy
11          Economy
12     Economy Plus
13          Economy
14          Economy
15          Economy
16     Economy Plus
17     Economy Plus
18          Economy
19         Priority
20          Economy
21         Priority
22         Priority
23         Priority
24          Economy
25          Economy
26          Economy
27     Economy Plus
28          Economy
29          Economy
           ...
361         Economy
362       Immediate
363         Economy
364        Priority
365         Economy
366        Priority
367        Priority
368         Economy
369         Economy
370         Economy
371         Economy
372         Economy
373    Economy Plus
374    Economy Plus
375        Priority
376        Priority
377        Priority
378         Economy
379         Economy
380         Economy
381        Priority
382         Economy
383    Economy Plus
384         Economy
385         Economy
386    Economy Plus
387         Economy
388       Immediate
389       Immediate
390         Economy
Name: ship_mode, Length: 391, dtype: object