In [1]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_excel(r'/Users/paxton615/Desktop/2020-2021.xlsx', )
col_names = ['company', 'ticker','w_price','w_duration','placing_date','total_raise', 'placing_price','recent_high','roi']
data.columns = col_names
data.head()

,company,ticker,w_price,w_duration,placing_date,total_raise,placing_price,recent_high,roi
0,Pensana,PRE,0.000,0,2021-06-01,13500000,1.200,1.85000,0.540000
1,Castillo Copper,CCZ,0.044,36,2021-06-01,1310250,0.023,0.02875,0.250000
2,IronRidge,IRR,0.000,0,2021-04-01,2150000,0.200,0.24400,0.220000
3,MetalNRG,MNRG,0.010,24,2021-03-01,1300000,0.006,0.01150,0.916667
4,AMTE Power,AMTE,0.000,0,2021-03-01,3000000,1.750,3.27000,0.868571

In [9]:
data.tail()

,company,ticker,w_price,w_duration,placing_date,total_raise,placing_price,recent_high,roi
26,Katoro Gold,KAT,0.03,36,2020-02-01,215000,0.0200,0.0435,1.175000
27,Cobra Resources,COBR,0.02,36,2020-01-01,677145,0.0100,0.0350,2.500000
28,Panther Metals,PALM,0.12,24,2020-01-01,300000,0.0600,0.1700,1.833333
29,AMTE Power Pre-IPO,AMTE,0.00,0,2019-07-01,1755156,0.7335,3.2700,3.458078
30,Armadale Capital,ACP,0.03,36,2019-09-01,95000,0.0180,0.0625,2.472222