In [4]:
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
%config InlineBackend.figure_format = 'retina'
%matplotlib inline

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [5]:
# Some nice colors we can use in our plots:
colors = {'blue': '#729ECE',
          'brown': '#A8786E',
          'green': '#67BF5C',
          'grey': '#A2A2A2',
          'orange': '#FF9E4A',
          'pink': '#ED97CA',
          'purple': '#AD8BC9',
          'red': '#ED665D',
          'teal': '#6DCCDA',
          'yellow': '#CDCC5D'}

In [7]:
admissions = pd.read_csv('/Users/paxton615/GA/resource-datasets/admissions/admissions.csv')

#### EDA

In [8]:
admissions.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

In [9]:
addmissions.shape

(400, 4)

In [10]:
admissions.dtypes

admit         int64
gre         float64
gpa         float64
prestige    float64
dtype: object

In [11]:
admissions.describe() # check count, there are NA in cols

            admit         gre        gpa    prestige
count  400.000000  398.000000  398.00000  399.000000
mean     0.317500  588.040201    3.39093    2.486216
std      0.466087  115.628513    0.38063    0.945333
min      0.000000  220.000000    2.26000    1.000000
25%      0.000000  520.000000    3.13000    2.000000
50%      0.000000  580.000000    3.39500    2.000000
75%      1.000000  660.000000    3.67000    3.000000
max      1.000000  800.000000    4.00000    4.000000

In [12]:
admissions.isnull().sum() # checking NA

admit       0
gre         2
gpa         2
prestige    1
dtype: int64

In [13]:
admissions.dropna(inplace=True)

In [14]:
admissions.isnull().sum()

admit       0
gre         0
gpa         0
prestige    0
dtype: int64

#### prepare data for modeling

In [15]:
admissions.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

#### What are the probabilities of admittance by prestige?

In [27]:
pres1=admissions[(admissions.prestige == 1) & (admissions.admit == 1)].prestige.count()/admissions[(admissions.prestige == 1)].prestige.count()

In [32]:
pres2=admissions[(admissions.prestige == 2) & (admissions.admit == 1)].prestige.count()/admissions[(admissions.prestige == 2)].prestige.count()

In [33]:
pres3=admissions[(admissions.prestige == 3) & (admissions.admit == 1)].prestige.count()/admissions[(admissions.prestige == 3)].prestige.count()

In [34]:
pres4=admissions[(admissions.prestige == 4) & (admissions.admit == 1)].prestige.count()/admissions[(admissions.prestige == 4)].prestige.count()

In [35]:
print('probability of admittance for prestige 1: {}'.format(pres1))
print('probability of admittance for prestige 2: {}'.format(pres2))
print('probability of admittance for prestige 3: {}'.format(pres3))
print('probability of admittance for prestige 4: {}'.format(pres4))

probability of admittance for prestige 1: 0.5409836065573771
probability of admittance for prestige 2: 0.3581081081081081
probability of admittance for prestige 3: 0.23140495867768596
probability of admittance for prestige 4: 0.1791044776119403