In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("/Users/paxton615/GA/resource-datasets/\
/housing_data/housing-data.csv")
df = pd.read_csv("/Users/paxton615/GA/resource-datasets/\
/housing_data/housing-data.csv")
df.columns

Index(['sqft', 'bdrms', 'age', 'price'], dtype='object')

In [3]:
df.dtypes

sqft     int64
bdrms    int64
age      int64
price    int64
dtype: object

In [4]:
df.head()

   sqft  bdrms  age   price
0  2104      3   70  399900
1  1600      3   28  329900
2  2400      3   44  369000
3  1416      2   49  232000
4  3000      4   75  539900

In [7]:
df.describe()

              sqft      bdrms        age          price
count    47.000000  47.000000  47.000000      47.000000
mean   2000.680851   3.170213  42.744681  340412.659574
std     794.702354   0.760982  22.873440  125039.899586
min     852.000000   1.000000   5.000000  169900.000000
25%    1432.000000   3.000000  24.500000  249900.000000
50%    1888.000000   3.000000  44.000000  299900.000000
75%    2269.000000   4.000000  61.500000  384450.000000
max    4478.000000   5.000000  79.000000  699900.000000