In [2]:
import pandas as pd
import numpy as np
import patsy

from sklearn.linear_model import LinearRegression, Ridge, RidgeCV, Lasso, LassoCV, ElasticNet, ElasticNetCV
from sklearn.model_selection import cross_validate, cross_val_score, cross_val_predict
from sklearn.metrics import r2_score

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [11]:
kobe = pd.read_csv('/Users/paxton615/GA/resource-datasets/kobe_bryant/kobe_superwide_games.csv')

In [17]:
kobe.shape

(1558, 645)

In [13]:
kobe.columns

Index(['SHOTS_MADE', 'AWAY_GAME', 'SEASON_OPPONENT:atl:1996-97',
       'SEASON_OPPONENT:atl:1997-98', 'SEASON_OPPONENT:atl:1999-00',
       'SEASON_OPPONENT:atl:2000-01', 'SEASON_OPPONENT:atl:2001-02',
       'SEASON_OPPONENT:atl:2002-03', 'SEASON_OPPONENT:atl:2003-04',
       'SEASON_OPPONENT:atl:2004-05',
       ...
       'ACTION_TYPE:tip_layup_shot', 'ACTION_TYPE:tip_shot',
       'ACTION_TYPE:turnaround_bank_shot',
       'ACTION_TYPE:turnaround_fadeaway_bank_jump_shot',
       'ACTION_TYPE:turnaround_fadeaway_shot',
       'ACTION_TYPE:turnaround_finger_roll_shot',
       'ACTION_TYPE:turnaround_hook_shot', 'ACTION_TYPE:turnaround_jump_shot',
       'SEASON_GAME_NUMBER', 'CAREER_GAME_NUMBER'],
      dtype='object', length=645)

In [16]:
kobe.describe().T

,count,mean,std,min,25%,50%,75%,max
SHOTS_MADE,1558.0,7.358793,3.471180,0.0,5.00,7.0,10.000000,22.000000
AWAY_GAME,1558.0,0.500642,0.500160,0.0,0.00,1.0,1.000000,1.000000
SEASON_OPPONENT:atl:1996-97,1558.0,0.001284,0.035817,0.0,0.00,0.0,0.000000,1.000000
SEASON_OPPONENT:atl:1997-98,1558.0,0.001284,0.035817,0.0,0.00,0.0,0.000000,1.000000
SEASON_OPPONENT:atl:1999-00,1558.0,0.000642,0.025335,0.0,0.00,0.0,0.000000,1.000000
...,...,...,...,...,...,...,...,...
ACTION_TYPE:turnaround_finger_roll_shot,1558.0,0.000050,0.001390,0.0,0.00,0.0,0.000000,0.041667
ACTION_TYPE:turnaround_hook_shot,1558.0,0.000433,0.004902,0.0,0.00,0.0,0.000000,0.111111
ACTION_TYPE:turnaround_jump_shot,1558.0,0.031766,0.049402,0.0,0.00,0.0,0.052632,0.352941
SEASON_GAME_NUMBER,1558.0,42.946727,26.048206,1.0,21.00,42.0,63.000000,105.000000
CAREER_GAME_NUMBER,1558.0,780.486521,449.923227,1.0,391.25,780.5,1169.750000,1559.000000