In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv("/Users/paxton615/GA/resource-datasets/\
sacramento_real_estate/Sacramentorealestatetransactions.csv")
df.columns

Index(['street', 'city', 'zip', 'state', 'beds', 'baths', 'sq__ft', 'type',
       'sale_date', 'price', 'latitude', 'longitude'],
      dtype='object')

In [13]:
df.describe()

,zip,beds,baths,sq__ft,price,latitude,longitude
count,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000,985.000000
mean,95750.697462,2.911675,1.776650,1314.916751,234144.263959,38.607732,-121.355982
std,85.176072,1.307932,0.895371,853.048243,138365.839085,0.145433,0.138278
min,95603.000000,0.000000,0.000000,0.000000,1551.000000,38.241514,-121.551704
25%,95660.000000,2.000000,1.000000,952.000000,145000.000000,38.482717,-121.446127
50%,95762.000000,3.000000,2.000000,1304.000000,213750.000000,38.626582,-121.376220
75%,95828.000000,4.000000,2.000000,1718.000000,300000.000000,38.695589,-121.295778
max,95864.000000,8.000000,5.000000,5822.000000,884790.000000,39.020808,-120.597599

In [40]:
print(df.sq__ft.idxmax())
print(df.sq__ft.max())
print(df[df['sq__ft']==5822])
print(df.sq__ft[866])

866
5822
             street         city    zip state  beds  baths  sq__ft  \
866  14151 INDIO DR  SLOUGHHOUSE  95683    CA     3      4    5822

            type                     sale_date  price   latitude   longitude  \
866  Residential  Fri May 16 00:00:00 EDT 2008   2000  38.490447 -121.129337

                        geometry
866  POINT (-121.12934 38.49045)
5822

In [39]:
print(df.sq__ft.idxmin())
print(df.sq__ft.min())
print(df[df['sq__ft']==0])

73
0
                       street             city    zip state  beds  baths  \
73              17 SERASPI CT       SACRAMENTO  95834    CA     0      0
89           2866 KARITSA AVE       SACRAMENTO  95833    CA     0      0
100     12209 CONSERVANCY WAY   RANCHO CORDOVA  95742    CA     0      0
121       5337 DUSTY ROSE WAY   RANCHO CORDOVA  95742    CA     0      0
126       2115 SMOKESTACK WAY       SACRAMENTO  95833    CA     0      0
..                        ...              ...    ...   ...   ...    ...
934  1550 TOPANGA LN Unit 207          LINCOLN  95648    CA     0      0
947     1525 PENNSYLVANIA AVE  WEST SACRAMENTO  95691    CA     0      0
966          9197 CORTINA CIR        ROSEVILLE  95678    CA     3      2
970             3557 SODA WAY       SACRAMENTO  95834    CA     0      0
973      2181 WINTERHAVEN CIR     CAMERON PARK  95682    CA     3      2

     sq__ft         type                     sale_date   price   latitude  \
73        0  Residential  Wed May 21 00:00:00 EDT 2008  206000  38.631481
89        0  Residential  Wed May 21 00:00:00 EDT 2008  244500  38.626671
100       0  Residential  Wed May 21 00:00:00 EDT 2008  263500  38.553867
121       0  Residential  Wed May 21 00:00:00 EDT 2008  320000  38.528575
126       0  Residential  Wed May 21 00:00:00 EDT 2008  339500  38.602416
..      ...          ...                           ...     ...        ...
934       0        Condo  Thu May 15 00:00:00 EDT 2008  188000  38.884170
947       0  Residential  Thu May 15 00:00:00 EDT 2008  200100  38.569943
966       0        Condo  Thu May 15 00:00:00 EDT 2008  220000  38.793152
970       0  Residential  Thu May 15 00:00:00 EDT 2008  224000  38.631026
973       0  Residential  Thu May 15 00:00:00 EDT 2008  224500  38.697570

      longitude                     geometry
73  -121.501880  POINT (-121.50188 38.63148)
89  -121.525970  POINT (-121.52597 38.62667)
100 -121.219141  POINT (-121.21914 38.55387)
121 -121.228600  POINT (-121.22860 38.52857)
126 -121.542965  POINT (-121.54296 38.60242)
..          ...                          ...
934 -121.270222  POINT (-121.27022 38.88417)
947 -121.527539  POINT (-121.52754 38.56994)
966 -121.290025  POINT (-121.29002 38.79315)
970 -121.501879  POINT (-121.50188 38.63103)
973 -120.995739  POINT (-120.99574 38.69757)

[171 rows x 13 columns]

In [14]:
df.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [15]:
df.type.unique()

array(['Residential', 'Condo', 'Multi-Family', 'Unkown'], dtype=object)

In [21]:
df.sale_date.unique()

array(['Wed May 21 00:00:00 EDT 2008', 'Tue May 20 00:00:00 EDT 2008',
       'Mon May 19 00:00:00 EDT 2008', 'Fri May 16 00:00:00 EDT 2008',
       'Thu May 15 00:00:00 EDT 2008'], dtype=object)

In [23]:
df.dtypes

street        object
city          object
zip            int64
state         object
beds           int64
baths          int64
sq__ft         int64
type          object
sale_date     object
price          int64
latitude     float64
longitude    float64
dtype: object