<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Time series aggregation


---

### Learning Objectives

- "Rolling" statistics through time, such as the rolling mean.
- Exponentially weighted statistics.
- Autocorrelation and partial autocorrelation.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

plt.style.use('fivethirtyeight')

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

<a id="load-the-unemployment-data"></a>
<a id="load-the-unemployment-data"></a>
## Load the Unemployment Data
---

This is historical quarterly data regarding unemployment rates in the United States. First, perform any necessary cleaning.

In [2]:
data = pd.read_csv('../../../../resource-datasets/unemployment_timeseries/seasonally-adjusted-quarterly-us.csv')

In [3]:
data.head(10)

,Quarter,Seasonally adjusted quarterly U.S. unemployment rates from 1948 to 1993
0,1948Q1,3.733%
1,1948Q2,3.667%
2,1948Q3,3.767%
3,1948Q4,3.833%
4,1949Q1,4.667%
5,1949Q2,5.867%
6,1949Q3,6.7%
7,1949Q4,6.967%
8,1950Q1,6.4%
9,1950Q2,5.567%

In [4]:
data.dropna(inplace=True)

### Rename the columns

Shorter names than the original ones could be good.

In [5]:
list = ["quater","rates"]

In [6]:
data.columns = list

In [7]:
data.head()

   quater   rates
0  1948Q1  3.733%
1  1948Q2  3.667%
2  1948Q3  3.767%
3  1948Q4  3.833%
4  1949Q1  4.667%

### Clean the unemployment rate column

Remove the percentage sign and transform to float.

In [8]:
data.rates = data.rates.str.replace("%","")

In [9]:
data.rates = data.rates.map(lambda x:float(x))

In [10]:
data.dtypes

quater     object
rates     float64
dtype: object

In [11]:
data.head()

   quater  rates
0  1948Q1  3.733
1  1948Q2  3.667
2  1948Q3  3.767
3  1948Q4  3.833
4  1949Q1  4.667

## Create a Datetime Index
---

This is quarterly data, so converting to datetime is a bit complicated.

- First transform the column with the yearly quarters to datetime.
- Then use `.dt.to_period('Q')` to represent the string as a datetime object.
- Finally, set this datetime column as the index.

In [12]:
pd.to_datetime(data.quater).dt.to_period('Q').head()

0    1948Q1
1    1948Q2
2    1948Q3
3    1948Q4
4    1949Q1
Name: quater, dtype: period[Q-DEC]

In [13]:
data.set_index('quater', inplace=True, drop=True)

In [15]:
data.index.year

AttributeError: 'Index' object has no attribute 'year'

In [ ]:
data.head(20)

## Visually Examine the Unemployment Rate
---

Plot the unemployment rate.

In [ ]:
data.plot()

<a id="rolling-functions"></a>
<a id="rolling-functions"></a>
## "Rolling" Functions
---

With time series, we can "roll" statistics across time. For example, the rolling mean is the mean of a moving window across time periods. Pandas offers a variety of functionalities for creating rolling statistics, which we'll only scratch the surface of here. 

The syntax for these can be a little tricky at first. We'll be using a `rolling()` function with a statistical function chained to it. Let's dive into more detail.

<a id="parameters-for-rolling-functions"></a>
<a id="parameters-for-rolling-functions"></a>
### Parameters for `rolling()` Functions

**`rolling().mean()`** (as well as **`rolling().median()`**) can take the following parameters:

- The first indicates the time series to aggregate.
- **`window`** indicates the number of days to include in the average.
- **`center`** indicates whether the window should be centered on the date or use data prior to that date.
- **`freq`** indicates which level to roll the averages up to (as used in **`resample`**): **`D`** for day, **`M`** for month, **`A`** for year, etc.

> **Note:** For more information, see Pandas' [resample documentation](http://stackoverflow.com/questions/17001389/pandas-resample-documentation).

#### Resample annually using the mean for aggregation. Plot and compare to the original time series.

In [ ]:
data.rolling(2).mean().head(10)

In [ ]:
data.rolling(2).median().head(10)

In [ ]:
type(data.index)

**Extract the dates from the index as timestamps.**

> *Hint: The `.to_timestamp()` function allows you to extract the timestamps.*

In [ ]:
date_ticks_orig = data.index.dt.to_timestamp()
date_ticks_roll = yearly.index.dt.to_timestamp()

#### Use matplotlib to plot your time series.

- Choose the time series as y-values and the timestamp-indices extracted in the last part as x-values.
- Plot both, the original timeseries and the one averaged over the windows.

#### Resample annually and calculate the rolling mean of years with `window=3`  without centering.

#### Calculate the rolling median with `window=5` and `window=15`. Plot both together.

## The Expanding Mean
---

The "expanding mean" uses all data points up to the current time to calculate the mean, as opposed to a moving window.

#### Calculate and plot the expanding mean below. Resample by quarter.

Use 

`data.unemployment_rate.resample('Q').sum().expanding().mean()`.

<a id="exponentially-weighted-windows"></a>
<a id="exponentially-weighted-windows"></a>
## Exponentially Weighted Windows
---

Exponentially weighted windows are one of the most common and effective ways of averaging out noise in time series data. The averaging is done with an "exponential decay" on the contribution of prior means, decreasing the contribution of time points that are further in the past.

The (adjusted) exponentially weighted mean for time $t$, is defined as:

$$ x_t = \frac{x_t + (1 - \alpha)x_{t-1} + (1 - \alpha)^2x_{t-2} + ... + (1 - \alpha)^{t}x_0} {1 + (1 - \alpha) + (1 - \alpha)^2 + ... + (1 - \alpha)^{t}} $$

> **Note:** Review Pandas' [documentation](http://pandas.pydata.org/pandas-docs/stable/computation.html#exponentially-weighted-windows) for more information.

#### Calculate and plot the exponentially weighted sum along with the rolling sum. What is the difference?

For example: `.resample('Q').sum().ewm(span=10).mean()`.

- Find out what `span` does.