In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from datetime import datetime
from datetime import date
import matplotlib.pyplot as plt
import re
import requests
pd.options.display.max_rows = 5000 
import warnings
warnings.filterwarnings('ignore')

In [2]:
# shengxiao = pd.DataFrame({'shu':[5,10,15], 'niu':[100,200,300],'hu':[1,5,10]}, index=['2018', '2019', '2020'])
# shengxiao

In [11]:
shengxiao = pd.DataFrame({'shu':[5,10,15], 'niu':[100,150,200]}, index=[ '2018','2019', '2020'])
shengxiao

      shu  niu
2018    5  100
2019   10  150
2020   15  200

In [12]:
weights = np.array([0.2, 0.8])

In [13]:
return_each = shengxiao.pct_change()
return_each

      shu       niu
2018  NaN       NaN
2019  1.0  0.500000
2020  0.5  0.333333

In [14]:
return_each_mean = return_each.mean() 
return_each_mean #

shu    0.750000
niu    0.416667
dtype: float64

### 以列为计算方向，感觉每次都会出现一点最终结果上的偏差

allocated_return是平均每次的-----平均回报率

比如，初始投资1000，shu占20%， niu占80%，

1000 * 1.483 = 1483

1483 * 1.483 = 2199 约等于手动计算的2200

In [15]:
allocated_return = np.sum(weights * return_each_mean)
allocated_return

0.48333333333333334

### 以行为计算单位，计算结果比较准确，但每次算的都是整个portfolio的一次回报率

each_portfolio_return 给出每次的------实际回报率

比如，依然是初始投资1000，shu占20%， niu占80%

0.6 = 20%权数 * 100%roi + 80%权数 * 50%roi

1000 * （1+0.6）= 1600     

1600 * （1+0.367）= 2187.2 约等于手动计算的2200

In [16]:
shengxiao['each_portfolio_return'] = return_each.dot(weights)

In [17]:
shengxiao

      shu  niu  each_portfolio_return
2018    5  100                    NaN
2019   10  150               0.600000
2020   15  200               0.366667

### cumulative 的正确用法， 感觉之前的code有一些错误

In [18]:
shengxiao['cumulative_return'] = (1+shengxiao['each_portfolio_return']).cumprod()
shengxiao

      shu  niu  each_portfolio_return  cumulative_return
2018    5  100                    NaN                NaN
2019   10  150               0.600000           1.600000
2020   15  200               0.366667           2.186667

In [22]:
end_return = (1+shengxiao['each_portfolio_return']).cumprod()[-1] - 1
end_return

1.186666666666667

转化成年化回报率, 3年

In [26]:
end_ann_return = ((1+shengxiao['cumulative_return'][-1])**(1/3) )-1
end_ann_return

0.4715630660748804

In [25]:
shengxiao['cumulative_return'][-1]

2.186666666666667