In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from datetime import datetime
from datetime import date
import matplotlib.pyplot as plt
import re
import requests
pd.options.display.max_rows = 5000 
import warnings
warnings.filterwarnings('ignore')

In [2]:
# shengxiao = pd.DataFrame({'shu':[5,10,15], 'niu':[100,200,300],'hu':[1,5,10]}, index=['2018', '2019', '2020'])
# shengxiao

In [3]:
shengxiao = pd.DataFrame({'shu':[5,10,15], 'niu':[100,150,200]}, index=[ '2018','2019', '2020'])
shengxiao

      shu  niu
2018    5  100
2019   10  150
2020   15  200

In [4]:
weights = np.array([0.2, 0.8])

In [5]:
return_each = shengxiao.pct_change()
return_each

      shu       niu
2018  NaN       NaN
2019  1.0  0.500000
2020  0.5  0.333333

In [6]:
return_each_mean = return_each.mean() 
return_each_mean #

shu    0.750000
niu    0.416667
dtype: float64

### 以列为计算方向，感觉每次都会出现一点最终结果上的偏差

allocated_return是平均每次的-----平均回报率

比如，初始投资1000，shu占20%， niu占80%，

1000 * 1.483 = 1483

1483 * 1.483 = 2199 约等于手动计算的2200

In [7]:
allocated_return = np.sum(weights * return_each_mean)
allocated_return

0.48333333333333334

### 以行为计算单位，计算结果比较准确，但每次算的都是整个portfolio的一次回报率

each_portfolio_return 给出每次的------实际回报率

比如，依然是初始投资1000，shu占20%， niu占80%

0.6 = 20%权数 * 100%roi + 80%权数 * 50%roi

1000 * （1+0.6）= 1600     

1600 * （1+0.367）= 2187.2 约等于手动计算的2200

In [8]:
shengxiao['each_portfolio_return'] = return_each.dot(weights)

In [9]:
shengxiao

      shu  niu  each_portfolio_return
2018    5  100                    NaN
2019   10  150               0.600000
2020   15  200               0.366667

### cumulative 的正确用法， 感觉之前的code有一些错误

In [10]:
shengxiao['cumulative_return'] = (1+shengxiao['each_portfolio_return']).cumprod()
shengxiao

      shu  niu  each_portfolio_return  cumulative_return
2018    5  100                    NaN                NaN
2019   10  150               0.600000           1.600000
2020   15  200               0.366667           2.186667

In [11]:
end_return = (1+shengxiao['each_portfolio_return']).cumprod()[-1] - 1
end_return

1.186666666666667

转化成年化回报率, 3年

In [12]:
end_ann_return = ((1+shengxiao['cumulative_return'][-1])**(1/3) )-1
end_ann_return

0.4715630660748804

In [13]:
shengxiao['cumulative_return'][-1]

2.186666666666667

### 取了5次优化的weights来求平均值，看看排名前列的股票有哪些

In [14]:
r1 = [0.047693049976702734,
 0.04622498379079718,
 0.0359501243453683,
 0.020317440981537892,
 0.057176075097929116,
 0.19143280242128802,
 0.04307393950077352,
 0.05932316270221825,
 0.14017590378165554,
 0.15249878435097408,
 0.08807301752569181,
 0.020244273490107396,
 0.09781644203495603]

In [15]:
r2 = [0.03730506023442033,
 0.003443821497637221,
 0.04596146925871816,
 0.07538516381729027,
 0.02516007574832691,
 0.16689490646223817,
 0.07649890109306548,
 0.024061104417790087,
 0.12324767508128423,
 0.14351286457290824,
 0.061402988588690706,
 0.03602490373446339,
 0.18110106549316665]

In [16]:
r3 = [0.061736249923856144,
 0.020332535871040034,
 0.021505822328386087,
 0.08078523218742749,
 0.008627397827318754,
 0.16964739419151295,
 0.09237652118978815,
 0.14956552451222885,
 0.07860970519169834,
 0.17990213293743604,
 0.037855574643010745,
 0.03315501013648788,
 0.06590089905980841]

In [17]:
r4 =[0.027925292715085745,
 0.013343878280026264,
 0.02119749436103972,
 0.13270517769785437,
 0.0010907774013141302,
 0.19501370723039396,
 0.03709082892689144,
 0.0010512164995387686,
 0.21572904021307032,
 0.10155988447850219,
 0.06098620193740988,
 0.003210728756116591,
 0.1890957715027566]

In [18]:
r5 = [0.07755033227568388,
 0.0005224504239839764,
 0.06858322392425512,
 0.013808655350641363,
 0.004314494612770854,
 0.2033257738349047,
 0.11268802130569665,
 0.0040287876568744435,
 0.019908580919928955,
 0.1920374180010294,
 0.16494723447861667,
 0.008523270733795598,
 0.1297617564818182]

In [19]:
r6 = [0.0016535222084008878,
 0.044352096030560464,
 0.12825703560582852,
 0.024308141513684944,
 0.002960836814454336,
 0.22048871722382132,
 0.0130191781412193,
 0.13253591065432188,
 0.12956531282030445,
 0.16664684394243298,
 0.04018339962386781,
 0.011615089135299959,
 0.08441391628580325]

In [20]:
r7 = [0.045547757544635394,
 0.0029679771331054413,
 0.07675623644255479,
 0.004294149385324217,
 0.07705437214207375,
 0.1959565781558757,
 0.09740124117163411,
 0.061993144135290966,
 0.14298179306862793,
 0.20987229680984817,
 0.038885209638169105,
 0.021943192923795964,
 0.024346051449064404]

In [21]:
r8 = [0.04079672348437446,
 0.01924164260596969,
 0.030835748114077556,
 0.11600173913449038,
 0.04970493895028219,
 0.16947455083573507,
 0.05790093133061046,
 0.024666538434264283,
 0.1807419028586476,
 0.18435129313523796,
 0.010593384535536493,
 0.0002499242459559666,
 0.11544068233481804]

In [22]:
r9 = [0.09480383301306562,
 0.014192142902575025,
 0.006534585844648531,
 0.14254233985306533,
 0.01472106352898499,
 0.22336027601744401,
 0.19942476894994823,
 0.0010314257771487751,
 0.099191078856511,
 0.06897693389279982,
 0.01588864743129225,
 0.0016360490735543992,
 0.1176968548589619]

In [23]:
col=['AHT',
 'AV',
 'BA',
 'GSK',
 'HSBA',
 'JD',
 'NG',
 'RDSB',
 'RIO',
 'SPX',
 'TSCO',
 'TW',
 'ULVR']

In [29]:
r10 = [0.04822614554102497,
 0.01151674654445576,
 0.06590352330666555,
 0.1424275566925055,
 0.013967511263615796,
 0.16349196085376433,
 0.10776150854749506,
 0.011139229884371405,
 0.11971715739402242,
 0.2175253733150724,
 0.015049328803317328,
 0.008163783194376717,
 0.07511017465931277]

In [30]:
weights_sum = np.array(r1)+np.array(r2)+ np.array(r3)  +np.array(r4)+ np.array(r5) + np.array(r6) + np.array(r7) + np.array(r8) + np.array(r9)+ np.array(r10)

In [31]:
mean_weight = (weights_sum)/10

In [32]:
mean_weight

array([0.0483238 , 0.01761383, 0.05014853, 0.07525756, 0.02547775,
       0.18990867, 0.08372358, 0.0469396 , 0.12498682, 0.16168838,
       0.0533865 , 0.01447662, 0.10806836])

In [33]:
pd.DataFrame({'index':col, 'mean_weight':mean_weight}).sort_values(by='mean_weight', ascending=False)

   index  mean_weight
5     JD     0.189909
9    SPX     0.161688
8    RIO     0.124987
12  ULVR     0.108068
6     NG     0.083724
3    GSK     0.075258
10  TSCO     0.053386
2     BA     0.050149
0    AHT     0.048324
7   RDSB     0.046940
4   HSBA     0.025478
1     AV     0.017614
11    TW     0.014477