In [1]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [16]:
data = {"X":[15,50], "M":[10,20],"T":[5,0]}

In [24]:
df = pd.DataFrame(data.values(), columns=['return', "std"], index=[i for i in data.items()[0]])

TypeError: 'dict_items' object is not subscriptable

In [23]:
df

   return  std
0      15   50
1      10   20
2       5    0

In [8]:
data1 = pd.DataFrame({"x":"x","y":"y"}, index=[0,1])

In [9]:
data1

   x  y
0  x  y
1  x  y

In [12]:
data = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}

pd.DataFrame.from_dict(data)

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d