In [1]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [16]:
data = {"X":[15,50], "M":[10,20],"T":[5,0]}

In [30]:
df = pd.DataFrame(data.values(), columns=['return', "std"], index=data.keys())

In [31]:
df

   return  std
X      15   50
M      10   20
T       5    0

In [32]:
# git up