In [10]:
# https://towardsdatascience.com/python-how-to-get-live-market-data-less-than-0-1-second-lag-c85ee280ed93

In [1]:
import numpy as np
import pandas as pd

#Data Source
import yfinance as yf

#Data viz
import plotly.graph_objs as go

https://aroussi.com/post/python-yahoo-finance

#### 通过ticker对接数据

In [2]:
cingf = yf.Ticker("cingf")
print(cingf)

yfinance.Ticker object <CINGF>

In [3]:
cingf.info

{'zip': 'SW6 3JA',
 'sector': 'Technology',
 'longBusinessSummary': 'Coinsilium Group Limited is a venture capital firm specializing in early stage startup and accelerating seed-stage investment. The firm primarily invests in companies who are pioneering new applications that leverage and commercialize blockchain technologies and financial technology including Bitcoins, Internet of Things, wallets, payment gateways, exchanges, security solutions, applications, and financial services. It typically invests in Europe, Asia, and US, but may consider investments in other parts. Coinsilium Group Limited was founded on 25 September 2014 and is based in London, United Kingdom with an additional office in Hong Kong.',
 'city': 'London',
 'phone': '44 2035 421 507',
 'country': 'United Kingdom',
 'companyOfficers': [],
 'website': 'http://www.coinsilium.com',
 'maxAge': 1,
 'address1': '119 Chester House',
 'industry': 'Software—Application',
 'address2': '81-83 Fulham High Street',
 'previousClose': 0.13,
 'regularMarketOpen': 0.1322,
 'twoHundredDayAverage': 0.11797339999999999,
 'trailingAnnualDividendYield': None,
 'payoutRatio': 0,
 'volume24Hr': None,
 'regularMarketDayHigh': 0.1322,
 'navPrice': None,
 'averageDailyVolume10Day': 466101,
 'totalAssets': None,
 'regularMarketPreviousClose': 0.13,
 'fiftyDayAverage': 0.18896176,
 'trailingAnnualDividendRate': None,
 'open': 0.1322,
 'toCurrency': None,
 'averageVolume10days': 466101,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'beta': 1.612779,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 0.11810000000000001,
 'priceHint': 4,
 'currency': 'USD',
 'regularMarketVolume': 310159,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2755575,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 1430524,
 'priceToSalesTrailing12Months': 10.002522,
 'dayLow': 0.11810000000000001,
 'ask': 0,
 'ytdReturn': None,
 'askSize': 0,
 'volume': 310159,
 'fiftyTwoWeekHigh': 0.55,
 'forwardPE': None,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 0.01,
 'bid': 0,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 0,
 'dayHigh': 0.1322,
 'exchange': 'PNK',
 'shortName': 'COINSILIUM GROUP LTD',
 'longName': 'Coinsilium Group Limited',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'CINGF',
 'messageBoardId': 'finmb_304416756',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 64.165,
 'beta3Year': None,
 'profitMargins': -1.70679,
 'enterpriseToEbitda': -25.43,
 '52WeekChange': 8.240876,
 'morningStarRiskRating': None,
 'forwardEps': None,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 0,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 0.018000000000000002,
 'sharesShort': None,
 'sharesPercentSharesOut': None,
 'fundFamily': None,
 'lastFiscalYearEnd': 1577750400,
 'heldPercentInstitutions': 0,
 'netIncomeToCommon': -470199,
 'trailingEps': -0.005,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.41299164,
 'priceToBook': 7.0333333,
 'heldPercentInsiders': 0.04836000000000001,
 'nextFiscalYearEnd': 1640908800,
 'mostRecentQuarter': 1593475200,
 'shortRatio': None,
 'sharesShortPreviousMonthDate': None,
 'floatShares': 136102549,
 'enterpriseValue': 17676680,
 'threeYearAverageReturn': None,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': None,
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': -0.888,
 'dateShortInterest': None,
 'pegRatio': None,
 'lastCapGain': None,
 'shortPercentOfFloat': None,
 'sharesShortPriorMonth': None,
 'impliedSharesOutstanding': 122743000,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 0.1322,
 'logo_url': 'https://logo.clearbit.com/coinsilium.com'}

#### 要将历史数据另存成pandas df，方便今后操作
Available paramaters for the history() method are:

period: data period to download (Either Use period parameter or use start and end) Valid periods are: 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd, max

interval: data interval (intraday data cannot extend last 60 days) Valid intervals are: 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo

start: If not using period - Download start date string (YYYY-MM-DD) or datetime.

end: If not using period - Download end date string (YYYY-MM-DD) or datetime.

prepost: Include Pre and Post market data in results? (Default is False)

auto_adjust: Adjust all OHLC automatically? (Default is True)

actions: Download stock dividends and stock splits events? (Default is True)

In [203]:
msft_hist = msft.history(period='max')

#### 直接获取分红和配股信息

In [224]:
msft.actions.head()
# msft.dividends
# msft.splits

Date
1987-09-21    2.0
1990-04-16    2.0
1991-06-27    1.5
1992-06-15    1.5
1994-05-23    2.0
1996-12-09    2.0
1998-02-23    2.0
1999-03-29    2.0
2003-02-18    2.0
Name: Stock Splits, dtype: float64

#### 通过pd df 更好的切片，分析数据

In [220]:
msft_hist[(msft_hist['Dividends'] >0) | (msft_hist['Stock Splits'] >0)][['Dividends','Stock Splits']].describe()

       Dividends  Stock Splits
count  78.000000     78.000000
mean    0.259872      0.217949
std     0.361259      0.611522
min     0.000000      0.000000
25%     0.100000      0.000000
50%     0.180000      0.000000
75%     0.360000      0.000000
max     3.080000      2.000000

#### index是datetime形式的，可以按如下筛选切片

In [213]:
msft_hist[('2021-03-12' > msft_hist.index)& (msft_hist.index > '2021-03-10')]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-03-11,234.960007,239.169998,234.309998,237.130005,29896000,0.0,0.0

In [225]:
# data = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30", group_by="ticker") #改变multi-columns的顺序，让AAPL和SPY变成一级引索

data = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  2 of 2 completed

In [227]:
data.head()

            Adj Close                  Close                   High  \
                 AAPL         SPY       AAPL         SPY       AAPL
Date
2017-01-03  27.459938  208.213501  29.037500  225.240005  29.082500
2017-01-04  27.429203  209.452240  29.004999  226.580002  29.127501
2017-01-05  27.568691  209.285812  29.152500  226.399994  29.215000
2017-01-06  27.876030  210.034561  29.477501  227.210007  29.540001
2017-01-09  28.131361  209.341278  29.747499  226.460007  29.857500

                              Low                   Open              \
                   SPY       AAPL         SPY       AAPL         SPY
Date
2017-01-03  225.830002  28.690001  223.880005  28.950001  225.039993
2017-01-04  226.750000  28.937500  225.610001  28.962500  225.619995
2017-01-05  226.580002  28.952499  225.479996  28.980000  226.270004
2017-01-06  227.750000  29.117500  225.899994  29.195000  226.529999
2017-01-09  227.070007  29.485001  226.419998  29.487499  226.910004

               Volume
                 AAPL       SPY
Date
2017-01-03  115127600  91366500
2017-01-04   84472400  78744400
2017-01-05   88774400  78379000
2017-01-06  127007600  71559900
2017-01-09  134247600  46939700

In [230]:
data['Close']['SPY']

Date
2017-01-03    225.240005
2017-01-04    226.580002
2017-01-05    226.399994
2017-01-06    227.210007
2017-01-09    226.460007
                 ...
2017-04-24    237.169998
2017-04-25    238.550003
2017-04-26    238.399994
2017-04-27    238.600006
2017-04-28    238.080002
Name: SPY, Length: 81, dtype: float64

In [244]:
# https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html
idx = pd.IndexSlice
data.loc[:, idx[:,'SPY']]

,Adj Close,Close,High,Low,Open,Volume
,SPY,SPY,SPY,SPY,SPY,SPY
Date,,,,,,
2017-01-03,208.213501,225.240005,225.830002,223.880005,225.039993,91366500
2017-01-04,209.452240,226.580002,226.750000,225.610001,225.619995,78744400
2017-01-05,209.285812,226.399994,226.580002,225.479996,226.270004,78379000
2017-01-06,210.034561,227.210007,227.750000,225.899994,226.529999,71559900
2017-01-09,209.341278,226.460007,227.070007,226.419998,226.910004,46939700
...,...,...,...,...,...,...
2017-04-24,220.195480,237.169998,237.410004,234.559998,237.179993,119209900
2017-04-25,221.476685,238.550003,238.949997,237.809998,237.910004,76698300
2017-04-26,221.337448,238.399994,239.529999,238.350006,238.509995,84702500
2017-04-27,221.523102,238.600006,238.949997,237.979996,238.770004,57410300
2017-04-28,221.040314,238.080002,238.929993,237.929993,238.899994,63532800

In [245]:
SPY = data.loc[:, idx[:,'SPY']]
SPY.columns

MultiIndex([('Adj Close', 'SPY'),
            (    'Close', 'SPY'),
            (     'High', 'SPY'),
            (      'Low', 'SPY'),
            (     'Open', 'SPY'),
            (   'Volume', 'SPY')],
           )

In [246]:
col_names = ['adj Close','Close', 'High', 'Low','Open','Volume']
SPY.columns = col_names

In [247]:
SPY.head()

,adj Close,Close,High,Low,Open,Volume
Date,,,,,,
2017-01-03,208.213501,225.240005,225.830002,223.880005,225.039993,91366500
2017-01-04,209.452240,226.580002,226.750000,225.610001,225.619995,78744400
2017-01-05,209.285812,226.399994,226.580002,225.479996,226.270004,78379000
2017-01-06,210.034561,227.210007,227.750000,225.899994,226.529999,71559900
2017-01-09,209.341278,226.460007,227.070007,226.419998,226.910004,46939700

#### 下载后直接存成csv文件
可以先存成变量，再存成csv

或者可以一步到位，直接存成csv

In [249]:
spy = yf.download("SPY", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  1 of 1 completed

In [251]:
# spy.to_csv(r'/Users/paxton615/Github_Personal/Notes/Notes/Financial_models/spy_070101_070403.csv')

In [252]:
# yf.download("aapl", period='max').to_csv(r'/Users/paxton615/Github_Personal/Notes/Notes/Financial_models/apple_max.csv')

[*********************100%***********************]  1 of 1 completed

### 如果想从yf切换回pandas_datareader

In [ ]:

# from pandas_datareader import data as pdr

# import yfinance as yf
# yf.pdr_override() # <== that's all it takes :-)

# # download dataframe using pandas_datareader
# data = pdr.get_data_yahoo("SPY", start="2017-01-01", end="2017-04-30")

#### 升级yfinance
！ pip install yfinance --upgrade --no-cache-dir