In [11]:
# ! pip install anvil-uplink

In [13]:
import anvil.pdf
import anvil.media

In [1]:
import pandas as pd

In [2]:
this_month = pd.read_csv('/Users/paxton615/Downloads/this_month.csv')
last_month = pd.read_csv('/Users/paxton615/Downloads/last_month.csv')
print(this_month.head(3))
print(last_month.head(3))

    category     revenue
0    Widgets  1298471.00
1   Services   265402.12
2  Licensing    28000.00
    category    revenue
0    Widgets  982305.00
1   Services  203631.25
2  Licensing   39000.00

In [6]:
# join two csv
combined = this_month.join(last_month.set_index('category'), on='category', rsuffix='_last_month')
combined

    category     revenue  revenue_last_month
0    Widgets  1298471.00           982305.00
1   Services   265402.12           203631.25
2  Licensing    28000.00            39000.00

In [14]:
# pdf = anvil.pdf.render_form('REPORTFORM')

# anvil.media.write_to_file(pdf, 'report.pdf')

In [16]:
records = combined.to_dict('records')
print(records)

[{'category': 'Widgets', 'revenue': 1298471.0, 'revenue_last_month': 982305.0}, {'category': 'Services', 'revenue': 265402.12, 'revenue_last_month': 203631.25}, {'category': 'Licensing', 'revenue': 28000.0, 'revenue_last_month': 39000.0}]

In [ ]:
import anvil.server

anvil.server.connect("WV57ZOOEH55UMQLVRG2OYQ77-P7ZG2SKRAKAOOR2S")

In [33]:
pdf = anvil.pdf.render_form('REPORTFORM', records)

In [34]:
anvil.media.write_to_file(pdf, 'report.pdf')

In [26]:
# com = combined
# com
# test append rows
# com.append({'category': 'Section', 'revenue':10000, 'revenue_last_month':500000}, ignore_index=True)