In [2]:
import requests
from bs4 import BeautifulSoup
import bs4
import pandas as pd
import numpy as np
from IPython.display import Image

### Go to rightmove.co.uk, search rental properties in Maidstone, and copy paste to replace the 'url' below

In [3]:
bdrooms = []
addresses = []
rent = []

for start in range(0,480,24):
    url = 'https://www.rightmove.co.uk/property-to-rent/find.html?locationIdentifier=REGION%5E1474&minBedrooms=4&radius=3.0&propertyTypes=detached%2Csemi-detached%2Cterraced&primaryDisplayPropertyType=houses&includeLetAgreed=false&mustHave=&dontShow=&furnishTypes=&keywords='.format(start)
    r = requests.get(url)
    soup = BeautifulSoup(r.text, "html.parser")
    
    for num in soup.find_all('h2', class_= 'propertyCard-title'):
        bdrooms.append(num.text.strip())
        
    for add in soup.find_all('address', class_="propertyCard-address"):
        for meta in add:
            for loc in meta:
                if type(loc) is bs4.element.NavigableString:
                    addresses.append(loc)
                    
    for pc in soup.find_all('span', 'propertyCard-priceValue'):
        rent.append(pc.string)

In [4]:
print(len(bdrooms))
print(bdrooms[:5])
print(len(addresses))
print(addresses[:5])
print(len(rent))
print(rent[:5])

500
['4 bedroom semi-detached house', '6 bedroom terraced house', '6 bedroom detached house', '4 bedroom semi-detached house', '5 bedroom semi-detached house']
500
['Acacia Road, Guildford, GU1', 'Student House, Stoughton Area', 'Beckingham Road, Guildford', 'Aldershot Road', 'Aldershot Road, Surrey']
500
['£2,500 pcm', '£3,100 pcm', '£3,300 pcm', '£2,200 pcm', '£2,800 pcm']

In [5]:
woking_3ms = pd.DataFrame({'bdrooms':pd.Series(bdrooms), 'address':pd.Series(addresses), 'pcm':pd.Series(rent)})
woking_3ms.tail()

,bdrooms,address,pcm
495,4 bedroom end of terrace house,"Homestall, Guildford, Surrey, GU2","£1,800 pcm"
496,6 bedroom terraced house,"St George's Hill, Weybridge, Surrey, KT13","£8,667 pcm"
497,4 bedroom semi-detached house,"Student House, Dennisville Area","£2,050 pcm"
498,4 bedroom end of terrace house,"Homestall, Guildford","£1,800 pcm"
499,4 bedroom end of terrace house,Rye Close,"£2,100 pcm"

In [7]:
woking_3ms = woking_3ms.dropna()
woking_3ms.tail()

,bdrooms,address,pcm
495,4 bedroom end of terrace house,"Homestall, Guildford, Surrey, GU2","£1,800 pcm"
496,6 bedroom terraced house,"St George's Hill, Weybridge, Surrey, KT13","£8,667 pcm"
497,4 bedroom semi-detached house,"Student House, Dennisville Area","£2,050 pcm"
498,4 bedroom end of terrace house,"Homestall, Guildford","£1,800 pcm"
499,4 bedroom end of terrace house,Rye Close,"£2,100 pcm"

In [8]:
woking_3ms['pcm'] = [int(''.join(filter(str.isdigit, i))) for i in woking_3ms['pcm']]
woking_3ms.tail()

,bdrooms,address,pcm
495,4 bedroom end of terrace house,"Homestall, Guildford, Surrey, GU2",1800
496,6 bedroom terraced house,"St George's Hill, Weybridge, Surrey, KT13",8667
497,4 bedroom semi-detached house,"Student House, Dennisville Area",2050
498,4 bedroom end of terrace house,"Homestall, Guildford",1800
499,4 bedroom end of terrace house,Rye Close,2100

In [9]:
woking_3ms.describe()

               pcm
count   500.000000
mean   2834.700000
std    1411.843147
min    1800.000000
25%    2087.500000
50%    2400.000000
75%    3100.000000
max    8667.000000