In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [13]:
abingdon = {'count': 124,  "median":1950,'mean':2020,'std':422}

In [14]:
banbury = {'count': 25, "median":2250, 'mean':2643,'std':896}

In [15]:
canterbury = {'count': 387, "median":1750, 'mean':1864,'std':462}

In [22]:
gravesend = {'count': 49, "median":1900, 'mean':1550,'std':290}

In [23]:
maidstone = {'count': 25, "median":1500, 'mean':1670,'std':331}

In [18]:
oxford = {'count': 480, "median":1500, 'mean':1670,'std':331}

In [19]:
tonbridge = {'count': 99, "median":3995, 'mean':3459,'std':1495}

In [21]:
ashford = {'count': 49, "median":1500, 'mean':1735,'std':680}

In [24]:
pd.DataFrame([oxford,banbury, abingdon, maidstone, ashford, canterbury, gravesend, tonbridge ], 
             index=['oxford','banbury','abingdon','maidstone','ashford','canterbury','gravesend','tonbridge'])

            count  median  mean   std
oxford        480    1500  1670   331
banbury        25    2250  2643   896
abingdon      124    1950  2020   422
maidstone      25    1500  1670   331
ashford        49    1500  1735   680
canterbury    387    1750  1864   462
gravesend      49    1900  1550   290
tonbridge      99    3995  3459  1495

In [ ]:
# 所有信息均来自rightmove.co.uk，搜索条件4beds house，3miles radius。
# count: 网页信息爬取结果。数字越大说明本地区房源越多。
# median：租金从低往高排列，最中间的那个数字。（租金参考）
# mean：租金平均数。（租金参考）
# std：租金波动情况。现实中，这个数字越大，租金差异也越大，讲价空间也大。