In [2]:
import requests
from bs4 import BeautifulSoup
import bs4
import pandas as pd
import numpy as np
from IPython.display import Image

In [3]:
bdrooms = []
addresses = []
rent = []

for start in range(0,480,24):
    url = 'https://www.rightmove.co.uk/property-to-rent/find.html?searchType=RENT&locationIdentifier=REGION%5E94136&insId=1&radius=3.0&minPrice=&maxPrice=&minBedrooms=4&maxBedrooms=&displayPropertyType=houses&maxDaysSinceAdded=&sortByPriceDescending=&_includeLetAgreed=on&primaryDisplayPropertyType=&secondaryDisplayPropertyType=&oldDisplayPropertyType=&oldPrimaryDisplayPropertyType=&letType=&letFurnishType=&houseFlatShare='.format(start)
    r = requests.get(url)
    soup = BeautifulSoup(r.text, "html.parser")
    
    for num in soup.find_all('h2', class_= 'propertyCard-title'):
        bdrooms.append(num.text.strip())
        
    for add in soup.find_all('address', class_="propertyCard-address"):
        for meta in add:
            for loc in meta:
                if type(loc) is bs4.element.NavigableString:
                    addresses.append(loc)
                    
    for pc in soup.find_all('span', 'propertyCard-priceValue'):
        rent.append(pc.string)

In [4]:
print(len(bdrooms))
print(bdrooms[:5])
print(len(addresses))
print(addresses[:5])
print(len(rent))
print(rent[:5])

500
['4 bedroom terraced house', '6 bedroom property', '4 bedroom house share', '10 bedroom detached house', '5 bedroom semi-detached house']
500
['Reliance Way, Oxford', 'Horwood Close, Headington, Oxford, OX3', 'Pegasus Road, Oxford, OX4', 'Headington, HMO Ready 10 Sharers, OX3', 'Cardigan Street, HMO Ready 5 Sharers, OX2']
500
['£1,950 pcm', '£2,940 pcm', '£500 pcm', '£3,900 pcm', '£2,750 pcm']

In [5]:
oxford_4beds = pd.DataFrame({'bdrooms':pd.Series(bdrooms), 'address':pd.Series(addresses), 'pcm':pd.Series(rent)})
oxford_4beds = oxford_4beds.dropna()
oxford_4beds['pcm'] = [int(''.join(filter(str.isdigit, i))) for i in oxford_4beds['pcm']]
oxford_4beds.describe()

                pcm
count    500.000000
mean    2573.400000
std     1248.135058
min      500.000000
25%     2200.000000
50%     2350.000000
75%     2750.000000
max    10500.000000

In [6]:
oxford_4beds = oxford_4beds[oxford_4beds['pcm']>=1000]
oxford_4beds.describe()

                pcm
count    480.000000
mean    2659.791667
std     1198.294264
min     1495.000000
25%     2200.000000
50%     2500.000000
75%     2750.000000
max    10500.000000