In [3]:
#先引入后面可能用到的包（package）
import pandas as pd  
import numpy as np
import talib as ta
from datetime import datetime,timedelta
import matplotlib.pyplot as plt
%matplotlib inline   
#正常显示画图时出现的中文和负号
from pylab import mpl
mpl.rcParams['font.sans-serif']=['SimHei']
mpl.rcParams['axes.unicode_minus']=False

### 股票数据 Stock Data

In [ ]:
# 使用tushare时发现需要国内手机号注册，感觉不用也可以，反正是测试。
# 应该直接使用下载好的股票数据，加工后也能得到ATR

In [ ]:
# 为了实验，使用appl，goog，SPX, NDX, DJI，HSI作为测试数据。可以从我的tradingview下载，
# 截取日线，2016.12.29 - 2022.6.15，

In [19]:
spx = pd.read_csv('/Users/paxton615/Desktop/Stock_Price_csv/turtle_test/SP_SPX, 1D.csv')

In [21]:
spx.dtypes

time          object
open         float64
high         float64
low          float64
close        float64
MA           float64
MA.1         float64
MA.2         float64
MA.3         float64
Volume         int64
Volume MA    float64
dtype: object

In [34]:
# 时间改成dt，只保留年月日
spx.time = pd.to_datetime(spx['time']).dt.date
# 只选部分有用cols，col名全小写
spx = spx[['time', 'open', 'high', 'low', 'close', 'Volume', ]]
spx.columns = ['time', 'open', 'high', 'low', 'close', 'volume' ]

In [40]:
spx

            time     open     high      low    close      volume
0     2015-11-13  2044.64  2044.64  2022.02  2023.04  4278750000
1     2015-11-16  2022.08  2053.22  2019.39  2053.19  3741240000
2     2015-11-17  2053.67  2066.69  2045.90  2050.44  4427350000
3     2015-11-18  2051.99  2085.31  2051.99  2083.58  3926390000
4     2015-11-19  2083.70  2086.74  2078.76  2081.24  3628110000
...          ...      ...      ...      ...      ...         ...
1655  2022-06-13  3838.15  3838.15  3734.30  3749.64  3034000000
1656  2022-06-14  3763.52  3778.18  3705.68  3735.47  2616000000
1657  2022-06-15  3764.05  3837.56  3722.30  3790.00  2730000000
1658  2022-06-16  3728.18  3728.18  3639.77  3666.76  3042000000
1659  2022-06-17  3665.90  3707.71  3636.87  3674.85  4526000000

[1660 rows x 6 columns]

In [41]:
spx['up']=ta.MAX(spx.high,timeperiod=20).shift(1)
#最近N2个交易日最低价
spx['down']=ta.MIN(spx.low,timeperiod=10).shift(1)
#每日真实波动幅度
spx['ATR']=ta.ATR(spx.high,spx.low,spx.close,timeperiod=20)
spx.tail()

,time,open,high,low,close,volume,up,down,ATR
1655,2022-06-13,3838.15,3838.15,3734.30,3749.64,3034000000,4177.51,3900.16,97.191983
1656,2022-06-14,3763.52,3778.18,3705.68,3735.47,2616000000,4177.51,3734.30,95.957384
1657,2022-06-15,3764.05,3837.56,3722.30,3790.00,2730000000,4177.51,3705.68,96.922515
1658,2022-06-16,3728.18,3728.18,3639.77,3666.76,3042000000,4177.51,3705.68,99.587889
1659,2022-06-17,3665.90,3707.71,3636.87,3674.85,4526000000,4177.51,3639.77,98.150495

In [43]:
spx.head(30)

,time,open,high,low,close,volume,up,down,ATR
0,2015-11-13,2044.64,2044.64,2022.02,2023.04,4278750000,NaN,NaN,NaN
1,2015-11-16,2022.08,2053.22,2019.39,2053.19,3741240000,NaN,NaN,NaN
2,2015-11-17,2053.67,2066.69,2045.90,2050.44,4427350000,NaN,NaN,NaN
3,2015-11-18,2051.99,2085.31,2051.99,2083.58,3926390000,NaN,NaN,NaN
4,2015-11-19,2083.70,2086.74,2078.76,2081.24,3628110000,NaN,NaN,NaN
5,2015-11-20,2082.82,2097.06,2082.82,2089.17,3929600000,NaN,NaN,NaN
6,2015-11-23,2089.41,2095.61,2081.39,2086.59,3587980000,NaN,NaN,NaN
7,2015-11-24,2084.42,2094.12,2070.29,2089.14,3884930000,NaN,NaN,NaN
8,2015-11-25,2089.30,2093.00,2086.30,2088.87,2852940000,NaN,NaN,NaN
9,2015-11-27,2088.82,2093.29,2084.13,2090.11,1466840000,NaN,NaN,NaN
10,2015-11-30,2090.95,2093.81,2080.41,2080.41,4275030000,NaN,2019.39,NaN
11,2015-12-01,2082.93,2103.37,2082.93,2102.63,3712120000,NaN,2019.39,NaN
12,2015-12-02,2101.71,2104.27,2077.11,2079.51,3950640000,NaN,2045.90,NaN
13,2015-12-03,2080.71,2085.00,2042.35,2049.62,4306490000,NaN,2051.99,NaN
14,2015-12-04,2051.24,2093.84,2051.24,2091.69,4214910000,NaN,2042.35,NaN
15,2015-12-07,2090.42,2090.42,2066.78,2077.07,4043820000,NaN,2042.35,NaN
16,2015-12-08,2073.39,2073.85,2052.32,2063.59,4173570000,NaN,2042.35,NaN
17,2015-12-09,2061.17,2080.33,2036.53,2047.62,4385250000,NaN,2042.35,NaN
18,2015-12-10,2047.93,2067.65,2045.67,2052.23,3715150000,NaN,2036.53,NaN
19,2015-12-11,2047.27,2047.27,2008.80,2012.37,4301060000,NaN,2036.53,NaN
20,2015-12-14,2013.37,2022.92,1993.26,2021.94,4612440000,2104.27,2008.80,25.306000
21,2015-12-15,2025.55,2053.87,2025.55,2043.41,4353540000,2104.27,1993.26,25.637200
22,2015-12-16,2046.50,2076.72,2042.43,2073.07,4635450000,2104.27,1993.26,26.069840
23,2015-12-17,2073.76,2076.37,2041.66,2041.89,4327390000,2104.27,1993.26,26.501848
24,2015-12-18,2040.81,2040.81,2005.33,2005.55,6683070000,2104.27,1993.26,27.004756
25,2015-12-21,2010.27,2022.90,2005.93,2021.15,3760280000,2104.27,1993.26,26.522018
26,2015-12-22,2023.15,2042.74,2020.49,2038.97,3520860000,2104.27,1993.26,26.308417
27,2015-12-23,2042.20,2064.73,2042.20,2064.29,3484090000,2104.27,1993.26,26.280996
28,2015-12-24,2063.52,2067.36,2058.73,2060.99,1411860000,2104.27,1993.26,25.398446
29,2015-12-28,2057.77,2057.77,2044.20,2056.50,2492510000,2104.27,1993.26,24.968024