<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Intro to `pandas` Lab
___

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(font_scale=1.5)

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

### A. Explore _Mad Men_ Cast Data

---

#### 1. Load the _Mad Men_ cast data into a `pandas` DataFrame.

In [6]:
cast_data_csv = '../../../../resource-datasets/mad_men_actors/mad-men-cast-show-data.csv'

In [7]:
cast = pd.read_csv(cast_data_csv, encoding='latin-1')

#### 2. Print the head and tail of the data.

In [14]:
cast.head(5)# A:

,Performer,Show,Show Start,Show End,Status?,CharEnd,Years Since,#LEAD,#SUPPORT,#Shows,Score,Score/Y,lead_notes,support_notes,show_notes
0,Steven Hill,Law & Order,1990,2010,END,2000,15,0,0,0,0.00,0,NaN,NaN,NaN
1,Kelli Williams,The Practice,1997,2014,END,2003,12,0,1,6,6.25,0.520833333,NaN,Any Day Now (2012),"Medical Investigation, Season 1; Lie To Me, Se..."
2,LisaGay Hamilton,The Practice,1997,2014,END,2003,12,2,0,2,4.00,0.333333333,"Life of a King, 2014; Go For Sisters, 2013",NaN,"Men of a Certain Age, Season 1-2"
3,Lara Flynn Boyle,The Practice,1997,2014,END,2003,12,0,0,0,0.00,0,NaN,NaN,NaN
4,Dylan McDermott,The Practice,1997,2014,END,2004,11,2,7,6,9.75,0.886363636,"Olympus Has Fallen, 2013; Freezer, 2014","The Messengers, 2007; Unbeatable Harold, 2009;...","Big Shots, Season 1; Dark Blue, Season 1-2; Am..."

In [16]:
cast.tail(5)

,Performer,Show,Show Start,Show End,Status?,CharEnd,Years Since,#LEAD,#SUPPORT,#Shows,Score,Score/Y,lead_notes,support_notes,show_notes
243,Meghan Wolfe,True Detective,2014,PRESENT,LEFT,2014,1,0,0,0,0.00,0,NaN,NaN,NaN
244,Kevin Dunn,True Detective,2014,PRESENT,LEFT,2014,1,0,1,2,2.25,2.25,NaN,"Draft Day, 2014","Veep, Season 3-4"
245,Charles Dance,Game of Thrones,2011,PRESENT,LEFT,2015,0,0,2,1,1.50,#DIV/0!,NaN,"Woman in Gold, 2015; Child 44, 2015","Deadline Gallipoli, Season 1"
246,Patrick Dempsey,Grey's Anatomy,2005,PRESENT,LEFT,2015,0,0,0,0,0.00,#DIV/0!,NaN,NaN,NaN
247,Ian McElhinney,Game of Thrones,2011,PRESENT,LEFT,2015,0,0,0,0,0.00,#DIV/0!,NaN,NaN,NaN

#### 3. Print the columns of the data.

In [17]:
print(cast.columns)# A:

Index(['Performer', 'Show', 'Show Start', 'Show End', 'Status?', 'CharEnd',
       'Years Since', '#LEAD', '#SUPPORT', '#Shows', 'Score', 'Score/Y',
       'lead_notes', 'support_notes', 'show_notes'],
      dtype='object')

#### 4. Rename the columns in such a way that no spaces or special symbols are contained.

Hint: Special symbols or spaces are not contained in the uppercase or lowercase letters.

In [11]:
import string
# the string library has default strings that contain all letters or numbers
uppercase = string.ascii_uppercase
lowercase = string.ascii_lowercase

In [28]:
new_list = list(cast.columns)
new_list

['Performer',
 'Show',
 'Show Start',
 'Show End',
 'Status?',
 'CharEnd',
 'Years Since',
 '#LEAD',
 '#SUPPORT',
 '#Shows',
 'Score',
 'Score/Y',
 'lead_notes',
 'support_notes',
 'show_notes']

In [50]:
big_list=[]
for i in new_list:
    all_letters=[]
    for j in i:
        if j in uppercase or j in lowercase :
            all_letters.append(j)
    big_list.append("".join(all_letters))
print(big_list)

['Performer', 'Show', 'ShowStart', 'ShowEnd', 'Status', 'CharEnd', 'YearsSince', 'LEAD', 'SUPPORT', 'Shows', 'Score', 'ScoreY', 'leadnotes', 'supportnotes', 'shownotes']

In [58]:
new_list=[]
for k in big_list:
    new_list.append(k.lower())
print(new_list)

['performer', 'show', 'showstart', 'showend', 'status', 'charend', 'yearssince', 'lead', 'support', 'shows', 'score', 'scorey', 'leadnotes', 'supportnotes', 'shownotes']

In [59]:
cast.columns = new_list

In [71]:
cast.columns

Index(['performer', 'show', 'showstart', 'showend', 'status', 'charend',
       'yearssince', 'lead', 'support', 'shows', 'score', 'scorey',
       'leadnotes', 'supportnotes', 'shownotes'],
      dtype='object')

In [72]:
cast.index

RangeIndex(start=0, stop=248, step=1)

#### 5. Subset the data where the status of the show is not "END" or "End".

In [80]:
cast.status[(cast["status"]!="END")&(cast["status"]!="End")]

157    LEFT
162    LEFT
163    LEFT
171    LEFT
173    LEFT
177    LEFT
178    LEFT
179    LEFT
200    LEFT
201    LEFT
205    LEFT
208    LEFT
231    LEFT
232    LEFT
233    LEFT
234    LEFT
235    LEFT
236    LEFT
237    LEFT
238    LEFT
239    LEFT
240    LEFT
241    LEFT
242    LEFT
243    LEFT
244    LEFT
245    LEFT
246    LEFT
247    LEFT
Name: status, dtype: object

#### 6. Print out the performers where the show start is greater than 2005 and the score is greater than 7.

In [75]:
mask = cast[(cast["showstart"]>2005) & (cast["score"]>7)]# A:
mask

,performer,show,showstart,showend,status,charend,yearssince,lead,support,shows,score,scorey,leadnotes,supportnotes,shownotes
95,Scott Porter,Friday Night Lights,2006,2011,END,2010,5,3,1,6,9.25,1.85,"The Good Guy, 2010; 10 Years, 2012; The To Do ...","Dear John, 2010","The Good Wife, Season 2; X-Men, Season 1; Hear..."
132,Connie Britton,Friday Night Lights,2006,2011,END,2011,4,3,1,4,7.25,1.8125,"The Fitzgerald Family Christmas, 2012; Angels ...","The To Do List, 2013","American Horror Story, Season 1; Nashville, Se..."
149,Amanda Seyfried,Big Love,2006,2011,End,2011,4,8,3,0,8.75,2.1875,"Red Riding Hood, 2011; In Time, 2011; Gine, 20...","The End of Love, 2013; Veronica Mars, 2014; Wh...",NaN
157,Siobhan Finneran,Downton Abbey,2010,PRESENT,LEFT,2012,3,0,0,8,8.00,2.666666667,NaN,NaN,"The Syndicate, Season 2; Happy Valley, Season ..."

#### 7. Select the `performer` and `show` columns for the 20th-25th LABELED rows.

In [11]:
# A:

#### 8. Plot a histogram of score.

In [12]:
# A:

### B. Explore San Francisco Crime Data

--- 

**9. Load the San Francisco crime data set into a DataFrame.**

In [13]:
crime_csv = '../../../../resource-datasets/sf_crime/sf_crime_sample.csv'

In [14]:
# A:

**10. Look at the dimensions of the crime data.**

In [15]:
# A:

**11. Look at the data types of the columns and print out the column names.**

In [16]:
# A:

In [17]:
# A:

**12. How many distinct districts are there?**

Hint: You can use the command `.unique()` on any pandas series.

In [18]:
# A:

**13. Which day of the week has the most crime?**

In [19]:
# A:

#### 14. Make a new DataFrame featuring the crime categories and the number of crimes per category.

In [20]:
# A:

**15. Make a DataFrame that includes the districts and crime counts per district. Which district has the most crime?**

*Hint: You can use the `.sort_values()` function to sort your DataFrame by column.*

In [21]:
# A: