<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Intro to Python: Lists & Dictionaries
---

### LEARNING OBJECTIVES

- Create lists and operate on them
- Create dictionaries and operate on them

### Lesson Guide

- [Python](#python)
- [Lists](#lists)    
- [Dictionaries](#dictionaries)
- [Pair exercise](#pair-exercise)
- [Demo / Guided Practice lists](#demo-lists)
- [Creating and using lists](#creating-lists)
- [Modifying lists](#modifying-lists)
- [Independent Practice: lists](#ind-practice-lists)
- [Demo / Guided Practice dictionaries](#demo-dictionaries)
- [Creating and using dictionaries](#creating-dictionaries)
- [Modifying dictionaries](#modifying-dictionaries)
- [Independent Practice: dictionaries](#ind-practice-dictionaries)
- [Conclusion](#conclusion)

In [1]:
a = "2"

In [2]:
type(a)

str

## Python
<a id="python"></a>

<img src="https://upload.wikimedia.org/wikipedia/commons/6/66/Guido_van_Rossum_OSCON_2006.jpg" style="width:150px;height:200px;">

- was created by Guido van Rossum and first released in 1991
- became soon popular and many packages have been added which are useful for data science
- appealing aesthetics and code uniformity by requiring white space identation to delimit code blocks
- concise syntax allows to write very compact code
- dynamic type checking
- comes with very flexible data types like lists and dictionaries

## Lists
<a id="lists"></a>

- are collections of multiple items of arbitrary python type
- two items are separated by a comma
- the items are  enclosed by square brackets: **`[ ]`**
- the individual elements can be accessed by their index indicating their position within the list and starting at 0
- are "mutable", meaning they can be modified such as appended to
- can contain any python type
- can contain a mixture of types

Examples:

```python
empty = []
integers = [1, 2, 3, 4, 5]
floats = [1., 2., 3.14, 4.75, 5.9]
letters = ['a', 'b', 'c', 'd']
mixture = ['hi', 12.13, 1, ['a','b','c'], integers]
```

In [3]:
empty = []
integers = [1, 2, 3, 4, 5]
floats = [1., 2., 3.14, 4.75, 5.9]
letters = ['a', 'b', 'c', 'd']
mixture = ['hi', 12.13, 1, ['a','b','c'], integers]

In [4]:
letters[1]

'b'

<a id="dictionaries"></a>
## Dictionaries

**Dictionaries** contain multiple items, like lists, but are organized in `key:value` pairs

**Dictionaries**

- are enclosed by curly brackets: **`{ }`**
- follow the pattern: `{key1:value1, key2:value2, ...}`
- are indexed by their keys rather than their numeric index
- are mutable
- can contain mixtures of key and value types

Examples:

```python
empty = {}
english_italian = {'apple':'Apfel','orange':'Orange','blueberry':'Blaubeere'}
telephone_nums = {'john':5103315523, 'andrew':4156678890}
lists = {0:[1,2,3], 1:[4,5,6]}
mixture = {'animals':['dog','cat'], 1:2, empty_dicts:{'a':{}, 'b':{}}}
```

[Lists and Dictionaries](http://sthurlow.com/python/lesson06/)

In [7]:
empty = {}
english_italian = {'apple':'Apfel','orange':'Orange','blueberry':'Blaubeere'}
telephone_nums = {'john':5103315523, 'andrew':4156678890}
lists = {0:[1,2,3], 1:[4,5,6]}
mixture = {'animals':['dog','cat'], 1:2, 'empty_dicts':{'a':{}, 'b':{}}}

In [8]:
telephone_nums["john"]

5103315523

In [9]:
telephone_nums.keys()

dict_keys(['john', 'andrew'])

In [10]:
mixture["animals"][1]

'cat'

In [11]:
lists[0]

[1, 2, 3]

In [12]:
english_italian["orange"]

'Orange'

<a id="pair-exercise"></a>
## Pair exercise
- Partner up and explain what a list and a dictionary are to your partners.
- What are the differences between a list and a dictionary?
- What are the two things you need for a dictionary?
- When would you use which?

<a name="demo-lists"></a>
## Demo / Guided Practice: Lists


Let's practice creating and modifying python lists.

---

<a id="creating-lists"></a>
### Creating and using lists

Say you have 5 friends called *Curly, Moe, Larry, Harry, Sue*. Create a list named `friends` with the 5 friends.

Lists can be assigned to variables. Make the list of friends and assign it to a variable named `friends`
* L-1: make a list with the 5 friends

In [13]:
friends = ["Curly", "Moe", "Larry", "Harry", "Sue"]
friends
print(friends)

['Curly', 'Moe', 'Larry', 'Harry', 'Sue']

Recall that lists are indexed with integers.

* L-2: print the 3rd item of the friends list

In [14]:
friends[2]

'Larry'

You can use two indices separated by a colon to access a range of elements within a list. For example: **`my_list[0:5]`** would print out the first 5 elements of my_list.

L-3: print the 3rd through 5th elements of the friends list

In [15]:
friends[2:5]

['Larry', 'Harry', 'Sue']

##### ---
<a id="modifying-lists"></a>
### Modifying lists

Lists have pre-defined functions which are very useful for manipulating them. The built in functions of list work _in place_, meaning that you do not have to assign the result to a new variable.

The **`.append()`** function will add an element to the end of a list. Use the function like: **`[...].append(item)`**

L-4: add 'Sam' to the end of the friends list using `.append()`

In [16]:
friends.append("Bob")
friends.append("Joe")
friends.pop()

'Joe'

You can also combine lists by simply adding them together with the **`+`** operator.

L-5: add the list `['Bob', 'Joe']` to the friends list

In [17]:
friends.pop()

'Bob'

In [18]:
friends.pop()

'Sue'

In [19]:
friends

['Curly', 'Moe', 'Larry', 'Harry']

In [20]:
friends = friends +["bob", "Joe"]
friends

['Curly', 'Moe', 'Larry', 'Harry', 'bob', 'Joe']

In [21]:
friends.remove("Larry")

In [22]:
friends.insert(1,"larry")
friends

['Curly', 'larry', 'Moe', 'Harry', 'bob', 'Joe']

The **`.remove()`** function can remove a specific element of a list, and the **`del`** command will remove the item of a list at a specific index. For example, **`del my_list[2]`** removes the 3rd element of my_list.

L-6: remove 'Sam' from the list with the `.remove()` function

In [23]:
friends.remove("larry")

L-7: remove the first element of friends using `del`

In [24]:
del friends[1]
friends

['Curly', 'Harry', 'bob', 'Joe']

In [25]:
friends

['Curly', 'Harry', 'bob', 'Joe']

In [26]:
friends.sort()
friends.index("Harry")

1

In [27]:
friends.reverse()

In [28]:
friends

['bob', 'Joe', 'Harry', 'Curly']

Python provides a datatype very similar to lists called tuples. Tuples can be constructed in the same way as lists simply by replacing angular brackets with round brackets. What distinguishes tuples from lists is that they are **immutable**. 

You can test what that implies by initialising friends as a tuple and repeating the same steps. Some will work as above, but some will fail and produce an error message. 

- Can you guess which ones before trying out? 
- Can you imagine situations where tuples will be prefarable to lists?

[More information about lists](http://sthurlow.com/python/lesson06/)


<a name="ind-practice-lists"></a>
## Independent Practice: Lists
Explore the built in functions of lists:

- use **`.append(item)`** to add item to a list
- use **`.extend([item1, item2])`** to join another list to the end of the list
- use **`.insert(index, item)`** to add an item to a list at an index
- use **`.remove(item)`** to remove an item from a list
- use **`.sort()`** to sort a list
- use **`.count(item)`** to count the number of times an item appears in a list
- use **`.index(item)`** to find the index of an element in a list
- use **`.pop()`** to extract (and remove) the last element of a list
- use **`.reverse()`** to reverse a list
- use **`del my_list[index]`** to remove an item at the index position from a list

Use the [starter-code](starter-code/list-practice-starter.ipynb) provided.

<a name="demo-dictionaries"></a>
## Demo / Guided Practice: Dictionaries 

Dictionaries are useful when you want to associate items with a specific reference, or **key**. An example of this would be storing phone numbers of your friends with the key values as your friends' names.

Remember that dictionaries are created with curly brackets, using **{key1:value1, key2:value2}** syntax.

One potentially confusing aspect of dictionaries is that although 
- they are created with the curly brackets **`{ }`**
- accessing a value with a key is done using square brackets **`[ ]`**
- for example: **`my_dict[key]`** returns the value for `key` in `my_dict`.

---
<a id="creating-dictionaries"></a>
### Creating and using dictionaries

Dictionaries are created the same way as lists, with assignment to a variable. Create a dictionary called `zipcodes` with the following `district:zip` code pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

D-1: Create the SF district dictionary

In [29]:
SF = {'sunset':94122, 'presidio':94129, 'soma':94105, 'marina':94123}

In [30]:
SF.get("marina")

94123

In [31]:
SF["sunset"]    #和.get（）有一样的效果

94122

As you can see, when you print the dictionary, the key:value pairs are not guaranteed to be ordered the way you entered them like a list.

Values for a key can be accessed using the square bracket **`[ ]`** syntax or with the **`.get()`** method.

D-2: access the zip code for `soma` and assign it to a variable

In [32]:
SF.get("soma")

94105

You can list the current keys in a dictionary with the **`.keys()`** function. The keys will be returned in a list.

D-3: print out a list of the keys in `zipcodes` using `.keys()`

In [33]:
SF.keys()
list(SF.keys())[0]    #改变SF的性质，直接获取里面的内容

'sunset'

)The **`.items()`** function will create a list of tuples, where each of the tuples in the list is a `key:value` pair in the dictionary.

D-4: print out a list of the `key:value` pairs in zipcodes using `.items()`

In [34]:
SF.items()

dict_items([('sunset', 94122), ('presidio', 94129), ('soma', 94105), ('marina', 94123)])

In [35]:
list(SF)

['sunset', 'presidio', 'soma', 'marina']

In [36]:
list(SF.items())    #for loop和dictionary不是很匹配，但是和list很配

[('sunset', 94122), ('presidio', 94129), ('soma', 94105), ('marina', 94123)]

---

<a id="modifying-dictionaries"></a>
### Modifying dictionaries

Adding new `key:value` pairs to a dictionary is similar to how you access an existing entry. The syntax for adding a new entry is: **`my_dict['new_key'] = new_value`**.

D-5: add `'castro':94114` to the `zipcodes` dictionary

In [37]:
SF["CASTRO"] = 94888

In [38]:
SF

{'sunset': 94122,
 'presidio': 94129,
 'soma': 94105,
 'marina': 94123,
 'CASTRO': 94888}

Removing a dictionary `key:value` pair can be done with the **`del`** command, like with a list, or with the **`.pop()`** function which will remove a key from the dictionary and return the value for that key.

D-6: remove the sunset `zipcode` with `.pop()` and assign it to a variable

In [39]:
suset = SF.pop("sunset")    #因为dic是没有顺序的，所以必须输入key

In [40]:
sunset = suset
sunset

94122

<a name="ind-practice-dictionaries"></a>
## Independent Practice: Dictionaries 

Build your own dictionary with `key:value` pairs of your choice.

Explore some of the built in functions for dictionaries:

- use **`.pop(key)`** to remove a `key:value` pair from the dictionary and return the value
- use **`.get(key)`** to get the value for a `key`
- use **`my_key in my_dictionary`** to check if a key `my_key` is in the dictionary `my_dictionary`
- use **`.keys()`** to get a list of the keys in the dictionary
- use **`.items()`** to get a list of the `key:value` pairs in the dictionary
- use **`.update(other_dictionary)`** to merge a second dictionary into the current dictionary
- use **`.clear()`** to remove all `key:value` pairs from the dictionary
- use **`del my_dict[key]`** to remove a key-value pair from the dictionary

Use the [starter-code](starter-code/dictionary-practice-starter.ipynb) provided.

<a name="conclusion"></a>
## Conclusion 

Lists and dictionaries are useful containers for various types of data. After this lesson
you should be able to create lists and dictionaries and to operate on them. You will need to do this a lot during the course once we start interacting with external data sources.

In [1]:
friends = ["Curly", "Moe", "Larry", "Harry", "Sue"]

In [14]:
bio = dict(zip(friends,age))

In [15]:
bio

{'Curly': 23, 'Moe': 34, 'Larry': 24, 'Harry': 25, 'Sue': 24}

In [33]:
age=[]
for i in bio:
    age.append(bio[i])
print (age)

[23, 34, 24, 25, 24]

In [35]:
name=[]
for j in bio:
    name.append(j)
print(name)

['Curly', 'Moe', 'Larry', 'Harry', 'Sue']

In [34]:
age

[23, 34, 24, 25, 24]

In [53]:
sofa=[{"joe":23,"wayne":34},['dog','cat'],"ufo",100]

In [18]:
sofa[1]

['dog', 'cat']

In [73]:
mixture = {'animals':['dog','cat'], 1:2, 
           'empty_dicts':{'a':{}, 'b':{}},57:"Century_court",35:168}

In [54]:
sofa=sofa+['red', '3m_long',1099]

In [39]:
sofa

[{'joe': 23, 'wayne': 34}, ['dog', 'cat'], 'ufo', 100, 'red', '3m_long', 1099]

In [40]:
sofa.append("new_one")

In [41]:
sofa

[{'joe': 23, 'wayne': 34},
 ['dog', 'cat'],
 'ufo',
 100,
 'red',
 '3m_long',
 1099,
 'new_one']

In [43]:
sofa.remove('ufo')

In [44]:
sofa

[{'joe': 23, 'wayne': 34},
 ['dog', 'cat'],
 100,
 'red',
 '3m_long',
 1099,
 'new_one']

In [45]:
sofa.insert(5,'blue')

In [46]:
sofa

[{'joe': 23, 'wayne': 34},
 ['dog', 'cat'],
 100,
 'red',
 '3m_long',
 'blue',
 1099,
 'new_one']

In [47]:
del sofa[1]

In [48]:
sofa

[{'joe': 23, 'wayne': 34}, 100, 'red', '3m_long', 'blue', 1099, 'new_one']

In [51]:
del sofa[1:3]

In [55]:
sofa

[{'joe': 23, 'wayne': 34}, ['dog', 'cat'], 'ufo', 100, 'red', '3m_long', 1099]

In [57]:
num = [12,78,987,345,67,89,1002]

In [58]:
num.sort()

In [59]:
num

[12, 67, 78, 89, 345, 987, 1002]

In [60]:
sofa.index(100)

3

In [61]:
sofa.reverse()

In [62]:
sofa

[1099, '3m_long', 'red', 100, 'ufo', ['dog', 'cat'], {'joe': 23, 'wayne': 34}]

In [68]:
sofa.insert(-1,1099)
sofa

[1099,
 '3m_long',
 'red',
 100,
 'ufo',
 ['dog', 'cat'],
 1099,
 1099,
 {'joe': 23, 'wayne': 34}]

In [70]:
sofa.append(1099)
sofa

[1099,
 '3m_long',
 'red',
 100,
 'ufo',
 ['dog', 'cat'],
 1099,
 1099,
 {'joe': 23, 'wayne': 34},
 1099,
 1099]

In [71]:
sofa.count(1099)

5

In [77]:
mixture

{'animals': ['dog', 'cat'],
 1: 2,
 'empty_dicts': {'a': {}, 'b': {}},
 57: 'Century_court',
 35: 168}

In [76]:
mixture.get(35)

168

In [78]:
mixture[35]

168

In [80]:
list(mixture.keys())

['animals', 1, 'empty_dicts', 57, 35]

In [81]:
mixture.items()

dict_items([('animals', ['dog', 'cat']), (1, 2), ('empty_dicts', {'a': {}, 'b': {}}), (57, 'Century_court'), (35, 168)])

In [82]:
mix = list(mixture.items())

In [85]:
mix

[('animals', ['dog', 'cat']),
 (1, 2),
 ('empty_dicts', {'a': {}, 'b': {}}),
 (57, 'Century_court'),
 (35, 168)]

In [84]:
mix[0][1][1]

'cat'

In [86]:
names = ['Curly', 'Moe', 'Larry', 'Harry', 'Sue']

In [88]:
print(names[2])

Larry

In [89]:
names[2]

'Larry'

In [91]:
print(names[2:4])

['Larry', 'Harry']

In [92]:
names[2:4]

['Larry', 'Harry']

In [93]:
names.append('Sam')
names

['Curly', 'Moe', 'Larry', 'Harry', 'Sue', 'Sam']

In [95]:
names=names+['Bob', 'Joe'] 
names

['Curly', 'Moe', 'Larry', 'Harry', 'Sue', 'Sam', 'Bob', 'Joe', 'Bob', 'Joe']

In [97]:
names.remove('Joe')

In [98]:
del names[-1]
names

['Curly', 'Moe', 'Larry', 'Harry', 'Sue', 'Sam', 'Bob', 'Bob']

In [100]:
names.pop()

'Bob'

In [101]:
names

['Curly', 'Moe', 'Larry', 'Harry', 'Sue', 'Sam', 'Bob']

In [102]:
names.insert(-1,'Joe')

In [103]:
names

['Curly', 'Moe', 'Larry', 'Harry', 'Sue', 'Sam', 'Joe', 'Bob']

In [105]:
del names[0]

In [106]:
names

['Moe', 'Larry', 'Harry', 'Sue', 'Sam', 'Joe', 'Bob']

In [107]:
names.insert(0,'Curly')

In [108]:
names

['Curly', 'Moe', 'Larry', 'Harry', 'Sue', 'Sam', 'Joe', 'Bob']

In [141]:
names

['Curly', 'Moe', 'Larry', 'Harry', 'Sue', 'Sam', 'Joe', 'Bob']

In [146]:
'Moe'in names

True

In [109]:
SF = {'sunset':94122,'presidio':94129,'soma':94105,'marina':94123}

In [110]:
SF

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123}

In [111]:
zipcodes=[]
for i in SF:
    zipcodes.append(SF[i])
    
print(zipcodes)

[94122, 94129, 94105, 94123]

In [112]:
zipnums=[]
for i in list(SF.items()):
    zipnums.append(i[1])
print(zipnums)

[94122, 94129, 94105, 94123]

In [113]:
print(list(SF.items()))

[('sunset', 94122), ('presidio', 94129), ('soma', 94105), ('marina', 94123)]

In [118]:
SF["castro"]=94114

In [119]:
SF

{'sunset': 94122,
 'presidio': 94129,
 'soma': 94105,
 'marina': 94123,
 'castro': 94114}

In [120]:
SF.pop('castro')

94114

In [121]:
SF

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123}

In [122]:
del SF['sunset']

In [123]:
SF

{'presidio': 94129, 'soma': 94105, 'marina': 94123}

In [124]:
SF.update({"sunset":94122,'castro':94114})
SF

{'presidio': 94129,
 'soma': 94105,
 'marina': 94123,
 'sunset': 94122,
 'castro': 94114}

In [125]:
SF.clear()

In [127]:
SF={'presidio': 94129,
 'soma': 94105,
 'marina': 94123,
 'sunset': 94122,
 'castro': 94114}

In [128]:
SF

{'presidio': 94129,
 'soma': 94105,
 'marina': 94123,
 'sunset': 94122,
 'castro': 94114}

In [129]:
list(SF)

['presidio', 'soma', 'marina', 'sunset', 'castro']

In [132]:
list(SF.keys())

['presidio', 'soma', 'marina', 'sunset', 'castro']

In [133]:
{"a":"Apple", "b":"Boy", "c":"Cat"}

{'a': 'Apple', 'b': 'Boy', 'c': 'Cat'}

In [134]:
my_dict={"a":"Apple", "b":"Boy", "c":"Cat"}

In [135]:
my_dict

{'a': 'Apple', 'b': 'Boy', 'c': 'Cat'}

In [136]:
my_dict.pop('c')

'Cat'

In [137]:
my_dict

{'a': 'Apple', 'b': 'Boy'}

In [140]:
'soma'in SF

True

In [148]:
my_dict.keys()

dict_keys(['a', 'b'])

In [149]:
my_dict['c']='Cat'

In [150]:
my_dict

{'a': 'Apple', 'b': 'Boy', 'c': 'Cat'}

In [151]:
my_dict.items()

dict_items([('a', 'Apple'), ('b', 'Boy'), ('c', 'Cat')])

In [152]:
my_dict.update({'d':'Dog'})

In [153]:
my_dict

{'a': 'Apple', 'b': 'Boy', 'c': 'Cat', 'd': 'Dog'}

In [154]:
mix = [12, 12.2, 'flower', 'a', (1, 2, 3)]

In [155]:
mix.append('animal')

In [156]:
mix.extend([1,2])

In [157]:
mix

[12, 12.2, 'flower', 'a', (1, 2, 3), 'animal', 1, 2]

In [158]:
mix.insert(1,'Paxton')

In [159]:
mix

[12, 'Paxton', 12.2, 'flower', 'a', (1, 2, 3), 'animal', 1, 2]

In [160]:
mix.remove('flower')

In [161]:
mix.count(12)

1

In [162]:
mix.index('Paxton')

1

In [163]:
mix.reverse()

In [164]:
mix

[2, 1, 'animal', (1, 2, 3), 'a', 12.2, 'Paxton', 12]

In [165]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [166]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [167]:
num_plus_one=[i+1 for i in numbers]
num_plus_one

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [168]:
num_plus_one=[]
for i in numbers:
    num_plus_one.append(i+1)
print(num_plus_one)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [169]:
def plus_one(x):
    return x+1

In [170]:
num_plus_one=map(plus_one,numbers)

In [172]:
num_plus_one=list(num_plus_one)
num_plus_one

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [173]:
num_plus_one=map(lambda x:x-1, numbers)
list(num_plus_one)

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [175]:
import numpy as np

In [176]:
n=[1, 2, 7, 21, 3, 1, 62, 3, 34, 12, 73, 44, 12, 11, 9]
n_numpy=np.array(n)

In [178]:
n_numpy.mean()

19.666666666666668

In [179]:
n_mean=n_numpy.mean()

In [180]:
bigger_mean=[i>n_mean for i in n]
bigger_mean

[False,
 False,
 False,
 True,
 False,
 False,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 False,
 False]

In [182]:
bigger_mean=[i for i in n if i>n_mean]

In [183]:
bigger_mean

[21, 62, 34, 73, 44]

In [184]:
small_than_mean_100=[i*100 for i in n if i<n_mean]

In [185]:
small_than_mean_100

[100, 200, 700, 300, 100, 300, 1200, 1200, 1100, 900]

In [189]:
n_binary=[]
counter=0
for i in n:
    if i >= n_mean:
        n_binary.append(1)
        counter+=1
    else:
        n_binary.append(0)
print(n_binary)
print(counter)

[0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0]
5

In [190]:
n_binary = [1 if i >= n_mean else 0 for i in n]

In [191]:
n_binary

[0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0]

In [196]:
counter=0
counter=[counter+1 for i in n if i>= n_mean]

In [198]:
counter

[1, 1, 1, 1, 1]

In [197]:
sum(counter)

5

In [199]:
n_binary

[0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0]

In [200]:
[1 if i==0 else 0 for i in n_binary]

[1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1]

In [201]:
n = [0, 1, 0, 1, 2, 3, 5, 2, 1, 0]

In [ ]:
如果等于1就label0，如果是0就label1，其余的是none

In [202]:
[0 if i==1 else 1 if i==0 else None for i in n]

[1, 0, 1, 0, None, None, None, None, 0, 1]

In [203]:
label=[]
for i in n:
    if i==1:
        label.append(0)
    elif i==0:
        label.append(1)
    else:
        label.append(None)
print(label)

[1, 0, 1, 0, None, None, None, None, 0, 1]

In [ ]:
如果是0就label0，如果是1就label1，如果是2就label2，都不是就labelNone

In [204]:
label=[]
for i in n:
    if i==0:
        label.append(0)
    elif i==1:
        label.append(1)
    elif i==2:
        label.append(2)
    else:
        label.append(None)

print(label)

[0, 1, 0, 1, 2, None, None, 2, 1, 0]

In [205]:
[0 if i==0 else 1 if i==1 else 2 if i==2 else None for i in n]

[0, 1, 0, 1, 2, None, None, 2, 1, 0]

In [207]:
a = ['a', 'b', 'c', 'd']
z = ['z', 'y', 'x', 'w']

In [208]:
zip(a,z)

In [209]:
list(zip(a,z))

[('a', 'z'), ('b', 'y'), ('c', 'x'), ('d', 'w')]

In [210]:
dict(zip(a,z))

{'a': 'z', 'b': 'y', 'c': 'x', 'd': 'w'}

In [211]:
dict(zip(z,a))

{'z': 'a', 'y': 'b', 'x': 'c', 'w': 'd'}

In [212]:
a = ['a', 'b', 'c', 'd']
z = ['z', 'y', 'x', 'w']
b = ["r", "t","d", "w"]

In [213]:
list(zip(a,zip(z,b)))

[('a', ('z', 'r')), ('b', ('y', 't')), ('c', ('x', 'd')), ('d', ('w', 'w'))]

In [214]:
list(zip(a,zip(z,zip(b))))

[('a', ('z', ('r',))),
 ('b', ('y', ('t',))),
 ('c', ('x', ('d',))),
 ('d', ('w', ('w',)))]

In [215]:
dict(zip(a,zip(z,b)))

{'a': ('z', 'r'), 'b': ('y', 't'), 'c': ('x', 'd'), 'd': ('w', 'w')}

In [216]:
dict(zip(a,zip(z,zip(b))))

{'a': ('z', ('r',)),
 'b': ('y', ('t',)),
 'c': ('x', ('d',)),
 'd': ('w', ('w',))}

In [218]:
zipped = []
for item in zip(a, z):
    zipped.append(list((item[0], item[1]))) #注意此时zip(a,z)是[('a', 'z'), ('b', 'y'), ('c', 'x'), ('d', 'w')]
zipped

[['a', 'z'], ['b', 'y'], ['c', 'x'], ['d', 'w']]

In [219]:
[list(i) for i in zip(a,z)]

[['a', 'z'], ['b', 'y'], ['c', 'x'], ['d', 'w']]

In [224]:
list(enumerate(zip(a,z)))

[(0, ('a', 'z')), (1, ('b', 'y')), (2, ('c', 'x')), (3, ('d', 'w'))]

In [223]:
list(enumerate(list(zip(a,z))))

[(0, ('a', 'z')), (1, ('b', 'y')), (2, ('c', 'x')), (3, ('d', 'w'))]

In [229]:
enumerated=[]
for i in enumerate(z):
    enumerated.append((i[0],i[1]))
enumerated

[(0, 'z'), (1, 'y'), (2, 'x'), (3, 'w')]

In [231]:
enumerated=[(i[0],i[1]) for i in enumerate(z)]

In [232]:
enumerated

[(0, 'z'), (1, 'y'), (2, 'x'), (3, 'w')]

In [ ]:
even_elemts=[]

In [233]:
index_nums=[]
for i in enumerated:
    index_nums.append(i[0])
index_nums

[0, 1, 2, 3]

In [248]:
index_nums=[i[0] for i in enumerated]
index_nums[1::2]

[1, 3]

In [244]:
len(index_nums)

4

In [234]:
import pandas as pd

In [239]:
new_table=pd.DataFrame([i[1] for i in enumerated], [i[0] for i in enumerated], columns=["letters"])

In [240]:
new_table

  letters
0       z
1       y
2       x
3       w

In [245]:
(0, ('a', 'z')) in list(enumerate(list(zip(a,z))))

True

In [250]:
[i[1] for i in enumerate(a) if i[0]%2==0 ]

['a', 'c']

In [251]:
n = [0, 1, 50, -23, -1, 75, -3]

In [ ]:
目标：找出大于0的项，然后将他们的平方和平方根放入一个tuple，再全装入一个list中

In [252]:
squares=[]
for i in n:
    if i>=0:
        squares.append((i**2,i**0.5))
squares

[(0, 0.0), (1, 1.0), (2500, 7.0710678118654755), (5625, 8.660254037844387)]

In [254]:
[(i**2,i**0.5) for i in [j for j in n if j>=0]]

[(0, 0.0), (1, 1.0), (2500, 7.0710678118654755), (5625, 8.660254037844387)]

In [255]:
import string
alphabet=string.ascii_uppercase

In [263]:
alphabet.lower()

'abcdefghijklmnopqrstuvwxyz'

In [257]:
vowels = 'aeiou'

In [265]:
new_words=[]
for i in vowels:
    for j in alphabet:
        if j.lower() !=i:
            new_words.append(j+i)
new_words

['Ba',
 'Ca',
 'Da',
 'Ea',
 'Fa',
 'Ga',
 'Ha',
 'Ia',
 'Ja',
 'Ka',
 'La',
 'Ma',
 'Na',
 'Oa',
 'Pa',
 'Qa',
 'Ra',
 'Sa',
 'Ta',
 'Ua',
 'Va',
 'Wa',
 'Xa',
 'Ya',
 'Za',
 'Ae',
 'Be',
 'Ce',
 'De',
 'Fe',
 'Ge',
 'He',
 'Ie',
 'Je',
 'Ke',
 'Le',
 'Me',
 'Ne',
 'Oe',
 'Pe',
 'Qe',
 'Re',
 'Se',
 'Te',
 'Ue',
 'Ve',
 'We',
 'Xe',
 'Ye',
 'Ze',
 'Ai',
 'Bi',
 'Ci',
 'Di',
 'Ei',
 'Fi',
 'Gi',
 'Hi',
 'Ji',
 'Ki',
 'Li',
 'Mi',
 'Ni',
 'Oi',
 'Pi',
 'Qi',
 'Ri',
 'Si',
 'Ti',
 'Ui',
 'Vi',
 'Wi',
 'Xi',
 'Yi',
 'Zi',
 'Ao',
 'Bo',
 'Co',
 'Do',
 'Eo',
 'Fo',
 'Go',
 'Ho',
 'Io',
 'Jo',
 'Ko',
 'Lo',
 'Mo',
 'No',
 'Po',
 'Qo',
 'Ro',
 'So',
 'To',
 'Uo',
 'Vo',
 'Wo',
 'Xo',
 'Yo',
 'Zo',
 'Au',
 'Bu',
 'Cu',
 'Du',
 'Eu',
 'Fu',
 'Gu',
 'Hu',
 'Iu',
 'Ju',
 'Ku',
 'Lu',
 'Mu',
 'Nu',
 'Ou',
 'Pu',
 'Qu',
 'Ru',
 'Su',
 'Tu',
 'Vu',
 'Wu',
 'Xu',
 'Yu',
 'Zu']

In [271]:
new_words=[]
for j in alphabet:
    for i in vowels:
        if j.lower() not in vowels:
            new_words.append(j+i)
new_words

['Ba',
 'Be',
 'Bi',
 'Bo',
 'Bu',
 'Ca',
 'Ce',
 'Ci',
 'Co',
 'Cu',
 'Da',
 'De',
 'Di',
 'Do',
 'Du',
 'Fa',
 'Fe',
 'Fi',
 'Fo',
 'Fu',
 'Ga',
 'Ge',
 'Gi',
 'Go',
 'Gu',
 'Ha',
 'He',
 'Hi',
 'Ho',
 'Hu',
 'Ja',
 'Je',
 'Ji',
 'Jo',
 'Ju',
 'Ka',
 'Ke',
 'Ki',
 'Ko',
 'Ku',
 'La',
 'Le',
 'Li',
 'Lo',
 'Lu',
 'Ma',
 'Me',
 'Mi',
 'Mo',
 'Mu',
 'Na',
 'Ne',
 'Ni',
 'No',
 'Nu',
 'Pa',
 'Pe',
 'Pi',
 'Po',
 'Pu',
 'Qa',
 'Qe',
 'Qi',
 'Qo',
 'Qu',
 'Ra',
 'Re',
 'Ri',
 'Ro',
 'Ru',
 'Sa',
 'Se',
 'Si',
 'So',
 'Su',
 'Ta',
 'Te',
 'Ti',
 'To',
 'Tu',
 'Va',
 'Ve',
 'Vi',
 'Vo',
 'Vu',
 'Wa',
 'We',
 'Wi',
 'Wo',
 'Wu',
 'Xa',
 'Xe',
 'Xi',
 'Xo',
 'Xu',
 'Ya',
 'Ye',
 'Yi',
 'Yo',
 'Yu',
 'Za',
 'Ze',
 'Zi',
 'Zo',
 'Zu']

In [273]:
[j+i [j for j.lower() not in vowel] for i in vowel ]

SyntaxError: invalid syntax (<ipython-input-273-b56b3de6c72f>, line 1)

In [276]:
syllables = [[[c+v for v in vowels]
                            for c in [x for x in alphabet if x not in vowels]] ]
syllables

[[['Aa', 'Ae', 'Ai', 'Ao', 'Au'],
  ['Ba', 'Be', 'Bi', 'Bo', 'Bu'],
  ['Ca', 'Ce', 'Ci', 'Co', 'Cu'],
  ['Da', 'De', 'Di', 'Do', 'Du'],
  ['Ea', 'Ee', 'Ei', 'Eo', 'Eu'],
  ['Fa', 'Fe', 'Fi', 'Fo', 'Fu'],
  ['Ga', 'Ge', 'Gi', 'Go', 'Gu'],
  ['Ha', 'He', 'Hi', 'Ho', 'Hu'],
  ['Ia', 'Ie', 'Ii', 'Io', 'Iu'],
  ['Ja', 'Je', 'Ji', 'Jo', 'Ju'],
  ['Ka', 'Ke', 'Ki', 'Ko', 'Ku'],
  ['La', 'Le', 'Li', 'Lo', 'Lu'],
  ['Ma', 'Me', 'Mi', 'Mo', 'Mu'],
  ['Na', 'Ne', 'Ni', 'No', 'Nu'],
  ['Oa', 'Oe', 'Oi', 'Oo', 'Ou'],
  ['Pa', 'Pe', 'Pi', 'Po', 'Pu'],
  ['Qa', 'Qe', 'Qi', 'Qo', 'Qu'],
  ['Ra', 'Re', 'Ri', 'Ro', 'Ru'],
  ['Sa', 'Se', 'Si', 'So', 'Su'],
  ['Ta', 'Te', 'Ti', 'To', 'Tu'],
  ['Ua', 'Ue', 'Ui', 'Uo', 'Uu'],
  ['Va', 'Ve', 'Vi', 'Vo', 'Vu'],
  ['Wa', 'We', 'Wi', 'Wo', 'Wu'],
  ['Xa', 'Xe', 'Xi', 'Xo', 'Xu'],
  ['Ya', 'Ye', 'Yi', 'Yo', 'Yu'],
  ['Za', 'Ze', 'Zi', 'Zo', 'Zu']]]

In [287]:
keys = ['dog', 'cat', 'bird', 'horse']

In [288]:
ord('b')

98

In [291]:
word_dict={j:[ord(i) for i in j] for j in keys}

In [292]:
word_dict

{'dog': [100, 111, 103],
 'cat': [99, 97, 116],
 'bird': [98, 105, 114, 100],
 'horse': [104, 111, 114, 115, 101]}

In [294]:
word_dict_II={j:[i for i in j if i in vowels] for j in keys}

In [295]:
word_dict_II

{'dog': ['o'], 'cat': ['a'], 'bird': ['i'], 'horse': ['o', 'e']}

In [302]:
word_dict_II={}
for words in keys:
    lists=[]
    for letters in words:
        if letters in vowels:
            lists.append(letters)
    word_dict_II[words]=lists
word_dict_II
# lists

{'dog': ['o'], 'cat': ['a'], 'bird': ['i'], 'horse': ['o', 'e']}

In [303]:
import pandas as pd

column_names = ['height', 'weight', 'is_male']
values = [[62, 54, 60, 50], [180, 120, 200, 100], [True, False, True, False]]

In [314]:
df= pd.DataFrame({'hight':values[0],'weight':values[1],'is_male':values[2]})

In [315]:
df

   hight  weight  is_male
0     62     180     True
1     54     120    False
2     60     200     True
3     50     100    False

In [317]:
df = pd.DataFrame({col:val for col,val in zip(column_names,values)})

In [318]:
df

   height  weight  is_male
0      62     180     True
1      54     120    False
2      60     200     True
3      50     100    False

In [320]:
df = pd.DataFrame({col:val for col,val in zip(column_names,values)},
                 index=range(100,104))

In [321]:
df

     height  weight  is_male
100      62     180     True
101      54     120    False
102      60     200     True
103      50     100    False

In [322]:
strings = ['black', 'Yellow', 'ReD', 'GreeN', 'BLUe']

In [330]:
upper_str=[]
for i in strings:
    words=[]
    for j in i:
        words.append(j.upper())
    upper_str.append(words)

In [331]:
upper_str

[['B', 'L', 'A', 'C', 'K'],
 ['Y', 'E', 'L', 'L', 'O', 'W'],
 ['R', 'E', 'D'],
 ['G', 'R', 'E', 'E', 'N'],
 ['B', 'L', 'U', 'E']]

In [332]:
upper_str=[]
for i in strings:
    upper_str.append(i.upper())
upper_str

['BLACK', 'YELLOW', 'RED', 'GREEN', 'BLUE']

In [333]:
[i.upper() for i in strings]

['BLACK', 'YELLOW', 'RED', 'GREEN', 'BLUE']

In [334]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [335]:
even_num=[i for i in numbers if i%2==0]

In [336]:
even_num

[2, 4, 6, 8, 10]

In [338]:
even_nums=[]
odd_nums=[]
for i in numbers:
    if i%2==0:
        even_nums.append(i)
    if i%2!=0:
        odd_nums.append(i)
print(even_nums)
print(odd_nums)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [ ]:
目标：list中的元素，是元音的变成v，是辅音的变成c，其余变成？

In [340]:
import string

In [382]:
alphabet = string.ascii_lowercase

In [390]:
# alphabet=[alphabet]
type(alphabet)
alphabet

['abcdefghijklmnopqrstuvwxyz']

In [389]:
alphabet=[alphabet]

In [357]:
vowel=["aeiou"] #细节，在没有加[]之前，if i in vowel，是会报错的

In [397]:
characters = ['a', 'f', None, 'k', 'l', '1', 12, 'e', 'e', -1, 'i', 'b', 'p']
characters

['a', 'f', None, 'k', 'l', '1', 12, 'e', 'e', -1, 'i', 'b', 'p']

In [400]:
vowels

['a', 'e', 'i', 'o', 'u']

In [402]:
alphabet

['abcdefghijklmnopqrstuvwxyz']

In [403]:
new_alphabet=[]
for i in alphabet:
    for j in i:
        new_alphabet.append(j)

In [405]:
new_chara=[]
for i in characters:
    if i in vowels:
        new_chara.append('v')
    elif i not in vowels and i in new_alphabet:
        new_chara.append('c')
    else:
        new_chara.append("?")

In [406]:
new_chara

['v', 'c', '?', 'c', 'c', '?', '?', 'v', 'v', '?', 'v', 'c', 'c']

In [361]:
vowel

['aeiou']

In [366]:
import string

alphabet = string.ascii_lowercase
vowels =['a','e','i','o','u']
print(alphabet)
print(vowels)

abcdefghijklmnopqrstuvwxyz
['a', 'e', 'i', 'o', 'u']

In [367]:
characters = ['a', 'f', None, 'k', 'l', '1', 12, 'e', 'e', -1, 'i', 'b', 'p']
characters

['a', 'f', None, 'k', 'l', '1', 12, 'e', 'e', -1, 'i', 'b', 'p']

In [375]:
new_list= []
for character in characters:
    if character in vowels:
        new_list.append("v")
    elif character not in vowels and character in alphabet:#注意这里每次都要说明是“character"如果怎样，两个character不能省
        new_list.append("c")
    else:
        new_list.append("?")
print(new_list)

['v', '?', '?', '?', '?', '?', '?', 'v', 'v', '?', 'v', '?', '?']

In [380]:
["v" if x in vowels else "c" if x not in vowels and x in alphabet else "?" for x in characters]

['v', '?', '?', '?', '?', '?', '?', 'v', 'v', '?', 'v', '?', '?']

In [407]:
list("aeiou")

TypeError: 'list' object is not callable

In [408]:
['v' if i in vowels else 'c' if i not in vowels and i in new_alphabet
else '?' for i in characters]

['v', 'c', '?', 'c', 'c', '?', '?', 'v', 'v', '?', 'v', 'c', 'c']

In [409]:
[i for i in "aeiou"]

['a', 'e', 'i', 'o', 'u']

In [411]:
alph = string.ascii_lowercase

In [412]:
alph = [i for i in alph]
alph

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']