## 想看看成交量与价格间的相关关系如何

### 从我的简单的计算发现，关系并不是很明显。
#### 分析原因可能有两个，第一，本身这二者之间的关联就不抢。第二，分析方法有误，需要进一步研究。
to be continued ...

In [1]:
import pandas as pd
import pandas_datareader as pdr

In [3]:
apple = pdr.DataReader('aapl','av-daily', start='2017.1.1', end='2021.1.1',
              api_key='EUWPYIBX33PPD5U5')
apple_vp = apple[['close','volume']]
apple_vp.corr()

In [8]:
fb = pdr.DataReader('fb','av-daily', start='2017.1.1', end='2021.1.1',
              api_key='EUWPYIBX33PPD5U5')
fb_vp = fb[['close','volume']]
fb_vp.corr()

           close    volume
close   1.000000 -0.031631
volume -0.031631  1.000000

In [9]:
amzn = pdr.DataReader('amzn','av-daily', start='2017.1.1', end='2021.1.1',
              api_key='EUWPYIBX33PPD5U5')
amzn_vp = amzn[['close','volume']]
amzn_vp.corr()

           close    volume
close   1.000000  0.131557
volume  0.131557  1.000000

In [10]:
nflx = pdr.DataReader('nflx','av-daily', start='2017.1.1', end='2021.1.1',
              api_key='EUWPYIBX33PPD5U5')
nflx_vp = nflx[['close','volume']]
nflx_vp.corr()

           close    volume
close   1.000000  0.023982
volume  0.023982  1.000000

In [11]:
apple.corr()

            open      high       low     close    volume
open    1.000000  0.999518  0.999475  0.999008 -0.194418
high    0.999518  1.000000  0.999230  0.999466 -0.185876
low     0.999475  0.999230  1.000000  0.999479 -0.206046
close   0.999008  0.999466  0.999479  1.000000 -0.196524
volume -0.194418 -0.185876 -0.206046 -0.196524  1.000000

In [12]:
amzn.corr()

            open      high       low     close    volume
open    1.000000  0.999548  0.999391  0.998927  0.134022
high    0.999548  1.000000  0.999239  0.999474  0.145412
low     0.999391  0.999239  1.000000  0.999503  0.118364
close   0.998927  0.999474  0.999503  1.000000  0.131557
volume  0.134022  0.145412  0.118364  0.131557  1.000000

In [13]:
nflx.corr()

            open      high       low     close    volume
open    1.000000  0.999006  0.998971  0.997746  0.022355
high    0.999006  1.000000  0.998715  0.999003  0.036664
low     0.998971  0.998715  1.000000  0.998944  0.007430
close   0.997746  0.999003  0.998944  1.000000  0.023982
volume  0.022355  0.036664  0.007430  0.023982  1.000000