<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Pandas joins lab

---

In this lab we want to obtain more practice of extracting information from dataframes and joining different dataframes.

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.--Read-in-the-EuroMart-CSV-Data" data-toc-modified-id="1.--Read-in-the-EuroMart-CSV-Data-1">1.  Read in the EuroMart CSV Data</a></span></li><li><span><a href="#2.-Inspect-the-column-names-of-the-dataframes" data-toc-modified-id="2.-Inspect-the-column-names-of-the-dataframes-2">2. Inspect the column names of the dataframes</a></span></li><li><span><a href="#3.-Inspect-the-shapes-of-the-dataframes" data-toc-modified-id="3.-Inspect-the-shapes-of-the-dataframes-3">3. Inspect the shapes of the dataframes</a></span></li><li><span><a href="#4.-Rename-columns-to-remove-any-spaces-in-the-names" data-toc-modified-id="4.-Rename-columns-to-remove-any-spaces-in-the-names-4">4. Rename columns to remove any spaces in the names</a></span></li><li><span><a href="#5.-Inspect-the-top-of-the-dataframes" data-toc-modified-id="5.-Inspect-the-top-of-the-dataframes-5">5. Inspect the top of the dataframes</a></span></li><li><span><a href="#6.-How-many-orders-has-each-Customer-placed?-How-many-have-placed-more-than-ten-orders?" data-toc-modified-id="6.-How-many-orders-has-each-Customer-placed?-How-many-have-placed-more-than-ten-orders?-6">6. How many orders has each Customer placed? How many have placed more than ten orders?</a></span></li><li><span><a href="#7.-From-the-table-of-orders,-subset-on-the-columns-containing-geographical-information-and-sort-by-country." data-toc-modified-id="7.-From-the-table-of-orders,-subset-on-the-columns-containing-geographical-information-and-sort-by-country.-7">7. From the table of orders, subset on the columns containing geographical information and sort by country.</a></span></li><li><span><a href="#8.-Use-a-join-to-return-a-table-with-the-Customer-Name-and-Product-Name." data-toc-modified-id="8.-Use-a-join-to-return-a-table-with-the-Customer-Name-and-Product-Name.-8">8. Use a join to return a table with the Customer Name and Product Name.</a></span></li><li><span><a href="#9.--How-many-orders-for-&quot;Office-Supplies&quot;-(Category)-has-Sweden-made?" data-toc-modified-id="9.--How-many-orders-for-&quot;Office-Supplies&quot;-(Category)-has-Sweden-made?-9">9.  How many orders for "Office Supplies" (Category) has Sweden made?</a></span></li><li><span><a href="#10.-What-is-the-total-quantity-of-objects-sold-for-Sweden?" data-toc-modified-id="10.-What-is-the-total-quantity-of-objects-sold-for-Sweden?-10">10. What is the total quantity of objects sold for Sweden?</a></span></li><li><span><a href="#11.-What-Shipping-method-is-most-common-for-'Bookcases'-(Sub-Category)?" data-toc-modified-id="11.-What-Shipping-method-is-most-common-for-'Bookcases'-(Sub-Category)?-11">11. What Shipping method is most common for 'Bookcases' (Sub Category)?</a></span></li></ul></div>

In [3]:
# Necessary Libraries
import pandas as pd

### 1.  Read in the EuroMart CSV Data
- 'EuroMart-ListOfOrders.csv'
- 'EuroMart-OrderBreakdown.csv'

In [4]:
# Reading CSV to Dataframe
orders = pd.read_csv('datasets/csv/EuroMart-ListOfOrders.csv')
OBD = pd.read_csv('datasets/csv/EuroMart-OrderBreakdown.csv')

### 2. Inspect the column names of the dataframes

In [6]:
orders.columns

Index(['Order ID', 'Order Date', 'Customer Name', 'City', 'Country', 'Region',
       'Segment', 'Ship Date', 'Ship Mode', 'State'],
      dtype='object')

In [7]:
OBD.columns

Index(['Order ID', 'Product Name', 'Discount', 'Sales', 'Profit', 'Quantity',
       'Category', 'Sub-Category'],
      dtype='object')

### 3. Inspect the shapes of the dataframes

In [8]:
orders.shape

(4117, 10)

In [9]:
OBD.shape

(8047, 8)

### 4. Rename columns to remove any spaces in the names

In [20]:
new_vert1=[]
for i in list(orders.columns):
    new_vert1.append(i.replace(" ",""))
print(new_vert1)

['OrderID', 'OrderDate', 'CustomerName', 'City', 'Country', 'Region', 'Segment', 'ShipDate', 'ShipMode', 'State']

In [21]:
new_vert2=[]
for i in list(OBD.columns):
    new_vert2.append(i.replace(" ",""))
print(new_vert2)

['OrderID', 'ProductName', 'Discount', 'Sales', 'Profit', 'Quantity', 'Category', 'Sub-Category']

In [11]:
new_col1=['OrderID', 'OrderDate', 'CustomerName', 'City', 'Country', 'Region','Segment', 'ShipDate', 'ShipMode', 'State']

In [12]:
new_col2=['OrderID', 'ProductName', 'Discount', 'Sales', 'Profit', 'Quantity','Category', 'Sub-Category']

In [16]:
orders.columns=new_col1
OBD.columns=new_col2

### 5. Inspect the top of the dataframes

In [17]:
orders.head(5)

,OrderID,OrderDate,CustomerName,City,Country,Region,Segment,ShipDate,ShipMode,State
0,BN-2011-7407039,1/1/2011,Ruby Patel,Stockholm,Sweden,North,Home Office,1/5/2011,Economy Plus,Stockholm
1,AZ-2011-9050313,1/3/2011,Summer Hayward,Southport,United Kingdom,North,Consumer,1/7/2011,Economy,England
2,AZ-2011-6674300,1/4/2011,Devin Huddleston,Valence,France,Central,Consumer,1/8/2011,Economy,Auvergne-Rh么ne-Alpes
3,BN-2011-2819714,1/4/2011,Mary Parker,Birmingham,United Kingdom,North,Corporate,1/9/2011,Economy,England
4,AZ-2011-617423,1/5/2011,Daniel Burke,Echirolles,France,Central,Home Office,1/7/2011,Priority,Auvergne-Rh么ne-Alpes

### 6. How many orders has each Customer placed? How many have placed more than ten orders?

Hint: Use `.value_counts()`.

In [18]:
orders.OrderID.value_counts()

AZ-2012-4310145    1
AZ-2013-7431618    1
BN-2014-6168100    1
AZ-2013-1380868    1
AZ-2012-415740     1
AZ-2013-6016328    1
BN-2012-2002829    1
AZ-2012-7579239    1
AZ-2012-568534     1
AZ-2014-2593220    1
AZ-2014-2687996    1
AZ-2014-3603253    1
AZ-2014-2500745    1
BN-2011-2207137    1
AZ-2014-8469117    1
AZ-2013-6541057    1
BN-2011-9883465    1
AZ-2013-4330374    1
AZ-2014-1592554    1
AZ-2012-331125     1
AZ-2012-51069      1
AZ-2014-9494759    1
BN-2011-3405497    1
AZ-2013-5949310    1
AZ-2012-506999     1
AZ-2013-9347181    1
AZ-2011-5097391    1
BN-2011-9336144    1
AZ-2012-3052351    1
BN-2014-2450854    1
                  ..
BN-2014-4656521    1
BN-2014-839820     1
AZ-2013-3692060    1
AZ-2014-5363417    1
AZ-2014-3279788    1
AZ-2014-6041399    1
AZ-2013-5987890    1
AZ-2013-4270780    1
AZ-2013-8159608    1
BN-2014-5801390    1
AZ-2014-604264     1
AZ-2013-5023304    1
AZ-2014-5904203    1
AZ-2013-5945845    1
AZ-2014-7608548    1
AZ-2011-7845997    1
AZ-2011-2564570    1
BN-2014-5824025    1
AZ-2014-4634987    1
AZ-2014-356444     1
BN-2014-8933251    1
BN-2014-2311123    1
AZ-2011-7783675    1
AZ-2012-400830     1
AZ-2013-6408423    1
AZ-2013-4378960    1
BN-2013-804810     1
AZ-2014-7450631    1
AZ-2014-7416402    1
AZ-2013-8607757    1
Name: OrderID, Length: 4117, dtype: int64

### 7. From the table of orders, subset on the columns containing geographical information and sort by country.

In the following parts you will need to use `pd.merge`.

### 8. Use a join to return a table with the Customer Name and Product Name.

### 9.  How many orders for "Office Supplies" (Category) has Sweden made?

### 10. What is the total quantity of objects sold for Sweden?

### 11. What Shipping method is most common for 'Bookcases' (Sub Category)?