In [1]:
import pandas as pd
import numpy as np

In [16]:
date = ['2021.08.25','2021.08.26']
DJ = [35366.26, 35405.5]
SP500 = [4486.23, 4496.19]
NASDAQ = [15019.80, 15041.90]
FTSE100 = [7137.25, 7101.40] 
SH = [3540.38, 3501.66]
SZSE = [14697.50, 14419.76]
HANGSENG = [25609, 25291.25]
SP_ASX = [7477.80, 7491.20]
BRENT = [70.39,71.28]

In [17]:
idx = pd.DataFrame({ 'DJ':DJ, 'SP500':SP500, 'NASDAQ':NASDAQ, 
                    'FTSE100':FTSE100, 'SH':SH, 'SZSE':SZSE, 'HANGSENG':HANGSENG, 'SP_ASX':SP_ASX}, index = date)

In [18]:
idx

,DJ,SP500,NASDAQ,FTSE100,SH,SZSE,HANGSENG,SP_ASX
2021.08.25,35366.26,4486.23,15019.8,7137.25,3540.38,14697.50,25609.00,7477.8
2021.08.26,35405.50,4496.19,15041.9,7101.40,3501.66,14419.76,25291.25,7491.2

In [19]:
idx.diff(1)

               DJ  SP500  NASDAQ  FTSE100     SH    SZSE  HANGSENG  SP_ASX
2021.08.25    NaN    NaN     NaN      NaN    NaN     NaN       NaN     NaN
2021.08.26  39.24   9.96    22.1   -35.85 -38.72 -277.74   -317.75    13.4