<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Pandas joins lab

---

In this lab we want to obtain more practice of extracting information from dataframes and joining different dataframes.

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.--Read-in-the-EuroMart-CSV-Data" data-toc-modified-id="1.--Read-in-the-EuroMart-CSV-Data-1">1.  Read in the EuroMart CSV Data</a></span></li><li><span><a href="#2.-Inspect-the-column-names-of-the-dataframes" data-toc-modified-id="2.-Inspect-the-column-names-of-the-dataframes-2">2. Inspect the column names of the dataframes</a></span></li><li><span><a href="#3.-Inspect-the-shapes-of-the-dataframes" data-toc-modified-id="3.-Inspect-the-shapes-of-the-dataframes-3">3. Inspect the shapes of the dataframes</a></span></li><li><span><a href="#4.-Rename-columns-to-remove-any-spaces-in-the-names" data-toc-modified-id="4.-Rename-columns-to-remove-any-spaces-in-the-names-4">4. Rename columns to remove any spaces in the names</a></span></li><li><span><a href="#5.-Inspect-the-top-of-the-dataframes" data-toc-modified-id="5.-Inspect-the-top-of-the-dataframes-5">5. Inspect the top of the dataframes</a></span></li><li><span><a href="#6.-How-many-orders-has-each-Customer-placed?-How-many-have-placed-more-than-ten-orders?" data-toc-modified-id="6.-How-many-orders-has-each-Customer-placed?-How-many-have-placed-more-than-ten-orders?-6">6. How many orders has each Customer placed? How many have placed more than ten orders?</a></span></li><li><span><a href="#7.-From-the-table-of-orders,-subset-on-the-columns-containing-geographical-information-and-sort-by-country." data-toc-modified-id="7.-From-the-table-of-orders,-subset-on-the-columns-containing-geographical-information-and-sort-by-country.-7">7. From the table of orders, subset on the columns containing geographical information and sort by country.</a></span></li><li><span><a href="#8.-Use-a-join-to-return-a-table-with-the-Customer-Name-and-Product-Name." data-toc-modified-id="8.-Use-a-join-to-return-a-table-with-the-Customer-Name-and-Product-Name.-8">8. Use a join to return a table with the Customer Name and Product Name.</a></span></li><li><span><a href="#9.--How-many-orders-for-&quot;Office-Supplies&quot;-(Category)-has-Sweden-made?" data-toc-modified-id="9.--How-many-orders-for-&quot;Office-Supplies&quot;-(Category)-has-Sweden-made?-9">9.  How many orders for "Office Supplies" (Category) has Sweden made?</a></span></li><li><span><a href="#10.-What-is-the-total-quantity-of-objects-sold-for-Sweden?" data-toc-modified-id="10.-What-is-the-total-quantity-of-objects-sold-for-Sweden?-10">10. What is the total quantity of objects sold for Sweden?</a></span></li><li><span><a href="#11.-What-Shipping-method-is-most-common-for-'Bookcases'-(Sub-Category)" data-toc-modified-id="11.-What-Shipping-method-is-most-common-for-'Bookcases'-(Sub-Category)-11">11. What Shipping method is most common for 'Bookcases' (Sub Category)</a></span></li></ul></div>

In [1]:
# Necessary Libraries
import pandas as pd

### 1.  Read in the EuroMart CSV Data
- 'EuroMart-ListOfOrders.csv'
- 'EuroMart-OrderBreakdown.csv'

In [2]:
# Reading CSV to Dataframe
orders = pd.read_csv('../datasets/csv/EuroMart-ListOfOrders.csv')
OBD = pd.read_csv('../datasets/csv/EuroMart-OrderBreakdown.csv')

### 2. Inspect the column names of the dataframes

In [3]:
orders.columns

Index(['Order ID', 'Order Date', 'Customer Name', 'City', 'Country', 'Region',
       'Segment', 'Ship Date', 'Ship Mode', 'State'],
      dtype='object')

In [4]:
OBD.columns

Index(['Order ID', 'Product Name', 'Discount', 'Sales', 'Profit', 'Quantity',
       'Category', 'Sub-Category'],
      dtype='object')

### 3. Inspect the shapes of the dataframes

In [5]:
orders.shape

(4117, 10)

In [6]:
OBD.shape

(8047, 8)

### 4. Rename columns to remove any spaces in the names

In [7]:
orders.columns = [str.lower(col.replace(' ','_')) for col in orders.columns]

In [8]:
OBD.columns = [str.lower(col.replace(' ','_')) for col in OBD.columns]

### 5. Inspect the top of the dataframes

In [9]:
orders.head()

,order_id,order_date,customer_name,city,country,region,segment,ship_date,ship_mode,state
0,BN-2011-7407039,1/1/2011,Ruby Patel,Stockholm,Sweden,North,Home Office,1/5/2011,Economy Plus,Stockholm
1,AZ-2011-9050313,1/3/2011,Summer Hayward,Southport,United Kingdom,North,Consumer,1/7/2011,Economy,England
2,AZ-2011-6674300,1/4/2011,Devin Huddleston,Valence,France,Central,Consumer,1/8/2011,Economy,Auvergne-Rh么ne-Alpes
3,BN-2011-2819714,1/4/2011,Mary Parker,Birmingham,United Kingdom,North,Corporate,1/9/2011,Economy,England
4,AZ-2011-617423,1/5/2011,Daniel Burke,Echirolles,France,Central,Home Office,1/7/2011,Priority,Auvergne-Rh么ne-Alpes

In [10]:
OBD.head(10)

,order_id,product_name,discount,sales,profit,quantity,category,sub-category
0,BN-2011-7407039,"Enermax Note Cards, Premium",0.5,$45.00,-$26.00,3,Office Supplies,Paper
1,AZ-2011-9050313,"Dania Corner Shelving, Traditional",0.0,$854.00,$290.00,7,Furniture,Bookcases
2,AZ-2011-6674300,"Binney & Smith Sketch Pad, Easy-Erase",0.0,$140.00,$21.00,3,Office Supplies,Art
3,BN-2011-2819714,"Boston Markers, Easy-Erase",0.5,$27.00,-$22.00,2,Office Supplies,Art
4,BN-2011-2819714,"Eldon Folders, Single Width",0.5,$17.00,-$1.00,2,Office Supplies,Storage
5,AZ-2011-617423,"Binney & Smith Pencil Sharpener, Water Color",0.0,$90.00,$21.00,3,Office Supplies,Art
6,AZ-2011-617423,"Sanford Canvas, Fluorescent",0.0,$207.00,$77.00,4,Office Supplies,Art
7,AZ-2011-2918397,"Bush Floating Shelf Set, Pine",0.1,$155.00,$36.00,1,Furniture,Bookcases
8,AZ-2011-2918397,"Accos Thumb Tacks, Assorted Sizes",0.0,$33.00,$2.00,3,Office Supplies,Fasteners
9,AZ-2011-2918397,"Smead Lockers, Industrial",0.1,$716.00,$143.00,4,Office Supplies,Storage

### 6. How many orders has each Customer placed? How many have placed more than ten orders?

Hint: Use `.value_counts()`.

In [11]:
orders['customer_name'].value_counts().head()

Jose Gambino       13
Kayla Tearle       12
Mark Washington    12
Aaron Bootman      11
Michael Myers      11
Name: customer_name, dtype: int64

In [12]:
orders['customer_name'].value_counts().shape

(792,)

In [13]:
orders['customer_name'].value_counts()[orders['customer_name'].value_counts() > 10].shape

(15,)

### 7. From the table of orders, subset on the columns containing geographical information and sort by country.

In [14]:
orders[['city', 'country', 'region', 'state']].sort_values(by='country').head()

          city  country   region     state
926     Vienna  Austria  Central    Vienna
258     Vienna  Austria  Central    Vienna
2945  Salzburg  Austria  Central  Salzburg
3971    Vienna  Austria  Central    Vienna
1302    Vienna  Austria  Central    Vienna

In the following parts you will need to use `pd.merge`.

### 8. Use a join to return a table with the Customer Name and Product Name.

In [15]:
pd.merge(orders, OBD, on='order_id')[['customer_name', 'product_name']].head()

      customer_name                           product_name
0        Ruby Patel            Enermax Note Cards, Premium
1    Summer Hayward     Dania Corner Shelving, Traditional
2  Devin Huddleston  Binney & Smith Sketch Pad, Easy-Erase
3       Mary Parker             Boston Markers, Easy-Erase
4       Mary Parker            Eldon Folders, Single Width

### 9.  How many orders for "Office Supplies" (Category) has Sweden made?

In [16]:
pd.merge(orders[orders['country'] == 'Sweden'], 
         OBD[OBD['category'] =='Office Supplies'], 
         on='order_id')[['country', 'order_id', 'category']].shape

(133, 3)

### 10. What is the total quantity of objects sold for Sweden?

In [17]:
pd.merge(orders[orders.country == 'Sweden'],
         OBD, 
         on='order_id')['quantity'].sum()

753

### 11. What Shipping method is most common for 'Bookcases' (Sub Category)

In [18]:
pd.merge(orders, 
         OBD[OBD['sub-category'] == 'Bookcases'],
         on='order_id')['ship_mode'].value_counts()

Economy         234
Economy Plus     76
Priority         59
Immediate        22
Name: ship_mode, dtype: int64