In [1]:
import requests
from bs4 import BeautifulSoup
import bs4
import pandas as pd
import numpy as np
from IPython.display import Image

In [2]:
bdrooms = []
addresses = []
rent = []

for start in range(0,480,24):
    url = 'https://www.rightmove.co.uk/property-to-rent/find.html?searchType=RENT&locationIdentifier=STATION%5E545&insId=1&radius=3.0&minPrice=&maxPrice=&minBedrooms=4&maxBedrooms=&displayPropertyType=houses&maxDaysSinceAdded=&sortByPriceDescending=&_includeLetAgreed=on&primaryDisplayPropertyType=&secondaryDisplayPropertyType=&oldDisplayPropertyType=&oldPrimaryDisplayPropertyType=&letType=&letFurnishType=&houseFlatShare='.format(start)
    r = requests.get(url)
    soup = BeautifulSoup(r.text, "html.parser")
    
    for num in soup.find_all('h2', class_= 'propertyCard-title'):
        bdrooms.append(num.text.strip())
        
    for add in soup.find_all('address', class_="propertyCard-address"):
        for meta in add:
            for loc in meta:
                if type(loc) is bs4.element.NavigableString:
                    addresses.append(loc)
                    
    for pc in soup.find_all('span', 'propertyCard-priceValue'):
        rent.append(pc.string)

In [3]:
print(len(bdrooms))
print(bdrooms[:5])
print(len(addresses))
print(addresses[:5])
print(len(rent))
print(rent[:5])

500
['4 bedroom detached house', '5 bedroom end of terrace house', '4 bedroom detached house', '5 bedroom detached house', '4 bedroom detached house']
120
['Brinkburn Grove Banbury OX16', '49B Park Road, Banbury, Oxfordshire, OX16 ', 'Laxton Way, Banbury, OX16', 'Broughton Road, Banbury, OX16', 'Vernon Way, Banbury, Oxfordshire, OX16 ']
500
['£1,700 pcm', '£625 pcm', '£1,900 pcm', '£2,250 pcm', '£3,900 pcm']

In [4]:
banbury_4beds = pd.DataFrame({'bdrooms':pd.Series(bdrooms), 'address':pd.Series(addresses), 'pcm':pd.Series(rent)})
banbury_4beds = banbury_4beds.dropna()
banbury_4beds['pcm'] = [int(''.join(filter(str.isdigit, i))) for i in banbury_4beds['pcm']]
banbury_4beds.describe()

               pcm
count    30.000000
mean   2307.000000
std    1118.012399
min     625.000000
25%    1700.000000
50%    2075.000000
75%    3467.000000
max    3900.000000

In [5]:
banbury_4beds = banbury_4beds[banbury_4beds['pcm']>=1000]
banbury_4beds.describe()

               pcm
count    25.000000
mean   2643.400000
std     896.145821
min    1700.000000
25%    1900.000000
50%    2250.000000
75%    3467.000000
max    3900.000000