In [1]:
import requests
from bs4 import BeautifulSoup
import bs4
import pandas as pd
import numpy as np
from IPython.display import Image
pd.options.display.max_rows = 5000 #(设定能显示的行数)

In [2]:
bdrooms = []
addresses = []
rent = []

for start in range(0,480,24):
    url = 'https://www.rightmove.co.uk/property-to-rent/find.html?searchType=RENT&locationIdentifier=STATION%5E3929&insId=1&radius=3.0&minPrice=&maxPrice=&minBedrooms=4&maxBedrooms=&displayPropertyType=houses&maxDaysSinceAdded=&sortByPriceDescending=&_includeLetAgreed=on&primaryDisplayPropertyType=&secondaryDisplayPropertyType=&oldDisplayPropertyType=&oldPrimaryDisplayPropertyType=&letType=&letFurnishType=&houseFlatShare='.format(start)
    r = requests.get(url)
    soup = BeautifulSoup(r.text, "html.parser")
    
    for num in soup.find_all('h2', class_= 'propertyCard-title'):
        bdrooms.append(num.text.strip())
        
    for add in soup.find_all('address', class_="propertyCard-address"):
        for meta in add:
            for loc in meta:
                if type(loc) is bs4.element.NavigableString:
                    addresses.append(loc)
                    
    for pc in soup.find_all('span', 'propertyCard-priceValue'):
        rent.append(pc.string)

In [3]:
print(len(bdrooms))
print(bdrooms[:5])
print(len(addresses))
print(addresses[:5])
print(len(rent))
print(rent[:5])

500
['4 bedroom house', '5 bedroom semi-detached house', '4 bedroom house', '5 bedroom semi-detached house', '4 bedroom terraced house']
160
['Stopes Avenue, Ebbsfleet', 'Portland Road, Gravesend', 'Edwin Street, Gravesend, Kent, DA12', 'Singlewell Road, Gravesend, DA11', 'Leigh Road, Gravesend']
500
['£2,000 pcm', '£1,450 pcm', '£1,350 pcm', '£1,900 pcm', '£1,550 pcm']

In [4]:
Gravesend_4beds = pd.DataFrame({'bdrooms':pd.Series(bdrooms), 'address':pd.Series(addresses), 'pcm':pd.Series(rent)})
Gravesend_4beds = Gravesend_4beds.dropna()
Gravesend_4beds['pcm'] = [int(''.join(filter(str.isdigit, i))) for i in Gravesend_4beds['pcm']]
Gravesend_4beds.describe()

               pcm
count    56.000000
mean   1443.750000
std     392.782903
min     700.000000
25%    1287.500000
50%    1475.000000
75%    1637.500000
max    2000.000000

In [5]:
Gravesend_4beds = Gravesend_4beds[Gravesend_4beds['pcm']>=1000]
Gravesend_4beds.describe()

               pcm
count    49.000000
mean   1550.000000
std     290.832139
min    1100.000000
25%    1350.000000
50%    1500.000000
75%    1900.000000
max    2000.000000