In [1]:
import requests
from bs4 import BeautifulSoup
import bs4
import pandas as pd
import numpy as np
from IPython.display import Image

In [2]:
bdrooms = []
addresses = []
rent = []

for start in range(0,480,24):
    url = 'https://www.rightmove.co.uk/property-to-rent/find.html?searchType=RENT&locationIdentifier=STATION%5E5957&insId=1&radius=3.0&minPrice=&maxPrice=&minBedrooms=4&maxBedrooms=&displayPropertyType=houses&maxDaysSinceAdded=&sortByPriceDescending=&_includeLetAgreed=on&primaryDisplayPropertyType=&secondaryDisplayPropertyType=&oldDisplayPropertyType=&oldPrimaryDisplayPropertyType=&letType=&letFurnishType=&houseFlatShare='.format(start)
    r = requests.get(url)
    soup = BeautifulSoup(r.text, "html.parser")
    
    for num in soup.find_all('h2', class_= 'propertyCard-title'):
        bdrooms.append(num.text.strip())
        
    for add in soup.find_all('address', class_="propertyCard-address"):
        for meta in add:
            for loc in meta:
                if type(loc) is bs4.element.NavigableString:
                    addresses.append(loc)
                    
    for pc in soup.find_all('span', 'propertyCard-priceValue'):
        rent.append(pc.string)

In [3]:
print(len(bdrooms))
print(bdrooms[:5])
print(len(addresses))
print(addresses[:5])
print(len(rent))
print(rent[:5])

500
['4 bedroom semi-detached house', '6 bedroom house share', '4 bedroom detached house', '4 bedroom semi-detached house', '4 bedroom semi-detached house']
120
['Commodore Road, Maidstone, ME14', 'King Edward Road, Maidstone, ME15', 'Park Way, Maidstone, ME15', 'Bower Street, ME16', 'Bower Street, Maidstone, Kent, ME16']
500
['£1,250 pcm', '£500 pcm', '£2,100 pcm', '£1,500 pcm', '£1,500 pcm']

In [4]:
Maidstone_4beds = pd.DataFrame({'bdrooms':pd.Series(bdrooms), 'address':pd.Series(addresses), 'pcm':pd.Series(rent)})
Maidstone_4beds = Maidstone_4beds.dropna()
Maidstone_4beds['pcm'] = [int(''.join(filter(str.isdigit, i))) for i in Maidstone_4beds['pcm']]
Maidstone_4beds.describe()

               pcm
count    30.000000
mean   1475.000000
std     536.391198
min     500.000000
25%    1250.000000
50%    1500.000000
75%    2000.000000
max    2100.000000

In [5]:
Maidstone_4beds = Maidstone_4beds[Maidstone_4beds['pcm']>=1000]
Maidstone_4beds.describe()

               pcm
count    25.000000
mean   1670.000000
std     331.662479
min    1250.000000
25%    1500.000000
50%    1500.000000
75%    2000.000000
max    2100.000000