In [1]:
import requests
from bs4 import BeautifulSoup
import bs4
import pandas as pd
import numpy as np
from IPython.display import Image
pd.options.display.max_rows = 5000 #(设定能显示的行数)

In [2]:
bdrooms = []
addresses = []
rent = []

for start in range(0,480,24):
    url = 'https://www.rightmove.co.uk/property-to-rent/find.html?locationIdentifier=REGION%5E1347&minBedrooms=4&radius=3.0&propertyTypes=detached%2Csemi-detached%2Cterraced&primaryDisplayPropertyType=houses&includeLetAgreed=false&mustHave=&dontShow=&furnishTypes=&keywords='.format(start)
    r = requests.get(url)
    soup = BeautifulSoup(r.text, "html.parser")
    
    for num in soup.find_all('h2', class_= 'propertyCard-title'):
        bdrooms.append(num.text.strip())
        
    for add in soup.find_all('address', class_="propertyCard-address"):
        for meta in add:
            for loc in meta:
                if type(loc) is bs4.element.NavigableString:
                    addresses.append(loc)
                    
    for pc in soup.find_all('span', 'propertyCard-priceValue'):
        rent.append(pc.string)

In [3]:
print(len(bdrooms))
print(bdrooms[:5])
print(len(addresses))
print(addresses[:5])
print(len(rent))
print(rent[:5])

500
['4 bedroom equestrian facility', '4 bedroom semi-detached house', '4 bedroom detached house', '4 bedroom house', '4 bedroom terraced house']
220
['Wickhurst Road, Weald, Sevenoaks, Kent, TN14', 'Lower Green Road, Tunbridge Wells, Kent, TN4', 'Ightham, Sevenoaks TN15 9EA', 'Prospect Road, Southborough', 'Culverden Down, Tunbridge Wells, TN4']
500
['£5,950 pcm', '£3,500 pcm', '£3,000 pcm', '£1,750 pcm', '£2,000 pcm']

In [4]:
Tonbridge_4bedshouse_3ms = pd.DataFrame({'bdrooms':pd.Series(bdrooms), 'address':pd.Series(addresses), 'pcm':pd.Series(rent)})
Tonbridge_4bedshouse_3ms = Tonbridge_4bedshouse_3ms.dropna()
Tonbridge_4bedshouse_3ms['pcm'] = [int(''.join(filter(str.isdigit, i))) for i in Tonbridge_4bedshouse_3ms['pcm']]
Tonbridge_4bedshouse_3ms.describe()

               pcm
count    99.000000
mean   3459.141414
std    1495.537416
min    1750.000000
25%    2000.000000
50%    3000.000000
75%    3995.000000
max    5950.000000