In [1]:
import requests
from bs4 import BeautifulSoup
import bs4
import pandas as pd
import numpy as np
from IPython.display import Image

### Go to rightmove.co.uk, search rental properties in Maidstone, and copy paste to replace the 'url' below

In [2]:
bdrooms = []
addresses = []
rent = []

for start in range(0,480,24):
    url = 'https://www.rightmove.co.uk/property-to-rent/find.html?locationIdentifier=REGION%5E1474&maxBedrooms=2&minBedrooms=2&radius=1.0&propertyTypes=flat&primaryDisplayPropertyType=flats&includeLetAgreed=false&mustHave=&dontShow=&furnishTypes=&keywords='.format(start)
    r = requests.get(url)
    soup = BeautifulSoup(r.text, "html.parser")
    
    for num in soup.find_all('h2', class_= 'propertyCard-title'):
        bdrooms.append(num.text.strip())
        
    for add in soup.find_all('address', class_="propertyCard-address"):
        for meta in add:
            for loc in meta:
                if type(loc) is bs4.element.NavigableString:
                    addresses.append(loc)
                    
    for pc in soup.find_all('span', 'propertyCard-priceValue'):
        rent.append(pc.string)

In [3]:
print(len(bdrooms))
print(bdrooms[:5])
print(len(addresses))
print(addresses[:5])
print(len(rent))
print(rent[:5])

500
['2 bedroom apartment', '2 bedroom apartment', '2 bedroom apartment', '2 bedroom apartment', '2 bedroom apartment']
500
['Woking', 'Woking', 'Park Heights, Constitution Hill, GU22', 'Woking', 'Station Approach, Woking, Surrey, GU22']
500
['£1,000 pcm', '£1,000 pcm', '£1,350 pcm', '£1,275 pcm', '£1,500 pcm']

In [4]:
woking_2bedsflat_3ms = pd.DataFrame({'bdrooms':pd.Series(bdrooms), 'address':pd.Series(addresses), 'pcm':pd.Series(rent)})
woking_2bedsflat_3ms = woking_2bedsflat_3ms.dropna()
woking_2bedsflat_3ms['pcm'] = [int(''.join(filter(str.isdigit, i))) for i in woking_2bedsflat_3ms['pcm']]
woking_2bedsflat_3ms.describe()

               pcm
count   500.000000
mean   1185.280000
std     149.600408
min     860.000000
25%    1100.000000
50%    1200.000000
75%    1295.000000
max    1500.000000